{
  "openapi": "3.0.3",
  "info": {
    "title": "Olie API",
    "description": "# Introdução 👋\n\nBem vindo, esta é a documentação oficial da API da [olie.ai](https://olie.ai/) aqui você poderá encontrar instruções de uso, dicas e referência sobre nossa API. Foi projetada para atender todas as demandas da plataforma, exatamente as mesmas funções que disponibilizamos em nossas interfaces.\n\n# Começando 🚀\n\nTodos os requests são HTTPS via domínio [api.olie.ai](https://api.olie.ai), utilizando o padrão REST.\n\n# Autenticação 🔑\n\nPara fazer requisições, é necessário autenticar cada pedido com as credenciais da sua aplicação. Veja os passos básicos para começar a implementar as nossas soluções.\n\nAs solicitações são autenticadas com um token de acesso da API. O token deve ser passado como um Bearer token, no cabeçalho da requisição:\n\n``` bash\n// passando o token como Bearer token\ncurl -H \"Authorization: {{vault:bearer-token}}\" https://api.olie.ai/...\n\n ```\n\n## Como obter o token de acesso\n\n1. Acesse a sua empresa em [https://olie.ai/frames](https://olie.ai/frames). Depois vá em ajustes.\n    \n    <img src=\"https://olie-main.s3.sa-east-1.amazonaws.com/app/frames/baa6959c-9db5-4e36-ab79-7b53dfa63483/media_files/4US0yBiC8q3uPlJhz1vcYgjwdAorK9MZ2VnL-image.png\" width=\"267\" height=\"246\">\n    \n2. Após isso, clique em \"Aplicações\".\n    \n    <img src=\"https://olie-main.s3.sa-east-1.amazonaws.com/app/frames/baa6959c-9db5-4e36-ab79-7b53dfa63483/media_files/J016pB2cNgZjxDzMfhm8vysCRaXWnoLPq5Kr-image.png\" width=\"312\" height=\"149\">\n    \n3. Crie uma aplicação clicando no botão \"Criar aplicação\" e preencha os campos obrigatórios. Após isso, você verá o token de acesso gerado.\n    \n    <img src=\"https://olie-main.s3.sa-east-1.amazonaws.com/app/frames/baa6959c-9db5-4e36-ab79-7b53dfa63483/media_files/PkbKmJC7zQ4OZlja3VLyNTDF8YWrox9wd1iX-image.png\" width=\"522\" height=\"297\">\n    \n\n## Alertas sobre o token\n\n- Guarde-o em um local seguro, pois ele **não será exibido novamente**.\n    \n- O token concede acesso privilegiado a empresa.\n    \n\n# Formato das respostas da API\n\nAs respostas da API tendem a seguir um formato padronizado para facilitar o tratamento dos dados, porém há exceções em que um request pode customizar a sua saída. A seguir, veja exemplos de como interpretar os retornos em diferentes situações.\n\n## Exemplo de resposta de sucesso\n\n``` json\n{\n  \"response\": true,\n  ...\n}\n\n ```\n\nEsta resposta indica que a requisição foi bem-sucedida, ou em outras palavras, o \"response true\", indicaria algo como \"esse endpoint esta devolvendo o que esperamos\", podendo trazer o status code 200 ou outro algum status a depender do request. Campos adicionais (representados por `...`) podem conter os dados retornados pela operação.\n\n## Exemplo de resposta de erro\n\n``` json\n{\n  \"response\": false,\n  \"message\": \"nome_ou_tipo_do_erro\",\n  \"error\": \"mensagem_detalhada_do_erro\"\n}\n\n ```\n\nEssa resposta indica que houve um erro na requisição. A chave \"message\" descreve o tipo de erro, enquanto \"error\" detalha a causa.",
    "version": "1.0.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.olie.ai"
    }
  ],
  "paths": {
    "/projects/{id}/restore": {
      "post": {
        "tags": [
          "projects",
          "{id}",
          "restore"
        ],
        "summary": "Restaurar projeto",
        "description": "Restaura um projeto que foi deletado.",
        "operationId": "restaurarProjeto",
        "responses": {
          "200": {
            "description": "Response de sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "string",
                      "example": "<boolean>"
                    }
                  }
                },
                "examples": {
                  "Response de sucesso": {
                    "value": {
                      "response": "<boolean>"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "response": {
                      "type": "string",
                      "example": "<boolean>"
                    }
                  }
                },
                "examples": {
                  "Não autorizado": {
                    "value": {
                      "error": "<string>",
                      "message": "<string>",
                      "response": "<boolean>"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Model não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "response": {
                      "type": "string",
                      "example": "<boolean>"
                    }
                  }
                },
                "examples": {
                  "Model não encontrada": {
                    "value": {
                      "error": "<string>",
                      "message": "<string>",
                      "response": "<boolean>"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "<string>"
          },
          "description": "ID do projeto"
        }
      ]
    },
    "/projects/{id}/medias": {
      "get": {
        "tags": [
          "projects",
          "{id}",
          "medias"
        ],
        "summary": "Listar conteúdos do projeto",
        "description": "Retorna uma lista de conteúdos do projeto com base nos filtros fornecidos.",
        "operationId": "listarConteDosDoProjeto",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "1"
            },
            "description": "Número da página a ser retornada. Começa em 1"
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "30"
            },
            "description": "Quantidade de itens exibidos por página. Define o tamanho da página de resultados"
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "default"
            },
            "description": "Filtro aplicado ao resultado. Valores possíveis: logs, content, default."
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de conteúdos do projeto retornada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "medias": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "example": "<dateTime>"
                          },
                          "deleted_at": {
                            "type": "string",
                            "example": "<dateTime>"
                          },
                          "extension": {
                            "type": "string",
                            "example": "<string>"
                          },
                          "file_url": {
                            "type": "string",
                            "example": "<uri>"
                          },
                          "frame_id": {
                            "type": "string",
                            "example": "<uuid>"
                          },
                          "id": {
                            "type": "string",
                            "example": "<uuid>"
                          },
                          "log": {
                            "type": "string",
                            "example": "<string>"
                          },
                          "name": {
                            "type": "string",
                            "example": "<string>"
                          },
                          "project_id": {
                            "type": "string",
                            "example": "<uuid>"
                          },
                          "technical_name": {
                            "type": "string",
                            "example": "<string>"
                          },
                          "text": {
                            "type": "string",
                            "example": "<string>"
                          },
                          "type": {
                            "type": "string",
                            "example": "<integer>"
                          },
                          "updated_at": {
                            "type": "string",
                            "example": "<dateTime>"
                          },
                          "user": {
                            "type": "object",
                            "properties": {}
                          },
                          "user_id": {
                            "type": "string",
                            "example": "<uuid>"
                          }
                        }
                      },
                      "example": [
                        {
                          "created_at": "<dateTime>",
                          "deleted_at": "<dateTime>",
                          "extension": "<string>",
                          "file_url": "<uri>",
                          "frame_id": "<uuid>",
                          "id": "<uuid>",
                          "log": "<string>",
                          "name": "<string>",
                          "project_id": "<uuid>",
                          "technical_name": "<string>",
                          "text": "<string>",
                          "type": "<integer>",
                          "updated_at": "<dateTime>",
                          "user": {},
                          "user_id": "<uuid>"
                        },
                        {
                          "created_at": "<dateTime>",
                          "deleted_at": "<dateTime>",
                          "extension": "<string>",
                          "file_url": "<uri>",
                          "frame_id": "<uuid>",
                          "id": "<uuid>",
                          "log": "<string>",
                          "name": "<string>",
                          "project_id": "<uuid>",
                          "technical_name": "<string>",
                          "text": "<string>",
                          "type": "<integer>",
                          "updated_at": "<dateTime>",
                          "user": {},
                          "user_id": "<uuid>"
                        }
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "string",
                          "example": "<integer>"
                        },
                        "from": {
                          "type": "string",
                          "example": "<integer>"
                        },
                        "last_page": {
                          "type": "string",
                          "example": "<integer>"
                        },
                        "per_page": {
                          "type": "string",
                          "example": "<integer>"
                        },
                        "to": {
                          "type": "string",
                          "example": "<integer>"
                        },
                        "total": {
                          "type": "string",
                          "example": "<integer>"
                        }
                      }
                    },
                    "response": {
                      "type": "string",
                      "example": "<boolean>"
                    }
                  }
                },
                "examples": {
                  "Lista de conteúdos do projeto retornada com sucesso": {
                    "value": {
                      "medias": [
                        {
                          "created_at": "<dateTime>",
                          "deleted_at": "<dateTime>",
                          "extension": "<string>",
                          "file_url": "<uri>",
                          "frame_id": "<uuid>",
                          "id": "<uuid>",
                          "log": "<string>",
                          "name": "<string>",
                          "project_id": "<uuid>",
                          "technical_name": "<string>",
                          "text": "<string>",
                          "type": "<integer>",
                          "updated_at": "<dateTime>",
                          "user": {},
                          "user_id": "<uuid>"
                        },
                        {
                          "created_at": "<dateTime>",
                          "deleted_at": "<dateTime>",
                          "extension": "<string>",
                          "file_url": "<uri>",
                          "frame_id": "<uuid>",
                          "id": "<uuid>",
                          "log": "<string>",
                          "name": "<string>",
                          "project_id": "<uuid>",
                          "technical_name": "<string>",
                          "text": "<string>",
                          "type": "<integer>",
                          "updated_at": "<dateTime>",
                          "user": {},
                          "user_id": "<uuid>"
                        }
                      ],
                      "meta": {
                        "current_page": "<integer>",
                        "from": "<integer>",
                        "last_page": "<integer>",
                        "per_page": "<integer>",
                        "to": "<integer>",
                        "total": "<integer>"
                      },
                      "response": "<boolean>"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "response": {
                      "type": "string",
                      "example": "<boolean>"
                    }
                  }
                },
                "examples": {
                  "Não autorizado": {
                    "value": {
                      "error": "<string>",
                      "message": "<string>",
                      "response": "<boolean>"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "projects",
          "{id}",
          "medias"
        ],
        "summary": "Enviar conteúdo no projeto",
        "description": "Envia um novo conteúdo para o projeto.",
        "operationId": "enviarConteDoNoProjeto",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "audio": {
                    "type": "string",
                    "example": "<binary>"
                  },
                  "file[0]": {
                    "type": "string",
                    "example": "<binary>"
                  },
                  "text": {
                    "type": "string",
                    "example": "<string>"
                  },
                  "type": {
                    "type": "number",
                    "example": 3
                  }
                }
              },
              "examples": {
                "Enviar conteúdo no projeto": {
                  "value": {
                    "audio": "<binary>",
                    "file[0]": "<binary>",
                    "text": "<string>",
                    "type": 3
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Conteúdo enviado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "media": {
                      "type": "object",
                      "properties": {
                        "created_at": {
                          "type": "string",
                          "example": "<dateTime>"
                        },
                        "deleted_at": {
                          "type": "string",
                          "example": "<dateTime>"
                        },
                        "extension": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "file_url": {
                          "type": "string",
                          "example": "<uri>"
                        },
                        "frame_id": {
                          "type": "string",
                          "example": "<uuid>"
                        },
                        "id": {
                          "type": "string",
                          "example": "<uuid>"
                        },
                        "log": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "name": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "project_id": {
                          "type": "string",
                          "example": "<uuid>"
                        },
                        "technical_name": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "text": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "type": {
                          "type": "string",
                          "example": "<integer>"
                        },
                        "updated_at": {
                          "type": "string",
                          "example": "<dateTime>"
                        },
                        "user": {
                          "type": "object",
                          "properties": {}
                        },
                        "user_id": {
                          "type": "string",
                          "example": "<uuid>"
                        }
                      }
                    },
                    "response": {
                      "type": "string",
                      "example": "<boolean>"
                    }
                  }
                },
                "examples": {
                  "Conteúdo enviado com sucesso": {
                    "value": {
                      "media": {
                        "created_at": "<dateTime>",
                        "deleted_at": "<dateTime>",
                        "extension": "<string>",
                        "file_url": "<uri>",
                        "frame_id": "<uuid>",
                        "id": "<uuid>",
                        "log": "<string>",
                        "name": "<string>",
                        "project_id": "<uuid>",
                        "technical_name": "<string>",
                        "text": "<string>",
                        "type": "<integer>",
                        "updated_at": "<dateTime>",
                        "user": {},
                        "user_id": "<uuid>"
                      },
                      "response": "<boolean>"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "response": {
                      "type": "string",
                      "example": "<boolean>"
                    }
                  }
                },
                "examples": {
                  "Não autorizado": {
                    "value": {
                      "error": "<string>",
                      "message": "<string>",
                      "response": "<boolean>"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Erro de validação",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "response": {
                      "type": "string",
                      "example": "<boolean>"
                    },
                    "validation": {
                      "type": "object",
                      "properties": {}
                    }
                  }
                },
                "examples": {
                  "Erro de validação": {
                    "value": {
                      "error": "<string>",
                      "message": "<string>",
                      "response": "<boolean>",
                      "validation": {}
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "<string>"
          },
          "description": "ID do projeto"
        }
      ]
    },
    "/projects/{id}": {
      "get": {
        "tags": [
          "projects",
          "{id}"
        ],
        "summary": "Exibir um projeto",
        "description": "Retorna os detalhes de um projeto específico pelo ID.",
        "operationId": "exibirUmProjeto",
        "responses": {
          "200": {
            "description": "Projeto retornado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "project": {
                      "type": "object",
                      "properties": {
                        "budget": {
                          "type": "string",
                          "example": "<float>"
                        },
                        "code": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "contact": {
                          "type": "object",
                          "properties": {}
                        },
                        "contact_id": {
                          "type": "string",
                          "example": "<integer>"
                        },
                        "costs": {
                          "type": "object",
                          "properties": {}
                        },
                        "created_at": {
                          "type": "string",
                          "example": "<dateTime>"
                        },
                        "created_by": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "customer": {
                          "type": "object",
                          "properties": {}
                        },
                        "customer_id": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "deleted_at": {
                          "type": "string",
                          "example": "<dateTime>"
                        },
                        "description": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "form": {
                          "type": "object",
                          "properties": {}
                        },
                        "forum": {
                          "type": "object",
                          "properties": {}
                        },
                        "frame": {
                          "type": "object",
                          "properties": {}
                        },
                        "frame_id": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "id": {
                          "type": "string",
                          "example": "<uuid>"
                        },
                        "impact": {
                          "type": "string",
                          "example": "<integer>"
                        },
                        "is_template": {
                          "type": "string",
                          "example": "<boolean>"
                        },
                        "merged_id": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "merged_project": {
                          "type": "object",
                          "properties": {}
                        },
                        "name": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "old_id": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "parent_id": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "share_settings": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "share_token": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "status": {
                          "type": "string",
                          "example": "<integer>"
                        },
                        "step_form": {
                          "type": "object",
                          "properties": {}
                        },
                        "updated_at": {
                          "type": "string",
                          "example": "<dateTime>"
                        }
                      }
                    },
                    "response": {
                      "type": "string",
                      "example": "<boolean>"
                    }
                  }
                },
                "examples": {
                  "Projeto retornado com sucesso": {
                    "value": {
                      "project": {
                        "budget": "<float>",
                        "code": "<string>",
                        "contact": {},
                        "contact_id": "<integer>",
                        "costs": {},
                        "created_at": "<dateTime>",
                        "created_by": "<string>",
                        "customer": {},
                        "customer_id": "<string>",
                        "deleted_at": "<dateTime>",
                        "description": "<string>",
                        "form": {},
                        "forum": {},
                        "frame": {},
                        "frame_id": "<string>",
                        "id": "<uuid>",
                        "impact": "<integer>",
                        "is_template": "<boolean>",
                        "merged_id": "<string>",
                        "merged_project": {},
                        "name": "<string>",
                        "old_id": "<string>",
                        "parent_id": "<string>",
                        "share_settings": "<string>",
                        "share_token": "<string>",
                        "status": "<integer>",
                        "step_form": {},
                        "updated_at": "<dateTime>"
                      },
                      "response": "<boolean>"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "response": {
                      "type": "string",
                      "example": "<boolean>"
                    }
                  }
                },
                "examples": {
                  "Não autorizado": {
                    "value": {
                      "error": "<string>",
                      "message": "<string>",
                      "response": "<boolean>"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Model não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "response": {
                      "type": "string",
                      "example": "<boolean>"
                    }
                  }
                },
                "examples": {
                  "Model não encontrada": {
                    "value": {
                      "error": "<string>",
                      "message": "<string>",
                      "response": "<boolean>"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "projects",
          "{id}"
        ],
        "summary": "Atualizar projeto",
        "description": "Atualiza os dados de um projeto existente.",
        "operationId": "atualizarProjeto",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "budget": {
                    "type": "string",
                    "example": "<float>"
                  },
                  "contact_id": {
                    "type": "string",
                    "example": "<string>"
                  },
                  "customer_id": {
                    "type": "string",
                    "example": "<string>"
                  },
                  "description": {
                    "type": "string",
                    "example": "<string>"
                  },
                  "forecast_dates": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "date": {
                          "type": "string",
                          "example": "<date>"
                        },
                        "project_funnel_id": {
                          "type": "string",
                          "example": "<integer>"
                        }
                      }
                    },
                    "example": [
                      {
                        "date": "<date>",
                        "project_funnel_id": "<integer>"
                      },
                      {
                        "date": "<date>",
                        "project_funnel_id": "<integer>"
                      }
                    ]
                  },
                  "funnel_status": {
                    "type": "object",
                    "properties": {
                      "funnel_status_id": {
                        "type": "string",
                        "example": "<integer>"
                      },
                      "project_funnel_id": {
                        "type": "string",
                        "example": "<integer>"
                      }
                    }
                  },
                  "funnels": {
                    "type": "object",
                    "properties": {
                      "to_add": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "example": "<integer>"
                        },
                        "example": [
                          "<integer>",
                          "<integer>"
                        ]
                      },
                      "to_rem": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "example": "<integer>"
                        },
                        "example": [
                          "<integer>",
                          "<integer>"
                        ]
                      }
                    }
                  },
                  "groups": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "to_add": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "<uuid>"
                          },
                          "example": [
                            "<uuid>",
                            "<uuid>"
                          ]
                        },
                        "to_rem": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "<uuid>"
                          },
                          "example": [
                            "<uuid>",
                            "<uuid>"
                          ]
                        }
                      }
                    },
                    "example": [
                      {
                        "to_add": [
                          "<uuid>",
                          "<uuid>"
                        ],
                        "to_rem": [
                          "<uuid>",
                          "<uuid>"
                        ]
                      },
                      {
                        "to_add": [
                          "<uuid>",
                          "<uuid>"
                        ],
                        "to_rem": [
                          "<uuid>",
                          "<uuid>"
                        ]
                      }
                    ]
                  },
                  "impact": {
                    "type": "string",
                    "example": "<integer>"
                  },
                  "is_template": {
                    "type": "string",
                    "example": "<boolean>"
                  },
                  "name": {
                    "type": "string",
                    "example": "<string>"
                  },
                  "prefix": {
                    "type": "string",
                    "example": "<string>"
                  },
                  "status": {
                    "type": "string",
                    "example": "3"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "to_add": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "<integer>"
                          },
                          "example": [
                            "<integer>",
                            "<integer>"
                          ]
                        },
                        "to_rem": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "<integer>"
                          },
                          "example": [
                            "<integer>",
                            "<integer>"
                          ]
                        }
                      }
                    },
                    "example": [
                      {
                        "to_add": [
                          "<integer>",
                          "<integer>"
                        ],
                        "to_rem": [
                          "<integer>",
                          "<integer>"
                        ]
                      },
                      {
                        "to_add": [
                          "<integer>",
                          "<integer>"
                        ],
                        "to_rem": [
                          "<integer>",
                          "<integer>"
                        ]
                      }
                    ]
                  },
                  "users": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "action": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "role": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "user_id": {
                          "type": "string",
                          "example": "<uuid>"
                        }
                      }
                    },
                    "example": [
                      {
                        "action": "<string>",
                        "role": "<string>",
                        "user_id": "<uuid>"
                      },
                      {
                        "action": "<string>",
                        "role": "<string>",
                        "user_id": "<uuid>"
                      }
                    ]
                  }
                }
              },
              "examples": {
                "Atualizar projeto": {
                  "value": {
                    "budget": "<float>",
                    "contact_id": "<string>",
                    "customer_id": "<string>",
                    "description": "<string>",
                    "forecast_dates": [
                      {
                        "date": "<date>",
                        "project_funnel_id": "<integer>"
                      },
                      {
                        "date": "<date>",
                        "project_funnel_id": "<integer>"
                      }
                    ],
                    "funnel_status": {
                      "funnel_status_id": "<integer>",
                      "project_funnel_id": "<integer>"
                    },
                    "funnels": {
                      "to_add": [
                        "<integer>",
                        "<integer>"
                      ],
                      "to_rem": [
                        "<integer>",
                        "<integer>"
                      ]
                    },
                    "groups": [
                      {
                        "to_add": [
                          "<uuid>",
                          "<uuid>"
                        ],
                        "to_rem": [
                          "<uuid>",
                          "<uuid>"
                        ]
                      },
                      {
                        "to_add": [
                          "<uuid>",
                          "<uuid>"
                        ],
                        "to_rem": [
                          "<uuid>",
                          "<uuid>"
                        ]
                      }
                    ],
                    "impact": "<integer>",
                    "is_template": "<boolean>",
                    "name": "<string>",
                    "prefix": "<string>",
                    "status": "3",
                    "tags": [
                      {
                        "to_add": [
                          "<integer>",
                          "<integer>"
                        ],
                        "to_rem": [
                          "<integer>",
                          "<integer>"
                        ]
                      },
                      {
                        "to_add": [
                          "<integer>",
                          "<integer>"
                        ],
                        "to_rem": [
                          "<integer>",
                          "<integer>"
                        ]
                      }
                    ],
                    "users": [
                      {
                        "action": "<string>",
                        "role": "<string>",
                        "user_id": "<uuid>"
                      },
                      {
                        "action": "<string>",
                        "role": "<string>",
                        "user_id": "<uuid>"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Projeto atualizado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "project": {
                      "type": "object",
                      "properties": {
                        "budget": {
                          "type": "string",
                          "example": "<float>"
                        },
                        "code": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "contact": {
                          "type": "object",
                          "properties": {}
                        },
                        "contact_id": {
                          "type": "string",
                          "example": "<integer>"
                        },
                        "costs": {
                          "type": "object",
                          "properties": {}
                        },
                        "created_at": {
                          "type": "string",
                          "example": "<dateTime>"
                        },
                        "created_by": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "customer": {
                          "type": "object",
                          "properties": {}
                        },
                        "customer_id": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "deleted_at": {
                          "type": "string",
                          "example": "<dateTime>"
                        },
                        "description": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "form": {
                          "type": "object",
                          "properties": {}
                        },
                        "forum": {
                          "type": "object",
                          "properties": {}
                        },
                        "frame": {
                          "type": "object",
                          "properties": {}
                        },
                        "frame_id": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "id": {
                          "type": "string",
                          "example": "<uuid>"
                        },
                        "impact": {
                          "type": "string",
                          "example": "<integer>"
                        },
                        "is_template": {
                          "type": "string",
                          "example": "<boolean>"
                        },
                        "merged_id": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "merged_project": {
                          "type": "object",
                          "properties": {}
                        },
                        "name": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "old_id": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "parent_id": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "share_settings": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "share_token": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "status": {
                          "type": "string",
                          "example": "<integer>"
                        },
                        "step_form": {
                          "type": "object",
                          "properties": {}
                        },
                        "updated_at": {
                          "type": "string",
                          "example": "<dateTime>"
                        }
                      }
                    },
                    "response": {
                      "type": "string",
                      "example": "<boolean>"
                    }
                  }
                },
                "examples": {
                  "Projeto atualizado com sucesso": {
                    "value": {
                      "project": {
                        "budget": "<float>",
                        "code": "<string>",
                        "contact": {},
                        "contact_id": "<integer>",
                        "costs": {},
                        "created_at": "<dateTime>",
                        "created_by": "<string>",
                        "customer": {},
                        "customer_id": "<string>",
                        "deleted_at": "<dateTime>",
                        "description": "<string>",
                        "form": {},
                        "forum": {},
                        "frame": {},
                        "frame_id": "<string>",
                        "id": "<uuid>",
                        "impact": "<integer>",
                        "is_template": "<boolean>",
                        "merged_id": "<string>",
                        "merged_project": {},
                        "name": "<string>",
                        "old_id": "<string>",
                        "parent_id": "<string>",
                        "share_settings": "<string>",
                        "share_token": "<string>",
                        "status": "<integer>",
                        "step_form": {},
                        "updated_at": "<dateTime>"
                      },
                      "response": "<boolean>"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "response": {
                      "type": "string",
                      "example": "<boolean>"
                    }
                  }
                },
                "examples": {
                  "Não autorizado": {
                    "value": {
                      "error": "<string>",
                      "message": "<string>",
                      "response": "<boolean>"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Model não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "response": {
                      "type": "string",
                      "example": "<boolean>"
                    }
                  }
                },
                "examples": {
                  "Model não encontrada": {
                    "value": {
                      "error": "<string>",
                      "message": "<string>",
                      "response": "<boolean>"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Erro de validação",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "response": {
                      "type": "string",
                      "example": "<boolean>"
                    },
                    "validation": {
                      "type": "object",
                      "properties": {}
                    }
                  }
                },
                "examples": {
                  "Erro de validação": {
                    "value": {
                      "error": "<string>",
                      "message": "<string>",
                      "response": "<boolean>",
                      "validation": {}
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "projects",
          "{id}"
        ],
        "summary": "Deletar projeto",
        "description": "Deleta um projeto pelo ID.",
        "operationId": "deletarProjeto",
        "responses": {
          "200": {
            "description": "Response de sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "string",
                      "example": "<boolean>"
                    }
                  }
                },
                "examples": {
                  "Response de sucesso": {
                    "value": {
                      "response": "<boolean>"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "response": {
                      "type": "string",
                      "example": "<boolean>"
                    }
                  }
                },
                "examples": {
                  "Não autorizado": {
                    "value": {
                      "error": "<string>",
                      "message": "<string>",
                      "response": "<boolean>"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Model não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "response": {
                      "type": "string",
                      "example": "<boolean>"
                    }
                  }
                },
                "examples": {
                  "Model não encontrada": {
                    "value": {
                      "error": "<string>",
                      "message": "<string>",
                      "response": "<boolean>"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "<string>"
          },
          "description": "ID do projeto"
        }
      ]
    },
    "/api/management/projects": {
      "get": {
        "tags": [
          "projects"
        ],
        "summary": "Listar projetos",
        "description": "Este request é normalmente utilizado para campos de autocomplete, e buscas mais simples, pois é um request que entrega menos informações que uma busca avançada. Se você estiver buscando encontrar projetos baseado em um conjunto de filtros avançados e específicos, considere usar a busca avançada.\n\nPossui paginação e aceita alguns filtros via query params, consulte:\n\n- [Filtro básico](https://docs.olie.ai/api-reference/general/basic-filters)",
        "operationId": "listarProjetos",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "1"
            },
            "description": "Número da página a ser retornada. Começa em 1"
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "30"
            },
            "description": "Quantidade de itens exibidos por página. Define o tamanho da página de resultados"
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string",
              "example": ""
            },
            "description": "Permite aplicar filtros aos resultados da listagem. Use a sintaxe `filter[campo]=valor` para filtrar por campos específicos. Campos disponíveis variam por recurso. Consulte a documentação sobre [filtros básicos](https://docs.olie.ai/api-reference/general/basic-filters)"
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Hopper"
            },
            "description": "Filtrar projetos pelo nome ou código"
          },
          {
            "name": "trashed",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "true"
            },
            "description": "Filtrar deletados"
          },
          {
            "name": "template",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "true"
            },
            "description": "Filtrar projetos templates"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "name"
            },
            "description": "Campo usado para ordenação. Ex: name, created_at, etc."
          },
          {
            "name": "direction",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "asc"
            },
            "description": "Direção da ordenação: asc (crescente) ou desc (decrescente)."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Listar projetos": {
                  "value": ""
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "br"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 11 Dec 2025 22:58:12 GMT"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "access-control-allow-origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "access-control-expose-headers": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "x-content-type-options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "x-frame-options": {
                "schema": {
                  "type": "string",
                  "example": "SAMEORIGIN"
                }
              },
              "x-ratelimit-limit": {
                "schema": {
                  "type": "string",
                  "example": "160"
                }
              },
              "x-ratelimit-remaining": {
                "schema": {
                  "type": "string",
                  "example": "159"
                }
              },
              "x-xss-protection": {
                "schema": {
                  "type": "string",
                  "example": "1; mode=block"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "number",
                          "example": 1
                        },
                        "from": {
                          "type": "number",
                          "example": 1
                        },
                        "last_page": {
                          "type": "number",
                          "example": 1
                        },
                        "per_page": {
                          "type": "number",
                          "example": 30
                        },
                        "to": {
                          "type": "number",
                          "example": 2
                        },
                        "total": {
                          "type": "number",
                          "example": 2
                        }
                      }
                    },
                    "projects": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "budget": {
                            "type": "number",
                            "example": 100000
                          },
                          "code": {
                            "type": "string",
                            "example": "P-2"
                          },
                          "contact": {
                            "nullable": true,
                            "example": null
                          },
                          "contact_id": {
                            "nullable": true,
                            "example": null
                          },
                          "costs": {
                            "nullable": true,
                            "example": null
                          },
                          "created_at": {
                            "type": "string",
                            "example": "2025-12-11T22:57:33.000000Z"
                          },
                          "created_by": {
                            "type": "string",
                            "example": "78be4cc7-8b9b-4351-b280-4669c7f3901f"
                          },
                          "customer": {
                            "nullable": true,
                            "example": null
                          },
                          "customer_id": {
                            "nullable": true,
                            "example": null
                          },
                          "deleted_at": {
                            "nullable": true,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "example": "Companhia de energia"
                          },
                          "executors": {
                            "type": "array",
                            "items": {},
                            "example": []
                          },
                          "form": {
                            "nullable": true,
                            "example": null
                          },
                          "form_answers": {
                            "type": "array",
                            "items": {},
                            "example": []
                          },
                          "frame": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "019b0f9f-e161-71eb-93ac-dad119479a14"
                              },
                              "model_forms": {
                                "nullable": true,
                                "example": null
                              },
                              "name": {
                                "type": "string",
                                "example": "demo-api"
                              },
                              "subdomain": {
                                "type": "string",
                                "example": "demoapi"
                              }
                            }
                          },
                          "frame_id": {
                            "type": "string",
                            "example": "019b0f9f-e161-71eb-93ac-dad119479a14"
                          },
                          "funnel_steps": {
                            "type": "array",
                            "items": {},
                            "example": []
                          },
                          "funnels": {
                            "type": "array",
                            "items": {},
                            "example": []
                          },
                          "groups": {
                            "type": "array",
                            "items": {},
                            "example": []
                          },
                          "id": {
                            "type": "string",
                            "example": "019b0fa2-4b59-7261-91e7-82fd98245f07"
                          },
                          "impact": {
                            "type": "number",
                            "example": 3
                          },
                          "is_template": {
                            "type": "boolean",
                            "example": false
                          },
                          "merged_id": {
                            "nullable": true,
                            "example": null
                          },
                          "name": {
                            "type": "string",
                            "example": "Hawkins Lab's"
                          },
                          "old_id": {
                            "nullable": true,
                            "example": null
                          },
                          "parent_id": {
                            "nullable": true,
                            "example": null
                          },
                          "share_settings": {
                            "nullable": true,
                            "example": null
                          },
                          "share_token": {
                            "nullable": true,
                            "example": null
                          },
                          "status": {
                            "type": "number",
                            "example": 1
                          },
                          "tags": {
                            "type": "array",
                            "items": {},
                            "example": []
                          },
                          "tasks": {
                            "type": "array",
                            "items": {},
                            "example": []
                          },
                          "updated_at": {
                            "type": "string",
                            "example": "2025-12-11T22:57:33.000000Z"
                          },
                          "users": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "avatar_url": {
                                  "type": "string",
                                  "example": "https://olie-main.s3.sa-east-1.amazonaws.com/app/avatars/P14xMWfk6lhBz9ZqesyCOjIXuS0EGiwAdKN2-avatar-1764178989.png"
                                },
                                "id": {
                                  "type": "string",
                                  "example": "78be4cc7-8b9b-4351-b280-4669c7f3901f"
                                },
                                "name": {
                                  "type": "string",
                                  "example": "Guilherme Henrique da Silva"
                                },
                                "pivot": {
                                  "type": "object",
                                  "properties": {
                                    "created_at": {
                                      "type": "string",
                                      "example": "2025-12-11T22:57:33.000000Z"
                                    },
                                    "project_id": {
                                      "type": "string",
                                      "example": "019b0fa2-4b59-7261-91e7-82fd98245f07"
                                    },
                                    "role": {
                                      "type": "string",
                                      "example": "creator"
                                    },
                                    "updated_at": {
                                      "type": "string",
                                      "example": "2025-12-11T22:57:33.000000Z"
                                    },
                                    "user_id": {
                                      "type": "string",
                                      "example": "78be4cc7-8b9b-4351-b280-4669c7f3901f"
                                    }
                                  }
                                }
                              }
                            },
                            "example": [
                              {
                                "avatar_url": "https://olie-main.s3.sa-east-1.amazonaws.com/app/avatars/P14xMWfk6lhBz9ZqesyCOjIXuS0EGiwAdKN2-avatar-1764178989.png",
                                "id": "78be4cc7-8b9b-4351-b280-4669c7f3901f",
                                "name": "Guilherme Henrique da Silva",
                                "pivot": {
                                  "created_at": "2025-12-11T22:57:33.000000Z",
                                  "project_id": "019b0fa2-4b59-7261-91e7-82fd98245f07",
                                  "role": "creator",
                                  "updated_at": "2025-12-11T22:57:33.000000Z",
                                  "user_id": "78be4cc7-8b9b-4351-b280-4669c7f3901f"
                                }
                              }
                            ]
                          }
                        }
                      },
                      "example": [
                        {
                          "budget": 100000,
                          "code": "P-2",
                          "contact": null,
                          "contact_id": null,
                          "costs": null,
                          "created_at": "2025-12-11T22:57:33.000000Z",
                          "created_by": "78be4cc7-8b9b-4351-b280-4669c7f3901f",
                          "customer": null,
                          "customer_id": null,
                          "deleted_at": null,
                          "description": "Companhia de energia",
                          "executors": [],
                          "form": null,
                          "form_answers": [],
                          "frame": {
                            "id": "019b0f9f-e161-71eb-93ac-dad119479a14",
                            "model_forms": null,
                            "name": "demo-api",
                            "subdomain": "demoapi"
                          },
                          "frame_id": "019b0f9f-e161-71eb-93ac-dad119479a14",
                          "funnel_steps": [],
                          "funnels": [],
                          "groups": [],
                          "id": "019b0fa2-4b59-7261-91e7-82fd98245f07",
                          "impact": 3,
                          "is_template": false,
                          "merged_id": null,
                          "name": "Hawkins Lab's",
                          "old_id": null,
                          "parent_id": null,
                          "share_settings": null,
                          "share_token": null,
                          "status": 1,
                          "tags": [],
                          "tasks": [],
                          "updated_at": "2025-12-11T22:57:33.000000Z",
                          "users": [
                            {
                              "avatar_url": "https://olie-main.s3.sa-east-1.amazonaws.com/app/avatars/P14xMWfk6lhBz9ZqesyCOjIXuS0EGiwAdKN2-avatar-1764178989.png",
                              "id": "78be4cc7-8b9b-4351-b280-4669c7f3901f",
                              "name": "Guilherme Henrique da Silva",
                              "pivot": {
                                "created_at": "2025-12-11T22:57:33.000000Z",
                                "project_id": "019b0fa2-4b59-7261-91e7-82fd98245f07",
                                "role": "creator",
                                "updated_at": "2025-12-11T22:57:33.000000Z",
                                "user_id": "78be4cc7-8b9b-4351-b280-4669c7f3901f"
                              }
                            }
                          ]
                        },
                        {
                          "budget": 11,
                          "code": "P-1",
                          "contact": null,
                          "contact_id": null,
                          "costs": null,
                          "created_at": "2025-12-11T22:56:30.000000Z",
                          "created_by": "78be4cc7-8b9b-4351-b280-4669c7f3901f",
                          "customer": null,
                          "customer_id": null,
                          "deleted_at": null,
                          "description": "Está tudo de cabeça para baixo",
                          "executors": [],
                          "form": null,
                          "form_answers": [],
                          "frame": {
                            "id": "019b0f9f-e161-71eb-93ac-dad119479a14",
                            "model_forms": null,
                            "name": "demo-api",
                            "subdomain": "demoapi"
                          },
                          "frame_id": "019b0f9f-e161-71eb-93ac-dad119479a14",
                          "funnel_steps": [],
                          "funnels": [],
                          "groups": [],
                          "id": "019b0fa1-557d-72e7-9092-22991f7061da",
                          "impact": 1,
                          "is_template": false,
                          "merged_id": null,
                          "name": "Up side down",
                          "old_id": null,
                          "parent_id": null,
                          "share_settings": null,
                          "share_token": null,
                          "status": 2,
                          "tags": [],
                          "tasks": [],
                          "updated_at": "2025-12-11T22:56:30.000000Z",
                          "users": [
                            {
                              "avatar_url": "https://olie-main.s3.sa-east-1.amazonaws.com/app/avatars/P14xMWfk6lhBz9ZqesyCOjIXuS0EGiwAdKN2-avatar-1764178989.png",
                              "id": "78be4cc7-8b9b-4351-b280-4669c7f3901f",
                              "name": "Guilherme Henrique da Silva",
                              "pivot": {
                                "created_at": "2025-12-11T22:56:30.000000Z",
                                "project_id": "019b0fa1-557d-72e7-9092-22991f7061da",
                                "role": "creator",
                                "updated_at": "2025-12-11T22:56:30.000000Z",
                                "user_id": "78be4cc7-8b9b-4351-b280-4669c7f3901f"
                              }
                            },
                            {
                              "avatar_url": "https://olie-main.s3.sa-east-1.amazonaws.com/app/avatars/P14xMWfk6lhBz9ZqesyCOjIXuS0EGiwAdKN2-avatar-1764178989.png",
                              "id": "78be4cc7-8b9b-4351-b280-4669c7f3901f",
                              "name": "Guilherme Henrique da Silva",
                              "pivot": {
                                "created_at": "2025-12-11T22:56:30.000000Z",
                                "project_id": "019b0fa1-557d-72e7-9092-22991f7061da",
                                "role": "assignee",
                                "updated_at": "2025-12-11T22:56:30.000000Z",
                                "user_id": "78be4cc7-8b9b-4351-b280-4669c7f3901f"
                              }
                            }
                          ]
                        }
                      ]
                    },
                    "response": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "Sucesso": {
                    "value": {
                      "meta": {
                        "current_page": 1,
                        "from": 1,
                        "last_page": 1,
                        "per_page": 30,
                        "to": 2,
                        "total": 2
                      },
                      "projects": [
                        {
                          "budget": 100000,
                          "code": "P-2",
                          "contact": null,
                          "contact_id": null,
                          "costs": null,
                          "created_at": "2025-12-11T22:57:33.000000Z",
                          "created_by": "78be4cc7-8b9b-4351-b280-4669c7f3901f",
                          "customer": null,
                          "customer_id": null,
                          "deleted_at": null,
                          "description": "Companhia de energia",
                          "executors": [],
                          "form": null,
                          "form_answers": [],
                          "frame": {
                            "id": "019b0f9f-e161-71eb-93ac-dad119479a14",
                            "model_forms": null,
                            "name": "demo-api",
                            "subdomain": "demoapi"
                          },
                          "frame_id": "019b0f9f-e161-71eb-93ac-dad119479a14",
                          "funnel_steps": [],
                          "funnels": [],
                          "groups": [],
                          "id": "019b0fa2-4b59-7261-91e7-82fd98245f07",
                          "impact": 3,
                          "is_template": false,
                          "merged_id": null,
                          "name": "Hawkins Lab's",
                          "old_id": null,
                          "parent_id": null,
                          "share_settings": null,
                          "share_token": null,
                          "status": 1,
                          "tags": [],
                          "tasks": [],
                          "updated_at": "2025-12-11T22:57:33.000000Z",
                          "users": [
                            {
                              "avatar_url": "https://olie-main.s3.sa-east-1.amazonaws.com/app/avatars/P14xMWfk6lhBz9ZqesyCOjIXuS0EGiwAdKN2-avatar-1764178989.png",
                              "id": "78be4cc7-8b9b-4351-b280-4669c7f3901f",
                              "name": "Guilherme Henrique da Silva",
                              "pivot": {
                                "created_at": "2025-12-11T22:57:33.000000Z",
                                "project_id": "019b0fa2-4b59-7261-91e7-82fd98245f07",
                                "role": "creator",
                                "updated_at": "2025-12-11T22:57:33.000000Z",
                                "user_id": "78be4cc7-8b9b-4351-b280-4669c7f3901f"
                              }
                            }
                          ]
                        },
                        {
                          "budget": 11,
                          "code": "P-1",
                          "contact": null,
                          "contact_id": null,
                          "costs": null,
                          "created_at": "2025-12-11T22:56:30.000000Z",
                          "created_by": "78be4cc7-8b9b-4351-b280-4669c7f3901f",
                          "customer": null,
                          "customer_id": null,
                          "deleted_at": null,
                          "description": "Está tudo de cabeça para baixo",
                          "executors": [],
                          "form": null,
                          "form_answers": [],
                          "frame": {
                            "id": "019b0f9f-e161-71eb-93ac-dad119479a14",
                            "model_forms": null,
                            "name": "demo-api",
                            "subdomain": "demoapi"
                          },
                          "frame_id": "019b0f9f-e161-71eb-93ac-dad119479a14",
                          "funnel_steps": [],
                          "funnels": [],
                          "groups": [],
                          "id": "019b0fa1-557d-72e7-9092-22991f7061da",
                          "impact": 1,
                          "is_template": false,
                          "merged_id": null,
                          "name": "Up side down",
                          "old_id": null,
                          "parent_id": null,
                          "share_settings": null,
                          "share_token": null,
                          "status": 2,
                          "tags": [],
                          "tasks": [],
                          "updated_at": "2025-12-11T22:56:30.000000Z",
                          "users": [
                            {
                              "avatar_url": "https://olie-main.s3.sa-east-1.amazonaws.com/app/avatars/P14xMWfk6lhBz9ZqesyCOjIXuS0EGiwAdKN2-avatar-1764178989.png",
                              "id": "78be4cc7-8b9b-4351-b280-4669c7f3901f",
                              "name": "Guilherme Henrique da Silva",
                              "pivot": {
                                "created_at": "2025-12-11T22:56:30.000000Z",
                                "project_id": "019b0fa1-557d-72e7-9092-22991f7061da",
                                "role": "creator",
                                "updated_at": "2025-12-11T22:56:30.000000Z",
                                "user_id": "78be4cc7-8b9b-4351-b280-4669c7f3901f"
                              }
                            },
                            {
                              "avatar_url": "https://olie-main.s3.sa-east-1.amazonaws.com/app/avatars/P14xMWfk6lhBz9ZqesyCOjIXuS0EGiwAdKN2-avatar-1764178989.png",
                              "id": "78be4cc7-8b9b-4351-b280-4669c7f3901f",
                              "name": "Guilherme Henrique da Silva",
                              "pivot": {
                                "created_at": "2025-12-11T22:56:30.000000Z",
                                "project_id": "019b0fa1-557d-72e7-9092-22991f7061da",
                                "role": "assignee",
                                "updated_at": "2025-12-11T22:56:30.000000Z",
                                "user_id": "78be4cc7-8b9b-4351-b280-4669c7f3901f"
                              }
                            }
                          ]
                        }
                      ],
                      "response": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "access-control-allow-origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "access-control-expose-headers": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthenticated."
                    },
                    "message": {
                      "type": "string",
                      "example": "unauthorized"
                    },
                    "response": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                },
                "examples": {
                  "Não autorizado": {
                    "value": {
                      "error": "Unauthenticated.",
                      "message": "unauthorized",
                      "response": false
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "projects"
        ],
        "summary": "Criar projeto",
        "description": "Cria um novo projeto com os dados fornecidos.",
        "operationId": "criarProjeto",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "budget": {
                    "nullable": true,
                    "example": null
                  },
                  "description": {
                    "type": "string",
                    "example": ""
                  },
                  "impact": {
                    "type": "number",
                    "example": 55
                  },
                  "name": {
                    "type": "string",
                    "example": ""
                  },
                  "status": {
                    "type": "number",
                    "example": 9999
                  }
                }
              },
              "examples": {
                "Criar projeto": {
                  "value": {
                    "budget": null,
                    "description": "",
                    "impact": 55,
                    "name": "",
                    "status": 9999
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "headers": {
              "CF-RAY": {
                "schema": {
                  "type": "string",
                  "example": "9ac8e501f9f3f227-GRU"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "br"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 11 Dec 2025 23:52:14 GMT"
                }
              },
              "Nel": {
                "schema": {
                  "type": "string",
                  "example": "{\"report_to\":\"cf-nel\",\"success_fraction\":0.0,\"max_age\":604800}"
                }
              },
              "Report-To": {
                "schema": {
                  "type": "string",
                  "example": "{\"group\":\"cf-nel\",\"max_age\":604800,\"endpoints\":[{\"url\":\"https://a.nel.cloudflare.com/report/v4?s=f7MqEcoJhwm3QmuCkjdyTnfpd554sOM4pkj0NmERdg%2F8JE%2Bn8HVP8ES73apHJCT7Gkm3jg3BE4wJV5X97%2FP93Jn7CRDUlvASMrcEJaJcyJVZI6WLXt1i\"}]}"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "cloudflare"
                }
              },
              "Set-Cookie": {
                "schema": {
                  "type": "string",
                  "example": "AWSALBCORS=1KPsxr4S0LtH6iW2LpYsyYGEwgamZg6yHZ5rh3F7VeNHZLjyLX/t52OMYNQzrDDe+zuYySPQpGE81lMSHW4eXypMrmk2Iw5o83NsKmh7o5CzHKcg5/YZdZZ3BnU1; Expires=Thu, 18 Dec 2025 23:52:14 GMT; Path=/; SameSite=None; Secure"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "access-control-allow-origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "access-control-expose-headers": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "alt-svc": {
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=86400"
                }
              },
              "cf-cache-status": {
                "schema": {
                  "type": "string",
                  "example": "DYNAMIC"
                }
              },
              "x-content-type-options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "x-frame-options": {
                "schema": {
                  "type": "string",
                  "example": "SAMEORIGIN"
                }
              },
              "x-ratelimit-limit": {
                "schema": {
                  "type": "string",
                  "example": "160"
                }
              },
              "x-ratelimit-remaining": {
                "schema": {
                  "type": "string",
                  "example": "148"
                }
              },
              "x-xss-protection": {
                "schema": {
                  "type": "string",
                  "example": "1; mode=block"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "project": {
                      "type": "object",
                      "properties": {
                        "budget": {
                          "type": "number",
                          "example": 25000
                        },
                        "code": {
                          "type": "string",
                          "example": "P-11"
                        },
                        "contact_id": {
                          "nullable": true,
                          "example": null
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2025-12-11T23:52:14.000000Z"
                        },
                        "customer_id": {
                          "nullable": true,
                          "example": null
                        },
                        "description": {
                          "type": "string",
                          "example": "Ad nihil veniam est quidem. Neque sequi cumque laboriosam cum. Assumenda repellat nihil omnis ipsa dignissimos occaecati a cum ut. Deleniti ut harum iusto ut. Cumque aut ea."
                        },
                        "frame": {
                          "type": "object",
                          "properties": {
                            "cockpit_access": {
                              "type": "number",
                              "example": 0
                            },
                            "frame_billing_data_id": {
                              "nullable": true,
                              "example": null
                            },
                            "id": {
                              "type": "string",
                              "example": "019b0f9f-e161-71eb-93ac-dad119479a14"
                            },
                            "logo_img": {
                              "nullable": true,
                              "example": null
                            },
                            "model_forms": {
                              "nullable": true,
                              "example": null
                            },
                            "name": {
                              "type": "string",
                              "example": "demo-api"
                            },
                            "old_id": {
                              "nullable": true,
                              "example": null
                            },
                            "status": {
                              "type": "number",
                              "example": 1
                            },
                            "subdomain": {
                              "type": "string",
                              "example": "demoapi"
                            },
                            "type": {
                              "type": "number",
                              "example": 2
                            }
                          }
                        },
                        "frame_id": {
                          "type": "string",
                          "example": "019b0f9f-e161-71eb-93ac-dad119479a14"
                        },
                        "id": {
                          "type": "string",
                          "example": "019b0fd4-5d85-72aa-ae45-af8f67bb66f5"
                        },
                        "impact": {
                          "type": "number",
                          "example": 5
                        },
                        "is_template": {
                          "type": "boolean",
                          "example": false
                        },
                        "name": {
                          "type": "string",
                          "example": "consequatur eveniet in"
                        },
                        "status": {
                          "type": "number",
                          "example": 3
[...]
