{
  "openapi": "3.0.0",
  "info": {
    "title": "Olie API",
    "version": "1.0.0",
    "description": "# Introdução 👋\n\nOlá! Esta é a documentação oficial da API da [olie.ai](https://olie.ai/). Aqui você encontra as referências e exemplos de uso dos nossos endpoints.\n\nPara uma visão completa, recomendamos fortemente que você leia a [documentação oficial](https://docs.olie.ai/api-reference/introduction). Lá estão detalhados tópicos essenciais como [autenticação](https://docs.olie.ai/api-reference/introduction/authentication), [estrutura de respostas](https://docs.olie.ai/api-reference/general/response-structure), [paginação](https://docs.olie.ai/api-reference/general/pagination) e outros guias de integração.\n\nNo Postman, esta coleção foca nas informações específicas de cada requisição (endpoints, parâmetros e exemplos), servindo como apoio rápido para testes e desenvolvimento.\n"
  },
  "servers": [
    {
      "url": "https://api.olie.ai"
    }
  ],
  "paths": {
    "/api/management/projects/{id}/restore": {
      "get": {
        "summary": "Restaurar um projeto",
        "responses": {
          "200": {
            "description": "Resposta de sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean",
                      "description": "Sempre true quando a operação é concluída."
                    }
                  },
                  "description": "Confirmação de que a operação foi concluída.",
                  "required": [
                    "response"
                  ]
                },
                "example": {
                  "response": "<boolean>"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean",
                      "description": "Sempre false em respostas de erro."
                    },
                    "message": {
                      "type": "string",
                      "description": "Identificador do erro, usado pelo cliente para tratar o caso."
                    },
                    "error": {
                      "type": "string",
                      "description": "Descrição legível do erro."
                    }
                  },
                  "required": [
                    "response",
                    "message",
                    "error"
                  ]
                },
                "example": {
                  "response": "<boolean>",
                  "message": "<string>",
                  "error": "<string>"
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean",
                      "description": "Sempre false em respostas de erro."
                    },
                    "message": {
                      "type": "string",
                      "description": "Identificador do erro, usado pelo cliente para tratar o caso."
                    },
                    "error": {
                      "type": "string",
                      "description": "Descrição legível do erro."
                    }
                  },
                  "required": [
                    "response",
                    "message",
                    "error"
                  ]
                },
                "example": {
                  "response": false,
                  "message": "project_model_not_found",
                  "error": "No query results for model [App\\Models\\Project] :id"
                }
              }
            }
          }
        },
        "tags": [
          "projects",
          "Projetos"
        ],
        "description": "Restaura um projeto que foi deletado, devolvendo-o às listagens com todos os vínculos que tinha."
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "ID (UUID) do projeto deletado.",
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "example": "{{project_id}}"
        }
      ]
    },
    "/api/management/projects/{id}/media": {
      "get": {
        "summary": "Listar conteúdos do projeto",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Número da página a ser retornada. Começa em 1",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "Quantidade de itens exibidos por página. Define o tamanho da página de resultados",
            "schema": {
              "type": "integer"
            },
            "example": 30
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filtro aplicado ao resultado. Valores possíveis: logs, content, default.",
            "schema": {
              "type": "string"
            },
            "example": "default"
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de conteúdos do projeto retornada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Esquema de um conteúdo",
                  "title": "Resposta de conteúdo",
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean",
                      "example": true
                    },
                    "meta": {
                      "type": "object",
                      "title": "Informações de Paginação",
                      "description": "Metadados de paginação",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "example": 1
                        },
                        "from": {
                          "type": "integer",
                          "example": 1
                        },
                        "last_page": {
                          "type": "integer",
                          "example": 19
                        },
                        "per_page": {
                          "type": "integer",
                          "example": 30
                        },
                        "to": {
                          "type": "integer",
                          "example": 30
                        },
                        "total": {
                          "type": "integer",
                          "example": 546
                        }
                      }
                    },
                    "medias": {
                      "type": "array",
                      "items": {
                        "title": "Media",
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "name": {
                            "type": "string"
                          },
                          "technical_name": {
                            "type": "string"
                          },
                          "type": {
                            "type": "integer"
                          },
                          "extension": {
                            "type": "string"
                          },
                          "text": {
                            "type": "string"
                          },
                          "file_url": {
                            "type": "string",
                            "format": "uri"
                          },
                          "log": {
                            "type": "string"
                          },
                          "user_id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "frame_id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "project_id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "deleted_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "user": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "response": "<boolean>",
                  "meta": {
                    "current_page": "<integer>",
                    "from": "<integer>",
                    "last_page": "<integer>",
                    "per_page": "<integer>",
                    "to": "<integer>",
                    "total": "<integer>"
                  },
                  "medias": [
                    {
                      "id": "<uuid>",
                      "name": "<string>",
                      "technical_name": "<string>",
                      "type": "<integer>",
                      "extension": "<string>",
                      "text": "<string>",
                      "file_url": "<uri>",
                      "log": "<string>",
                      "user_id": "<uuid>",
                      "frame_id": "<uuid>",
                      "project_id": "<uuid>",
                      "created_at": "<dateTime>",
                      "updated_at": "<dateTime>",
                      "deleted_at": "<dateTime>",
                      "user": {}
                    },
                    {
                      "id": "<uuid>",
                      "name": "<string>",
                      "technical_name": "<string>",
                      "type": "<integer>",
                      "extension": "<string>",
                      "text": "<string>",
                      "file_url": "<uri>",
                      "log": "<string>",
                      "user_id": "<uuid>",
                      "frame_id": "<uuid>",
                      "project_id": "<uuid>",
                      "created_at": "<dateTime>",
                      "updated_at": "<dateTime>",
                      "deleted_at": "<dateTime>",
                      "user": {}
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "unauthorized"
                    },
                    "error": {
                      "type": "string",
                      "example": "Unauthenticated."
                    }
                  }
                },
                "example": {
                  "response": "<boolean>",
                  "message": "<string>",
                  "error": "<string>"
                }
              }
            }
          }
        },
        "tags": [
          "projects",
          "{id}",
          "medias"
        ],
        "description": "Retorna uma lista de conteúdos do projeto com base nos filtros fornecidos."
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "ID (UUID) do projeto.",
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "example": "{{project_id}}"
        }
      ],
      "post": {
        "summary": "Listar conteúdos do projeto",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Página desejada. Padrão `1`.",
            "schema": {
              "type": "integer"
            },
            "example": 0
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "Itens por página. Padrão `30`, máximo `100`.",
            "schema": {
              "type": "integer"
            },
            "example": 0
          },
          {
            "name": "filter",
            "in": "query",
            "required": true,
            "description": "O que retornar: `default` (tudo, padrão), `content` (apenas conteúdos enviados por pessoas) ou `logs` (apenas registros de atividade).",
            "deprecated": false,
            "schema": {
              "type": "string"
            },
            "example": ""
          },
          {
            "name": "search",
            "in": "query",
            "description": "Termo buscado no texto do conteúdo.",
            "schema": {
              "type": "string"
            },
            "example": ""
          },
          {
            "name": "channel_id",
            "in": "query",
            "description": "ID (UUID) do canal cuja conversa deve ser retornada. Sem ele, apenas os conteúdos internos aparecem.",
            "schema": {
              "type": "string"
            },
            "example": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean",
                      "description": "Sempre true quando a operação é concluída."
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "description": "Página retornada."
                        },
                        "from": {
                          "type": "integer",
                          "description": "Posição do primeiro item da página no total.",
                          "nullable": true
                        },
                        "to": {
                          "type": "integer",
                          "description": "Posição do último item da página no total.",
                          "nullable": true
                        },
                        "last_page": {
                          "type": "integer",
                          "description": "Número da última página."
                        },
                        "per_page": {
                          "type": "integer",
                          "description": "Itens por página."
                        },
                        "total": {
                          "type": "integer",
                          "description": "Total de itens encontrados."
                        }
                      },
                      "description": "Dados da paginação."
                    },
                    "medias": {
                      "type": "array",
                      "description": "Conteúdos da página.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "ID (UUID) do conteúdo.",
                            "format": "uuid"
                          },
                          "name": {
                            "type": "string",
                            "description": "Nome do conteúdo ou do arquivo.",
                            "nullable": true
                          },
                          "technical_name": {
                            "type": "string",
                            "description": "Nome interno usado no armazenamento.",
                            "nullable": true
                          },
                          "type": {
                            "type": "integer",
                            "description": "Tipo do conteúdo: 1 texto, 2 arquivo, 3 áudio."
                          },
                          "extension": {
                            "type": "string",
                            "description": "Extensão do arquivo, quando houver.",
                            "nullable": true
                          },
                          "text": {
                            "type": "string",
                            "description": "Texto enviado, quando houver.",
                            "nullable": true
                          },
                          "file_url": {
                            "type": "string",
                            "description": "Endereço para baixar o arquivo, quando houver.",
                            "nullable": true
                          },
                          "log": {
                            "type": "string",
                            "description": "Conteúdo do registro de atividade, quando a entrada for um log.",
                            "nullable": true
                          },
                          "user_id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Usuário que enviou o conteúdo.",
                            "nullable": true
                          },
                          "frame_id": {
                            "type": "string",
                            "description": "ID (UUID) da conta dona do conteúdo.",
                            "format": "uuid"
                          },
                          "project_id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Projeto que recebeu o conteúdo.",
                            "nullable": true
                          },
                          "created_at": {
                            "type": "string",
                            "description": "Data do envio.",
                            "format": "date-time"
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "Data da última alteração.",
                            "format": "date-time"
                          },
                          "deleted_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Data em que o conteúdo foi removido.",
                            "nullable": true
                          },
                          "user": {
                            "type": "object",
                            "description": "Quem enviou o conteúdo.",
                            "additionalProperties": true,
                            "nullable": true
                          }
                        },
                        "description": "Conteúdo do projeto.",
                        "additionalProperties": true
                      }
                    }
                  },
                  "description": "Lista paginada de conteúdos.",
                  "required": [
                    "response",
                    "medias"
                  ]
                },
                "example": {
                  "response": true,
                  "meta": {
                    "current_page": 1,
                    "from": 1,
                    "to": 2,
                    "last_page": 1,
                    "per_page": 30,
                    "total": 2
                  },
                  "medias": [
                    {
                      "id": "019e1a44-2f6d-70bb-9d21-64c0a3e91f77",
                      "name": "proposta-comercial",
                      "technical_name": "proposta-comercial.019e1a44",
                      "type": 2,
                      "extension": "pdf",
                      "text": null,
                      "file_url": "https://cdn.olie.ai/frames/projects/proposta-comercial.pdf",
                      "log": null,
                      "user_id": "019c1e87-63f4-71dd-a4e3-6eaea0619c2f",
                      "frame_id": "019c75de-532c-7047-9563-daf1448ca963",
                      "project_id": "019e0edb-aa7c-70c4-9d2d-3a2f175b5ddf",
                      "created_at": "2026-08-18T14:02:11.000000Z",
                      "updated_at": "2026-08-18T14:02:11.000000Z",
                      "deleted_at": null,
                      "user": {
                        "id": "019c1e87-63f4-71dd-a4e3-6eaea0619c2f",
                        "name": "Ana Souza",
                        "avatar_url": null
                      }
                    },
                    {
                      "id": "019e1a41-0b8c-71f2-a6c4-1de9f5307a10",
                      "name": "description.9f2a1c",
                      "technical_name": "description.9f2a1c",
                      "type": 1,
                      "extension": null,
                      "text": "Cliente aprovou o escopo na reunião de hoje.",
                      "file_url": null,
                      "log": null,
                      "user_id": "019c1e87-63f4-71dd-a4e3-6eaea0619c2f",
                      "frame_id": "019c75de-532c-7047-9563-daf1448ca963",
                      "project_id": "019e0edb-aa7c-70c4-9d2d-3a2f175b5ddf",
                      "created_at": "2026-08-18T13:47:35.000000Z",
                      "updated_at": "2026-08-18T13:47:35.000000Z",
                      "deleted_at": null,
                      "user": {
                        "id": "019c1e87-63f4-71dd-a4e3-6eaea0619c2f",
                        "name": "Ana Souza",
                        "avatar_url": null
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean",
                      "description": "Sempre false em respostas de erro."
                    },
                    "message": {
                      "type": "string",
                      "description": "Identificador do erro, usado pelo cliente para tratar o caso."
                    },
                    "error": {
                      "type": "string",
                      "description": "Descrição legível do erro."
                    }
                  },
                  "required": [
                    "response",
                    "message",
                    "error"
                  ]
                },
                "example": {
                  "response": false,
                  "message": "unauthorized",
                  "error": "Unauthenticated."
                }
              }
            }
          }
        },
        "tags": [
          "projects",
          "Conteúdos e arquivos"
        ],
        "description": "Lista os conteúdos de um projeto — textos, arquivos, áudios e registros de atividade — do mais recente para o mais antigo, com paginação.\n\nSem `channel_id`, apenas os conteúdos internos são retornados; informe o ID de um canal para ver a conversa trocada por ele. Consulte [Paginação](https://docs.olie.ai/api-reference/general/pagination)."
      }
    },
    "/api/management/projects/{project}/step-metrics": {
      "get": {
        "tags": [
          "projects",
          "Métricas e previsão"
        ],
        "summary": "Obter métricas de etapas do projeto",
        "description": "Retorna, para cada etapa dos funis em que o projeto está cadastrado, o tempo que ele já passou ali — a soma de todas as passagens encerradas, em segundos. Passagens ainda em curso não entram na conta, e etapas por onde o projeto nunca passou vêm com zero.\n\nPara as métricas do funil como um todo, veja [Métricas do funil](https://docs.olie.ai/guides/funnels/metrics).",
        "operationId": "obterMTricasComputadasDasEtapasDeUmProjetoEspecFicoNoFunil",
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean",
                      "description": "Sempre true quando a operação é concluída."
                    },
                    "metrics": {
                      "type": "array",
                      "description": "Uma entrada por etapa dos funis do projeto.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "step_id": {
                            "type": "integer",
                            "description": "ID da etapa."
                          },
                          "max_time": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "integer",
                                "description": "Tempo acumulado pelo projeto na etapa."
                              },
                              "unit": {
                                "type": "string",
                                "description": "Unidade do valor. Sempre `seconds`."
                              },
                              "meta_data": {
                                "description": "Dados adicionais da métrica, quando houver."
                              }
                            },
                            "description": "Tempo somado de todas as passagens encerradas pela etapa."
                          }
                        },
                        "description": "Métrica de uma etapa."
                      }
                    }
                  },
                  "description": "Tempo do projeto por etapa.",
                  "required": [
                    "response",
                    "metrics"
                  ]
                },
                "example": {
                  "response": true,
                  "metrics": [
                    {
                      "step_id": 123,
                      "max_time": {
                        "value": 0,
                        "unit": "seconds",
                        "meta_data": null
                      }
                    },
                    {
                      "step_id": 124,
                      "max_time": {
                        "value": 0,
                        "unit": "seconds",
                        "meta_data": null
                      }
                    },
                    {
                      "step_id": 125,
                      "max_time": {
                        "value": 0,
                        "unit": "seconds",
                        "meta_data": null
                      }
                    },
                    {
                      "step_id": 126,
                      "max_time": {
                        "value": 0,
                        "unit": "seconds",
                        "meta_data": null
                      }
                    },
                    {
                      "step_id": 127,
                      "max_time": {
                        "value": 0,
                        "unit": "seconds",
                        "meta_data": null
                      }
                    },
                    {
                      "step_id": 128,
                      "max_time": {
                        "value": 0,
                        "unit": "seconds",
                        "meta_data": null
                      }
                    },
                    {
                      "step_id": 129,
                      "max_time": {
                        "value": 0,
                        "unit": "seconds",
                        "meta_data": null
                      }
                    },
                    {
                      "step_id": 130,
                      "max_time": {
                        "value": 0,
                        "unit": "seconds",
                        "meta_data": null
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "description": "ID (UUID) do projeto.",
          "schema": {
            "type": "string"
          },
          "example": "{{project_id}}"
        }
      ]
    },
    "/api/management/projects/{project}/files": {
      "get": {
        "tags": [
          "projects",
          "Conteúdos e arquivos"
        ],
        "summary": "Listar arquivos do projeto",
        "description": "Retorna todos os arquivos ligados ao projeto em um único conjunto: os enviados como conteúdo (no próprio projeto ou em suas tarefas) e os anexados em respostas de formulários. Não tem paginação.",
        "operationId": "listarTodosOsArquivosAssociadosAUmProjeto",
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean",
                      "description": "Sempre true quando a operação é concluída."
                    },
                    "files": {
                      "type": "array",
                      "description": "Arquivos reunidos de todas as origens.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Nome do arquivo."
                          },
                          "extension": {
                            "type": "string",
                            "description": "Extensão do arquivo.",
                            "nullable": true
                          },
                          "file_url": {
                            "type": "string",
                            "description": "Endereço para baixar o arquivo."
                          },
                          "type": {
                            "type": "integer",
                            "description": "Sempre 2: arquivo."
                          },
                          "technical_name": {
                            "type": "string",
                            "description": "Nome interno usado no armazenamento."
                          },
                          "created_at": {
                            "type": "string",
                            "description": "Data do envio.",
                            "format": "date-time"
                          },
                          "origin": {
                            "type": "string",
                            "description": "De onde o arquivo veio, quando ele foi anexado em um formulário.",
                            "nullable": true
                          }
                        },
                        "description": "Arquivo do projeto.",
                        "additionalProperties": true
                      }
                    }
                  },
                  "description": "Arquivos do projeto.",
                  "required": [
                    "response",
                    "files"
                  ]
                },
                "example": {
                  "response": true,
                  "files": [
                    {
                      "name": "contrato-assinado",
                      "extension": "pdf",
                      "file_url": "https://cdn.olie.ai/frames/forms/contrato-assinado.pdf",
                      "type": 2,
                      "technical_name": "contrato-assinado",
                      "created_at": "2026-08-12T09:15:00.000000Z",
                      "origin": "form_answers"
                    },
                    {
                      "id": "019e1a44-2f6d-70bb-9d21-64c0a3e91f77",
                      "name": "proposta-comercial",
                      "technical_name": "proposta-comercial.019e1a44",
                      "type": 2,
                      "extension": "pdf",
                      "text": null,
                      "file_url": "https://cdn.olie.ai/frames/projects/proposta-comercial.pdf",
                      "log": null,
                      "user_id": "019c1e87-63f4-71dd-a4e3-6eaea0619c2f",
                      "frame_id": "019c75de-532c-7047-9563-daf1448ca963",
                      "project_id": "019e0edb-aa7c-70c4-9d2d-3a2f175b5ddf",
                      "task_id": null,
                      "created_at": "2026-08-18T14:02:11.000000Z",
                      "updated_at": "2026-08-18T14:02:11.000000Z",
                      "deleted_at": null,
                      "user": {
                        "id": "019c1e87-63f4-71dd-a4e3-6eaea0619c2f",
                        "name": "Ana Souza",
                        "avatar_url": null
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "description": "ID (UUID) do projeto.",
          "schema": {
            "type": "string"
          },
          "example": "{{project_id}}"
        }
      ]
    },
    "/api/management/projects/{project}/clone": {
      "post": {
        "tags": [
          "projects",
          "Cópia e compartilhamento"
        ],
        "summary": "Clonar um projeto",
        "description": "Cria uma cópia de um projeto existente. Cada parte do projeto é copiada de forma independente: cliente, funis, etiquetas, checklists, respostas de formulários, conteúdos, fórum, grupos e responsáveis só entram no clone quando a opção correspondente é enviada como `true`.\n\nQuem só pode criar projetos a partir de modelos não escolhe as opções: nesse caso o clone é sempre completo, com todas as partes copiadas.",
        "operationId": "clonarUmProjeto",
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean",
                      "description": "Sempre true quando a operação é concluída."
                    },
                    "project": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "ID (UUID) do projeto.",
                          "format": "uuid"
                        },
                        "frame_id": {
                          "type": "string",
                          "description": "ID (UUID) da conta dona do projeto.",
                          "format": "uuid"
                        },
                        "code": {
                          "type": "string",
                          "description": "Código do projeto, formado pelo prefixo e por um número sequencial."
                        },
                        "name": {
                          "type": "string",
                          "description": "Nome do projeto."
                        },
                        "description": {
                          "type": "string",
                          "description": "Descrição do projeto.",
                          "nullable": true
                        },
                        "status": {
                          "type": "integer",
                          "description": "Situação: 1 em andamento, 2 concluído, 3 arquivado, 4 parado."
                        },
                        "impact": {
                          "type": "integer",
                          "description": "Grau de impacto, de 1 a 10.",
                          "nullable": true
                        },
                        "budget": {
                          "type": "number",
                          "description": "Orçamento do projeto.",
                          "nullable": true
                        },
                        "is_template": {
                          "type": "boolean",
                          "description": "Indica se o projeto é um modelo."
                        },
                        "parent_id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "ID do projeto pai, quando este é um subprojeto.",
                          "nullable": true
                        },
                        "customer_id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "ID do cliente vinculado.",
                          "nullable": true
                        },
                        "contact_id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "ID do contato vinculado.",
                          "nullable": true
                        },
                        "created_by": {
                          "type": "string",
                          "format": "uuid",
                          "description": "ID do usuário que criou o projeto.",
                          "nullable": true
                        },
                        "created_at": {
                          "type": "string",
                          "description": "Data de criação.",
                          "format": "date-time"
                        },
                        "updated_at": {
                          "type": "string",
                          "description": "Data da última alteração.",
                          "format": "date-time"
                        },
                        "deleted_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Data em que foi enviado para a lixeira.",
                          "nullable": true
                        }
                      },
                      "description": "Projeto.",
                      "additionalProperties": true
                    }
                  },
                  "description": "Projeto retornado pela operação.",
                  "required": [
                    "response",
                    "project"
                  ]
                },
                "example": {
                  "response": true,
                  "project": {
                    "id": "019e1c02-77aa-7391-b0d5-5e4a2f8c6b13",
                    "frame_id": "019c75de-532c-7047-9563-daf1448ca963",
                    "code": "SC-14",
                    "name": "Shopping Center — Fase 2",
                    "description": "Obra completa do empreendimento",
                    "status": 1,
                    "impact": 9,
                    "budget": 340000,
                    "is_template": false,
                    "parent_id": null,
                    "customer_id": null,
                    "contact_id": null,
                    "created_by": "019c1e87-63f4-71dd-a4e3-6eaea0619c2f",
                    "created_at": "2026-08-19T11:20:44.000000Z",
                    "updated_at": "2026-08-19T11:20:44.000000Z"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Nome do novo projeto. Sem ele, o nome do original é mantido."
                  },
                  "prefix": {
                    "type": "string",
                    "description": "Prefixo usado no código do novo projeto.",
                    "nullable": true
                  },
                  "description": {
                    "type": "string",
                    "description": "Descrição do novo projeto."
                  },
                  "form_answers_content": {
                    "type": "array",
                    "description": "Respostas de formulário a gravar no clone.",
                    "items": {
                      "description": "Resposta de formulário."
                    },
                    "nullable": true
                  },
                  "customer": {
                    "type": "boolean",
                    "description": "Copia o cliente e o contato vinculados."
                  },
                  "funnels": {
                    "type": "boolean",
                    "description": "Copia os funis e as etapas em que o projeto está."
                  },
                  "clone_tags": {
                    "type": "boolean",
                    "description": "Copia as etiquetas de funil."
                  },
                  "checklists": {
                    "type": "boolean",
                    "description": "Copia os checklists das etapas."
                  },
                  "clone_form_answers": {
                    "type": "boolean",
                    "description": "Copia as respostas dos formulários."
                  },
                  "medias": {
                    "type": "boolean",
                    "description": "Copia os conteúdos enviados no projeto."
                  },
                  "medias_mention": {
                    "type": "boolean",
                    "description": "Mantém as menções dentro dos conteúdos copiados."
                  },
                  "forum": {
                    "type": "boolean",
                    "description": "Copia as conversas do fórum."
                  },
                  "loose_checklists": {
                    "type": "boolean",
                    "description": "Copia os checklists avulsos."
                  },
                  "loose_form_answers": {
                    "type": "boolean",
                    "description": "Copia os formulários avulsos e suas respostas."
                  },
                  "clone_groups": {
                    "type": "boolean",
                    "description": "Copia os grupos de projeto."
                  },
                  "clone_assignees": {
                    "type": "boolean",
                    "description": "Copia os responsáveis e seguidores."
                  }
                },
                "description": "O que deve ser copiado para o novo projeto."
              },
              "example": {
                "name": "Nome do novo projeto",
                "prefix": "PRJ",
                "description": "Descrição do novo projeto",
                "customer": true,
                "funnels": true,
                "clone_tags": true,
                "checklists": true,
                "clone_form_answers": true,
                "form_answers_content": null,
                "medias": false,
                "medias_mention": false,
                "forum": false,
                "loose_checklists": true,
                "loose_form_answers": true,
                "clone_groups": true,
                "clone_assignees": true
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "description": "ID (UUID) do projeto.",
          "schema": {
            "type": "string"
          },
          "example": "{{project_id}}"
        }
      ]
    },
    "/api/management/projects/{project}/share": {
      "post": {
        "tags": [
          "projects",
          "Cópia e compartilhamento"
        ],
        "summary": "Compartilhar um projeto",
        "description": "Liga ou desliga o compartilhamento público de um projeto e define o que o link exibe. Ao ligar, um token de compartilhamento é gerado (ou reaproveitado, se já existir); ao desligar, o token é descartado e o link deixa de funcionar.\n\nUse `refresh` para invalidar o link atual e gerar um novo. A ativação e a desativação ficam registradas no histórico do projeto.",
        "operationId": "compartilharProjeto",
        "responses": {
          "200": {
            "description": "Compartilhamento ativado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean",
                      "description": "Sempre true quando a operação é concluída."
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "ID (UUID) do projeto.",
                          "format": "uuid"
                        },
                        "frame_id": {
                          "type": "string",
                          "description": "ID (UUID) da conta dona do projeto.",
                          "format": "uuid"
                        },
                        "code": {
                          "type": "string",
                          "description": "Código do projeto."
                        },
                        "name": {
                          "type": "string",
                          "description": "Nome do projeto."
                        },
                        "share_token": {
                          "type": "string",
                          "description": "Token do link público. `null` quando o compartilhamento está desligado.",
                          "nullable": true
                        },
                        "share_settings": {
                          "type": "object",
                          "description": "O que o link público exibe.",
                          "additionalProperties": true,
                          "nullable": true
                        },
                        "updated_at": {
                          "type": "string",
                          "description": "Data da última alteração.",
                          "format": "date-time"
                        }
                      },
                      "description": "Projeto com a configuração de compartilhamento aplicada.",
                      "additionalProperties": true
                    }
                  },
                  "description": "Estado do compartilhamento após a alteração.",
                  "required": [
                    "response",
                    "result"
                  ]
                },
                "examples": {
                  "Compartilhamento ativado": {
                    "value": {
                      "response": true,
                      "result": {
                        "id": "019e0edb-aa7c-70c4-9d2d-3a2f175b5ddf",
                        "frame_id": "019c75de-532c-7047-9563-daf1448ca963",
                        "code": "SC-1",
                        "name": "Shopping Center",
                        "share_token": "hV3q8Zt1LpXk9RbNsA6y",
                        "share_settings": {
                          "attributes": [
                            "name",
                            "status",
                            "description",
                            "funnels"
                          ]
                        },
                        "updated_at": "2026-08-19T11:31:07.000000Z"
                      }
                    }
                  },
                  "Compartilhamento desativado": {
                    "value": {
                      "response": true,
                      "result": {
                        "id": "019e0edb-aa7c-70c4-9d2d-3a2f175b5ddf",
                        "frame_id": "019c75de-532c-7047-9563-daf1448ca963",
                        "code": "SC-1",
                        "name": "Shopping Center",
                        "share_token": null,
                        "share_settings": {
                          "attributes": []
                        },
                        "updated_at": "2026-08-19T11:34:52.000000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "enabled": {
                    "type": "boolean",
                    "description": "`true` liga o compartilhamento; `false` desliga e descarta o link."
                  },
                  "refresh": {
                    "type": "boolean",
                    "description": "`true` gera um link novo, invalidando o anterior."
                  },
                  "settings": {
                    "type": "object",
                    "properties": {
                      "attributes": {
                        "type": "array",
                        "description": "Blocos visíveis no link: `status`, `budget`, `name`, `description`, `impact`, `customer`, `form_answers`, `tasks`, `funnels`, `media` e `users`.",
                        "items": {
                          "type": "string",
                          "description": "Nome do bloco exibido."
                        }
                      }
                    },
                    "description": "O que o link público exibe."
                  }
                },
                "description": "Configuração do compartilhamento.",
                "required": [
                  "enabled",
                  "settings"
                ]
              },
              "example": {
                "enabled": true,
                "refresh": false,
                "settings": {
                  "attributes": [
                    "name",
                    "status",
                    "description"
                  ]
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "description": "ID (UUID) do projeto.",
          "schema": {
            "type": "string"
          },
          "example": "{{project_id}}"
        }
      ]
    },
    "/api/management/projects/{project}/hierarchy/children": {
      "get": {
        "tags": [
          "projects",
          "Hierarquia"
        ],
        "summary": "Listar os filhos de um projeto",
        "description": "Retorna os projetos filhos diretos de um projeto, cada um com a contagem dos próprios filhos, e também o projeto pai do projeto consultado (quando houver). Não desce além do primeiro nível — para a árvore inteira, use a rota de árvore da hierarquia.\n\nConceitos e regras em [Hierarquia de projetos](https://docs.olie.ai/guides/projects/project-hierarchy).",
        "operationId": "listarTodosOsProjetosFilhosDeUmProjeto",
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean",
                      "description": "Sempre true quando a operação é concluída."
                    },
                    "children": {
                      "type": "array",
                      "description": "Filhos diretos do projeto.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "ID (UUID) do projeto filho.",
                            "format": "uuid"
                          },
                          "code": {
                            "type": "string",
                            "description": "Código do projeto."
                          },
                          "name": {
                            "type": "string",
                            "description": "Nome do projeto."
                          },
                          "status": {
                            "type": "integer",
                            "description": "Situação do projeto."
                          },
                          "parent_id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "ID do projeto pai.",
                            "nullable": true
                          },
                          "impact": {
                            "type": "integer",
                            "description": "Grau de impacto.",
                            "nullable": true
                          },
                          "budget": {
                            "type": "number",
                            "description": "Orçamento.",
                            "nullable": true
                          },
                          "children_count": {
                            "type": "integer",
                            "description": "Filhos diretos deste projeto."
                          }
                        },
                        "description": "Projeto filho.",
                        "additionalProperties": true
                      }
                    },
                    "parent": {
                      "type": "object",
                      "description": "Projeto pai do projeto consultado, quando existe.",
                      "additionalProperties": true,
                      "nullable": true
                    }
                  },
                  "description": "Filhos diretos e pai do projeto.",
                  "required": [
                    "response",
                    "children"
                  ]
                },
                "example": {
                  "response": true,
                  "children": [
                    {
                      "id": "019e0f21-4b3c-71a8-8f0e-9c2d5a7b1e40",
                      "code": "SC-2",
                      "name": "Fundação",
                      "status": 1,
                      "parent_id": "019e0edb-aa7c-70c4-9d2d-3a2f175b5ddf",
                      "impact": 6,
                      "budget": 120000,
                      "children_count": 2
                    },
                    {
                      "id": "019e0f22-8c11-7233-b5a1-77d0c9e41a02",
                      "code": "SC-3",
                      "name": "Estrutura",
                      "status": 1,
                      "parent_id": "019e0edb-aa7c-70c4-9d2d-3a2f175b5ddf",
                      "impact": 7,
                      "budget": 340000,
                      "children_count": 0
                    }
                  ],
                  "parent": null
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "trashed",
            "in": "query",
            "description": "`true` considera também os projetos na lixeira.",
            "schema": {
              "type": "string"
            },
            "example": ""
          },
          {
            "name": "template",
            "in": "query",
            "description": "`true` considera os modelos de projeto.",
            "schema": {
              "type": "string"
            },
            "example": ""
          }
        ]
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "description": "ID (UUID) do projeto.",
          "schema": {
            "type": "string"
          },
          "example": "{{project_id}}"
        }
      ]
    },
    "/api/management/projects/{project}/hierarchy/tree": {
      "get": {
        "tags": [
          "projects",
          "Hierarquia"
        ],
        "summary": "Obter a árvore da hierarquia",
        "description": "Retorna a árvore completa a partir do projeto informado — filhos, netos e bisnetos — com o nível de cada um, se é raiz ou folha, as estatísticas da estrutura e o caminho (breadcrumb) até o projeto atual.\n\nA plataforma permite até quatro níveis de profundidade; veja [Hierarquia de projetos](https://docs.olie.ai/guides/projects/project-hierarchy).",
        "operationId": "listarARvoreCompletaDeHierarquiaDeUmProjeto",
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean",
                      "description": "Sempre true quando a operação é concluída."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "current_project": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "ID (UUID) do projeto consultado.",
                              "format": "uuid"
                            },
                            "name": {
                              "type": "string",
                              "description": "Nome do projeto."
                            },
                            "breadcrumb": {
                              "type": "string",
                              "description": "Caminho da raiz até o projeto, separado por `>`."
                            }
                          },
                          "description": "Projeto consultado."
                        },
                        "hierarchy_tree": {
                          "type": "array",
                          "description": "Projeto consultado e todos os seus descendentes.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "ID (UUID) do projeto.",
                                "format": "uuid"
                              },
                              "name": {
                                "type": "string",
                                "description": "Nome do projeto."
                              },
                              "description": {
                                "type": "string",
                                "description": "Descrição do projeto.",
                                "nullable": true
                              },
                              "status": {
                                "type": "integer",
                                "description": "Situação do projeto."
                              },
                              "parent_id": {
                                "type": "string",
                                "format": "uuid",
                                "description": "ID do projeto pai.",
                                "nullable": true
                              },
                              "level": {
                                "type": "integer",
                                "description": "Nível na árvore, começando em 0."
                              },
                              "is_root": {
                                "type": "boolean",
                                "description": "Indica que o projeto não tem pai."
                              },
                              "is_leaf": {
                                "type": "boolean",
                                "description": "Indica que o projeto não tem filhos."
                              },
                              "children_count": {
                                "type": "integer",
                                "description": "Filhos diretos."
                              }
                            },
                            "description": "Nó da árvore."
                          }
                        },
                        "stats": {
                          "type": "object",
                          "properties": {
                            "level": {
                              "type": "integer",
                              "description": "Nível do projeto na árvore, começando em 0 na raiz."
                            },
                            "depth": {
                              "type": "integer",
                              "description": "Quantos níveis existem abaixo do projeto."
                            },
                            "children_count": {
                              "type": "integer",
                              "description": "Filhos diretos."
                            },
                            "descendants_count": {
                              "type": "integer",
                              "description": "Total de descendentes em todos os níveis."
                            },
                            "is_root": {
                              "type": "boolean",
                              "description": "Indica que o projeto não tem pai."
                            },
                            "is_leaf": {
                              "type": "boolean",
                              "description": "Indica que o projeto não tem filhos."
                            }
                          },
                          "description": "Números da posição do projeto na hierarquia."
                        }
                      },
                      "description": "Árvore da hierarquia."
                    }
                  },
                  "description": "Árvore completa a partir do projeto.",
                  "required": [
                    "response",
                    "data"
                  ]
                },
                "example": {
                  "response": true,
                  "data": {
                    "current_project": {
                      "id": "019e0edb-aa7c-70c4-9d2d-3a2f175b5ddf",
                      "name": "Shopping Center",
                      "breadcrumb": "Shopping Center"
                    },
                    "hierarchy_tree": [
                      {
                        "id": "019e0edb-aa7c-70c4-9d2d-3a2f175b5ddf",
                        "name": "Shopping Center",
                        "description": "Obra completa do empreendimento",
                        "status": 1,
                        "parent_id": null,
                        "level": 0,
                        "is_root": true,
                        "is_leaf": false,
                        "children_count": 2
                      },
                      {
                        "id": "019e0f21-4b3c-71a8-8f0e-9c2d5a7b1e40",
                        "name": "Fundação",
                        "description": "Serviços de fundação",
                        "status": 1,
                        "parent_id": "019e0edb-aa7c-70c4-9d2d-3a2f175b5ddf",
                        "level": 1,
                        "is_root": false,
                        "is_leaf": false,
                        "children_count": 1
                      },
                      {
                        "id": "019e0f23-1a5e-7460-9c33-2b7f8de10c55",
                        "name": "Escavação",
                        "description": null,
                        "status": 2,
                        "parent_id": "019e0f21-4b3c-71a8-8f0e-9c2d5a7b1e40",
                        "level": 2,
                        "is_root": false,
                        "is_leaf": true,
                        "children_count": 0
                      }
                    ],
                    "stats": {
                      "level": 0,
                      "depth": 2,
                      "children_count": 2,
                      "descendants_count": 3,
                      "is_root": true,
                      "is_leaf": false
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "description": "ID (UUID) do projeto.",
          "schema": {
            "type": "string"
          },
          "example": "{{project_id}}"
        }
      ]
    },
    "/api/management/projects/{project}/hierarchy/stats": {
      "get": {
        "tags": [
          "projects",
          "Hierarquia"
        ],
        "summary": "Obter estatísticas da hierarquia",
        "description": "Retorna os números da posição do projeto na estrutura: quantidade de irmãos e de ancestrais, estatísticas da árvore, o caminho até o projeto e a hierarquia a que ele pertence.\n\nConceitos e regras em [Hierarquia de projetos](https://docs.olie.ai/guides/projects/project-hierarchy).",
        "operationId": "listarEstatSticasDaHierarquiaDeUmProjeto",
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean",
                      "description": "Sempre true quando a operação é concluída."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "project_id": {
                          "type": "string",
                          "description": "ID (UUID) do projeto consultado.",
                          "format": "uuid"
                        },
                        "project_name": {
                          "type": "string",
                          "description": "Nome do projeto."
                        },
                        "stats": {
                          "type": "object",
                          "properties": {
                            "level": {
                              "type": "integer",
                              "description": "Nível do projeto na árvore, começando em 0 na raiz."
                            },
                            "depth": {
                              "type": "integer",
                              "description": "Quantos níveis existem abaixo do projeto."
                            },
                            "children_count": {
                              "type": "integer",
                              "description": "Filhos diretos."
                            },
                            "descendants_count": {
                              "type": "integer",
                              "description": "Total de descendentes em todos os níveis."
                            },
                            "is_root": {
                              "type": "boolean",
                              "description": "Indica que o projeto não tem pai."
                            },
                            "is_leaf": {
                              "type": "boolean",
                              "description": "Indica que o projeto não tem filhos."
                            }
                          },
                          "description": "Números da posição do projeto na hierarquia."
                        },
                        "siblings_count": {
                          "type": "integer",
                          "description": "Projetos que dividem o mesmo pai."
                        },
                        "ancestors_count": {
                          "type": "integer",
                          "description": "Projetos acima na estrutura."
                        },
                        "hierarchy_breadcrumb": {
                          "type": "string",
                          "description": "Caminho da raiz até o projeto, separado por `>`."
                        },
                        "hierarchy": {
                          "type": "array",
                          "description": "Caminho da raiz até o projeto, do mais alto ao mais baixo.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "ID (UUID) do projeto.",
                                "format": "uuid"
                              },
                              "code": {
                                "type": "string",
                                "description": "Código do projeto."
                              },
                              "name": {
                                "type": "string",
                                "description": "Nome do projeto."
                              }
                            },
                            "description": "Projeto do caminho."
                          }
                        }
                      },
                      "description": "Estatísticas da hierarquia."
                    }
                  },
                  "description": "Números da hierarquia do projeto.",
                  "required": [
                    "response",
                    "data"
                  ]
                },
                "example": {
                  "response": true,
                  "data": {
                    "project_id": "019e0f21-4b3c-71a8-8f0e-9c2d5a7b1e40",
                    "project_name": "Fundação",
                    "stats": {
                      "level": 1,
                      "depth": 1,
                      "children_count": 1,
                      "descendants_count": 1,
                      "is_root": false,
                      "is_leaf": false
                    },
                    "siblings_count": 1,
                    "ancestors_count": 1,
                    "hierarchy_breadcrumb": "Shopping Center > Fundação",
                    "hierarchy": [
                      {
                        "id": "019e0edb-aa7c-70c4-9d2d-3a2f175b5ddf",
                        "code": "SC-1",
                        "name": "Shopping Center"
                      },
                      {
                        "id": "019e0f21-4b3c-71a8-8f0e-9c2d5a7b1e40",
                        "code": "SC-2",
                        "name": "Fundação"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "description": "ID (UUID) do projeto.",
          "schema": {
            "type": "string"
          },
          "example": "{{project_id}}"
        }
      ]
    },
    "/api/management/projects/{project}/hierarchy/analytics": {
      "get": {
        "tags": [
          "projects",
          "Hierarquia"
        ],
        "summary": "Obter análises dos descendentes",
        "description": "Consolida em um único retorno os números de todos os projetos abaixo do projeto informado — financeiro, tarefas, funis e pessoas envolvidas — para uma visão macro da estrutura.\n\nProjetos sem nenhum descendente respondem com erro, já que não há o que consolidar.",
        "operationId": "listarAnLisesAgregadasDeTodosOsProjetosDescendentes",
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean",
                      "description": "Sempre true quando a operação é concluída."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "budget": {
                          "type": "object",
                          "properties": {
                            "total_budget": {
                              "type": "number",
                              "description": "Soma dos orçamentos."
                            },
                            "average_budget": {
                              "type": "number",
                              "description": "Média dos orçamentos maiores que zero."
                            },
                            "budget_distribution": {
                              "type": "object",
                              "description": "Quantidade de projetos por valor de orçamento.",
                              "additionalProperties": {
                                "type": "number",
                                "description": "Valor apurado para a chave."
                              }
                            },
                            "projects_with_budget": {
                              "type": "integer",
                              "description": "Projetos com orçamento."
                            },
                            "projects_without_budget": {
                              "type": "integer",
                              "description": "Projetos sem orçamento."
                            },
                            "budget_range": {
                              "type": "object",
                              "properties": {
                                "min": {
                                  "type": "number",
                                  "description": "Menor orçamento."
                                },
                                "max": {
                                  "type": "number",
                                  "description": "Maior orçamento."
                                }
                              },
                              "description": "Faixa de orçamento."
                            }
                          },
                          "description": "Números financeiros."
                        },
                        "funnels": {
                          "type": "object",
                          "properties": {
                            "total_funnels": {
                              "type": "integer",
                              "description": "Funis distintos usados pelos descendentes."
                            },
                            "average_funnels_per_project": {
                              "type": "number",
                              "description": "Média de funis por projeto."
                            },
                            "funnels_per_project": {
                              "type": "object",
                              "description": "Quantidade de funis por projeto.",
                              "additionalProperties": {
                                "type": "number",
                                "description": "Valor apurado para a chave."
                              }
                            },
                            "projects_per_step": {
                              "type": "object",
                              "description": "Quantidade de projetos por etapa.",
                              "additionalProperties": {
                                "type": "number",
                                "description": "Valor apurado para a chave."
                              }
                            },
                            "projects_with_funnels": {
                              "type": "integer",
                              "description": "Projetos em algum funil."
                            },
                            "projects_without_funnels": {
                              "type": "integer",
                              "description": "Projetos fora de qualquer funil."
                            }
                          },
                          "description": "Números de funis."
                        },
                        "users": {
                          "type": "object",
                          "properties": {
                            "total_users": {
                              "type": "integer",
                              "description": "Pessoas distintas envolvidas."
                            },
                            "total_user_assignments": {
                              "type": "integer",
                              "description": "Total de vínculos de pessoas com projetos."
                            },
                            "average_users_per_project": {
                              "type": "number",
                              "description": "Média de pessoas por projeto."
                            },
                            "users_by_role": {
                              "type": "object",
                              "description": "Quantidade de vínculos por papel.",
                              "additionalProperties": {
                                "type": "number",
                                "description": "Valor apurado para a chave."
                              }
                            },
                            "users_per_project": {
                              "type": "object",
                              "description": "Quantidade de pessoas por projeto.",
                              "additionalProperties": {
                                "type": "number",
                                "description": "Valor apurado para a chave."
                              }
                            },
                            "projects_with_users": {
                              "type": "integer",
                              "description": "Projetos com alguém vinculado."
                            },
                            "projects_without_users": {
                              "type": "integer",
                              "description": "Projetos sem ninguém vinculado."
                            }
                          },
                          "description": "Números de pessoas."
                        },
                        "status": {
                          "type": "object",
                          "properties": {
                            "by_status": {
                              "type": "object",
                              "description": "Quantidade de projetos por situação.",
                              "additionalProperties": {
                                "type": "number",
                                "description": "Valor apurado para a chave."
                              }
                            },
                            "total_projects": {
                              "type": "integer",
                              "description": "Total de projetos considerados."
                            },
                            "status_distribution_percentage": {
                              "type": "object",
                              "description": "Percentual de projetos por situação.",
                              "additionalProperties": {
                                "type": "number",
                                "description": "Valor apurado para a chave."
                              }
                            }
                          },
                          "description": "Distribuição por situação."
                        },
                        "impact": {
                          "type": "object",
                          "properties": {
                            "by_impact": {
                              "type": "object",
                              "description": "Quantidade de projetos por grau de impacto.",
                              "additionalProperties": {
                                "type": "number",
                                "description": "Valor apurado para a chave."
                              }
                            },
                            "average_impact": {
                              "type": "number",
                              "description": "Impacto médio."
                            },
                            "impact_range": {
                              "type": "object",
                              "properties": {
                                "min": {
                                  "type": "number",
                                  "description": "Menor impacto."
                                },
                                "max": {
                                  "type": "number",
                                  "description": "Maior impacto."
                                }
                              },
                              "description": "Faixa de impacto."
                            },
                            "high_impact_projects": {
                              "type": "integer",
                              "description": "Projetos com impacto 8 ou mais."
                            },
                            "medium_impact_projects": {
                              "type": "integer",
                              "description": "Projetos com impacto de 4 a 7."
                            },
                            "low_impact_projects": {
                              "type": "integer",
                              "description": "Projetos com impacto 3 ou menos."
                            }
                          },
                          "description": "Distribuição por impacto."
                        },
                        "hierarchy": {
                          "type": "object",
                          "properties": {
                            "total_levels": {
                              "type": "integer",
                              "description": "Níveis ocupados pela estrutura."
                            },
                            "level_distribution": {
                              "type": "object",
                              "description": "Quantidade de projetos por nível.",
                              "additionalProperties": {
                                "type": "number",
                                "description": "Valor apurado para a chave."
                              }
                            },
                            "leaf_projects": {
                              "type": "integer",
                              "description": "Projetos sem filhos."
                            },
                            "branch_projects": {
                              "type": "integer",
                              "description": "Projetos com filhos."
                            },
                            "branch_to_leaf_ratio": {
                              "type": "number",
                              "description": "Relação entre projetos com e sem filhos."
                            },
                            "average_children_per_branch": {
                              "type": "number",
                              "description": "Média de filhos por projeto que tem filhos."
                            }
                          },
                          "description": "Formato da estrutura."
                        },
                        "timeline": {
                          "type": "object",
                          "properties": {
                            "recent_projects": {
                              "type": "object",
                              "properties": {
                                "last_30_days": {
                                  "type": "integer",
                                  "description": "Criados nos últimos 30 dias."
                                },
                                "last_90_days": {
                                  "type": "integer",
                                  "description": "Criados nos últimos 90 dias."
                                },
                                "last_365_days": {
                                  "type": "integer",
                                  "description": "Criados nos últimos 365 dias."
                                }
                              },
                              "description": "Projetos criados por janela de tempo."
                            },
                            "recently_updated": {
                              "type": "integer",
                              "description": "Projetos alterados recentemente."
                            },
                            "monthly_creation_trend": {
                              "type": "object",
                              "description": "Projetos criados por mês, no formato AAAA-MM.",
                              "additionalProperties": {
                                "type": "number",
                                "description": "Valor apurado para a chave."
                              }
                            },
                            "oldest_project_age_days": {
                              "type": "integer",
                              "description": "Idade do projeto mais antigo, em dias."
                            },
                            "newest_project_age_days": {
                              "type": "integer",
                              "description": "Idade do projeto mais novo, em dias."
                            }
                          },
                          "description": "Evolução no tempo."
                        }
                      },
                      "description": "Números consolidados dos descendentes."
                    }
                  },
                  "description": "Análises agregadas da hierarquia.",
                  "required": [
                    "response",
                    "data"
                  ]
                },
                "example": {
                  "response": true,
                  "data": {
                    "budget": {
                      "total_budget": 460000,
                      "average_budget": 230000,
                      "budget_distribution": {
                        "120000": 1,
                        "340000": 1
                      },
                      "projects_with_budget": 2,
                      "projects_without_budget": 1,
                      "budget_range": {
                        "min": 0,
                        "max": 340000
                      }
                    },
                    "funnels": {
                      "total_funnels": 1,
                      "average_funnels_per_project": 0.67,
                      "funnels_per_project": {
                        "019e0f21-4b3c-71a8-8f0e-9c2d5a7b1e40": 1
                      },
                      "projects_per_step": {
                        "181": 1
                      },
                      "projects_with_funnels": 1,
                      "projects_without_funnels": 2
                    },
                    "users": {
                      "total_users": 2,
                      "total_user_assignments": 3,
                      "average_users_per_project": 1,
                      "users_by_role": {
                        "assignee": 2,
                        "follower": 1
                      },
                      "users_per_project": {
                        "019e0f21-4b3c-71a8-8f0e-9c2d5a7b1e40": 2
                      },
                      "projects_with_users": 2,
                      "projects_without_users": 1
                    },
                    "status": {
                      "by_status": {
                        "1": 2,
                        "2": 1
                      },
                      "total_projects": 3,
                      "status_distribution_percentage": {
                        "1": 66.67,
                        "2": 33.33
                      }
                    },
                    "impact": {
                      "by_impact": {
                        "6": 1,
                        "7": 1,
                        "9": 1
                      },
                      "average_impact": 7.33,
                      "impact_range": {
                        "min": 6,
                        "max": 9
                      },
                      "high_impact_projects": 1,
                      "medium_impact_projects": 2,
                      "low_impact_projects": 0
                    },
                    "hierarchy": {
                      "total_levels": 2,
                      "level_distribution": {
                        "1": 2,
                        "2": 1
                      },
                      "leaf_projects": 2,
                      "branch_projects": 1,
                      "branch_to_leaf_ratio": 0.5,
                      "average_children_per_branch": 1
                    },
                    "timeline": {
                      "recent_projects": {
                        "last_30_days": 1,
                        "last_90_days": 2,
                        "last_365_days": 3
                      },
                      "recently_updated": 2,
                      "monthly_creation_trend": {
                        "2026-06": 1,
                        "2026-07": 1,
                        "2026-08": 1
                      },
                      "oldest_project_age_days": 74,
                      "newest_project_age_days": 3
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Projeto sem descendentes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean",
                      "description": "Sempre false em respostas de erro."
                    },
                    "message": {
                      "type": "string",
                      "description": "Identificador do erro, usado pelo cliente para tratar o caso."
                    },
                    "error": {
                      "type": "string",
                      "description": "Descrição legível do erro."
                    }
                  },
                  "required": [
                    "response",
                    "message",
                    "error"
                  ]
                },
                "example": {
                  "response": false,
                  "message": "no_descendants_for_analytics",
                  "error": "No descendants found for project"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "description": "ID (UUID) do projeto.",
          "schema": {
            "type": "string"
          },
          "example": "{{project_id}}"
        }
      ]
    },
    "/api/management/projects/{project}/hierarchy/attach-child": {
      "post": {
        "tags": [
          "projects",
          "Hierarquia"
        ],
        "summary": "Vincular um projeto filho",
        "description": "Torna um projeto existente filho direto do projeto informado. O vínculo é recusado quando criaria um ciclo, quando o projeto seria pai de si mesmo ou quando ultrapassaria o limite de quatro níveis de profundidade.\n\nRegras completas em [Hierarquia de projetos](https://docs.olie.ai/guides/projects/project-hierarchy).",
        "operationId": "vincularProjetoComoFilhoDeOutroProjeto",
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean",
                      "description": "Sempre true quando a operação é concluída."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "parent": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "ID (UUID) do projeto.",
                              "format": "uuid"
                            },
                            "name": {
                              "type": "string",
                              "description": "Nome do projeto."
                            }
                          },
                          "description": "Identificação resumida de um projeto.",
                          "additionalProperties": true
                        },
                        "child": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "ID (UUID) do projeto.",
                              "format": "uuid"
                            },
                            "name": {
                              "type": "string",
                              "description": "Nome do projeto."
                            }
                          },
                          "description": "Identificação resumida de um projeto.",
                          "additionalProperties": true
                        },
                        "new_hierarchy_breadcrumb": {
                          "type": "string",
                          "description": "Novo caminho do filho, da raiz até ele."
                        }
                      },
                      "description": "Vínculo criado."
                    }
                  },
                  "description": "Confirmação do vínculo pai-filho.",
                  "required": [
                    "response",
                    "data"
                  ]
                },
                "example": {
                  "response": true,
                  "data": {
                    "parent": {
                      "id": "019e0edb-aa7c-70c4-9d2d-3a2f175b5ddf",
                      "name": "Shopping Center"
                    },
                    "child": {
                      "id": "019e0f21-4b3c-71a8-8f0e-9c2d5a7b1e40",
                      "name": "Fundação"
                    },
                    "new_hierarchy_breadcrumb": "Shopping Center > Fundação"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Vínculo inválido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean",
                      "description": "Sempre false em respostas de erro."
                    },
                    "message": {
                      "type": "string",
                      "description": "Identificador do erro, usado pelo cliente para tratar o caso."
                    },
                    "error": {
                      "type": "string",
                      "description": "Descrição legível do erro."
                    }
                  },
                  "required": [
                    "response",
                    "message",
                    "error"
                  ]
                },
                "example": {
                  "response": false,
                  "message": "invalid_parent_child_relationship",
                  "error": "Cannot attach child: would create invalid hierarchy (loop, depth limit, or self-reference)"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "child_id": {
                    "type": "string",
                    "description": "ID (UUID) do projeto que passa a ser filho.",
                    "format": "uuid"
                  }
                },
                "description": "Projeto a vincular como filho.",
                "required": [
                  "child_id"
                ]
              },
[...]
