{
  "openapi": "3.0.3",
  "info": {
    "title": "Olie API",
    "description": "# Introdução 👋\n\nOlá! Esta é a documentação oficial da API da [olie.ai](https://olie.ai/). Aqui você encontra as referências e exemplos de uso dos nossos endpoints.\n\nPara uma visão completa, recomendamos fortemente que você leia a [documentação oficial](https://docs.olie.ai/api-reference/introduction). Lá estão detalhados tópicos essenciais como [autenticação](https://docs.olie.ai/api-reference/introduction/authentication), [estrutura de respostas](https://docs.olie.ai/api-reference/general/response-structure), [paginação](https://docs.olie.ai/api-reference/general/pagination) e outros guias de integração.\n\nNo Postman, esta coleção foca nas informações específicas de cada requisição (endpoints, parâmetros e exemplos), servindo como apoio rápido para testes e desenvolvimento.\n",
    "version": "1.0.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.olie.ai"
    }
  ],
  "paths": {
    "/api/management/projects/{id}/restore": {
      "get": {
        "tags": [
          "projects",
          "{id}",
          "restore"
        ],
        "summary": "Restaurar projeto",
        "description": "Restaura um projeto que foi deletado.",
        "operationId": "restaurarProjeto",
        "responses": {
          "200": {
            "description": "Resposta de sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "string",
                      "example": "<boolean>"
                    }
                  }
                },
                "examples": {
                  "Resposta de sucesso": {
                    "value": {
                      "response": "<boolean>"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "response": {
                      "type": "string",
                      "example": "<boolean>"
                    }
                  }
                },
                "examples": {
                  "Não autorizado": {
                    "value": {
                      "error": "<string>",
                      "message": "<string>",
                      "response": "<boolean>"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "No query results for model [App\\Models\\Project] :id"
                    },
                    "message": {
                      "type": "string",
                      "example": "project_model_not_found"
                    },
                    "response": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                },
                "examples": {
                  "Não encontrado": {
                    "value": {
                      "error": "No query results for model [App\\Models\\Project] :id",
                      "message": "project_model_not_found",
                      "response": false
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "1ae02989-bd9d-6132-9018-c66ff2a9b41d"
          },
          "description": "ID do projeto"
        }
      ]
    },
    "/api/management/projects/{id}/media": {
      "get": {
        "tags": [
          "projects",
          "{id}",
          "medias"
        ],
        "summary": "Listar conteúdos do projeto",
        "description": "Retorna uma lista de conteúdos do projeto com base nos filtros fornecidos.",
        "operationId": "listarConteDosDoProjeto",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "1"
            },
            "description": "Número da página a ser retornada. Começa em 1"
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "30"
            },
            "description": "Quantidade de itens exibidos por página. Define o tamanho da página de resultados"
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "default"
            },
            "description": "Filtro aplicado ao resultado. Valores possíveis: logs, content, default."
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de conteúdos do projeto retornada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "medias": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "example": "<dateTime>"
                          },
                          "deleted_at": {
                            "type": "string",
                            "example": "<dateTime>"
                          },
                          "extension": {
                            "type": "string",
                            "example": "<string>"
                          },
                          "file_url": {
                            "type": "string",
                            "example": "<uri>"
                          },
                          "frame_id": {
                            "type": "string",
                            "example": "<uuid>"
                          },
                          "id": {
                            "type": "string",
                            "example": "<uuid>"
                          },
                          "log": {
                            "type": "string",
                            "example": "<string>"
                          },
                          "name": {
                            "type": "string",
                            "example": "<string>"
                          },
                          "project_id": {
                            "type": "string",
                            "example": "<uuid>"
                          },
                          "technical_name": {
                            "type": "string",
                            "example": "<string>"
                          },
                          "text": {
                            "type": "string",
                            "example": "<string>"
                          },
                          "type": {
                            "type": "string",
                            "example": "<integer>"
                          },
                          "updated_at": {
                            "type": "string",
                            "example": "<dateTime>"
                          },
                          "user": {
                            "type": "object",
                            "properties": {}
                          },
                          "user_id": {
                            "type": "string",
                            "example": "<uuid>"
                          }
                        }
                      },
                      "example": [
                        {
                          "created_at": "<dateTime>",
                          "deleted_at": "<dateTime>",
                          "extension": "<string>",
                          "file_url": "<uri>",
                          "frame_id": "<uuid>",
                          "id": "<uuid>",
                          "log": "<string>",
                          "name": "<string>",
                          "project_id": "<uuid>",
                          "technical_name": "<string>",
                          "text": "<string>",
                          "type": "<integer>",
                          "updated_at": "<dateTime>",
                          "user": {},
                          "user_id": "<uuid>"
                        },
                        {
                          "created_at": "<dateTime>",
                          "deleted_at": "<dateTime>",
                          "extension": "<string>",
                          "file_url": "<uri>",
                          "frame_id": "<uuid>",
                          "id": "<uuid>",
                          "log": "<string>",
                          "name": "<string>",
                          "project_id": "<uuid>",
                          "technical_name": "<string>",
                          "text": "<string>",
                          "type": "<integer>",
                          "updated_at": "<dateTime>",
                          "user": {},
                          "user_id": "<uuid>"
                        }
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "string",
                          "example": "<integer>"
                        },
                        "from": {
                          "type": "string",
                          "example": "<integer>"
                        },
                        "last_page": {
                          "type": "string",
                          "example": "<integer>"
                        },
                        "per_page": {
                          "type": "string",
                          "example": "<integer>"
                        },
                        "to": {
                          "type": "string",
                          "example": "<integer>"
                        },
                        "total": {
                          "type": "string",
                          "example": "<integer>"
                        }
                      }
                    },
                    "response": {
                      "type": "string",
                      "example": "<boolean>"
                    }
                  }
                },
                "examples": {
                  "Lista de conteúdos do projeto retornada com sucesso": {
                    "value": {
                      "medias": [
                        {
                          "created_at": "<dateTime>",
                          "deleted_at": "<dateTime>",
                          "extension": "<string>",
                          "file_url": "<uri>",
                          "frame_id": "<uuid>",
                          "id": "<uuid>",
                          "log": "<string>",
                          "name": "<string>",
                          "project_id": "<uuid>",
                          "technical_name": "<string>",
                          "text": "<string>",
                          "type": "<integer>",
                          "updated_at": "<dateTime>",
                          "user": {},
                          "user_id": "<uuid>"
                        },
                        {
                          "created_at": "<dateTime>",
                          "deleted_at": "<dateTime>",
                          "extension": "<string>",
                          "file_url": "<uri>",
                          "frame_id": "<uuid>",
                          "id": "<uuid>",
                          "log": "<string>",
                          "name": "<string>",
                          "project_id": "<uuid>",
                          "technical_name": "<string>",
                          "text": "<string>",
                          "type": "<integer>",
                          "updated_at": "<dateTime>",
                          "user": {},
                          "user_id": "<uuid>"
                        }
                      ],
                      "meta": {
                        "current_page": "<integer>",
                        "from": "<integer>",
                        "last_page": "<integer>",
                        "per_page": "<integer>",
                        "to": "<integer>",
                        "total": "<integer>"
                      },
                      "response": "<boolean>"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "response": {
                      "type": "string",
                      "example": "<boolean>"
                    }
                  }
                },
                "examples": {
                  "Não autorizado": {
                    "value": {
                      "error": "<string>",
                      "message": "<string>",
                      "response": "<boolean>"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "<string>"
          },
          "description": "ID do projeto"
        }
      ]
    },
    "/api/management/projects/{project}/step-metrics": {
      "get": {
        "tags": [
          "projects",
          "{id}",
          "step-metrics"
        ],
        "summary": "Obter métricas computadas das etapas de um projeto específico no funil",
        "description": "Obter métricas computadas das etapas de um projeto específico no funil",
        "operationId": "obterMTricasComputadasDasEtapasDeUmProjetoEspecFicoNoFunil",
        "responses": {
          "200": {
            "description": "200",
            "content": {}
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "string"
          }
        }
      ]
    },
    "/api/management/projects/{project}/files": {
      "get": {
        "tags": [
          "projects",
          "{id}",
          "files"
        ],
        "summary": "Listar todos os arquivos associados a um projeto",
        "description": "Retorna todos os arquivos associados a um projeto específico.",
        "operationId": "listarTodosOsArquivosAssociadosAUmProjeto",
        "responses": {
          "200": {
            "description": "200",
            "content": {}
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "string"
          }
        }
      ]
    },
    "/api/management/projects/{project}/clone": {
      "post": {
        "tags": [
          "projects",
          "{id}",
          "clone"
        ],
        "summary": "Clonar um projeto",
        "description": "Cria uma cópia de um projeto existente. Permite configurar quais elementos serão clonados (funis, tags, checklists, respostas de formulários, mídias, fórum, grupos, atribuições, etc.).",
        "operationId": "clonarUmProjeto",
        "responses": {
          "200": {
            "description": "200",
            "content": {}
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "string"
          }
        }
      ]
    },
    "/api/management/projects/{project}/share": {
      "post": {
        "tags": [
          "projects",
          "{id}",
          "share"
        ],
        "summary": "Compartilhar projeto",
        "description": "Configura ou atualiza as opções de compartilhamento de um projeto, incluindo geração de token de compartilhamento e configurações de acesso.",
        "operationId": "compartilharProjeto",
        "responses": {
          "200": {
            "description": "200",
            "content": {}
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "string"
          }
        }
      ]
    },
    "/api/management/projects/{project}/hierarchy/children": {
      "get": {
        "tags": [
          "projects",
          "{id}",
          "hierarchy",
          "children"
        ],
        "summary": "Listar todos os projetos filhos de um projeto",
        "description": "Retorna todos os projetos filhos de um projeto específico, incluindo informações sobre o projeto pai. Suporta filtros para projetos excluídos e templates.",
        "operationId": "listarTodosOsProjetosFilhosDeUmProjeto",
        "responses": {
          "200": {
            "description": "200",
            "content": {}
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "string"
          }
        }
      ]
    },
    "/api/management/projects/{project}/hierarchy/tree": {
      "get": {
        "tags": [
          "projects",
          "{id}",
          "hierarchy",
          "tree"
        ],
        "summary": "Listar a árvore completa de hierarquia de um projeto",
        "description": "Retorna a árvore completa de hierarquia de um projeto, incluindo todos os descendentes, estatísticas da hierarquia e breadcrumb do projeto atual.",
        "operationId": "listarARvoreCompletaDeHierarquiaDeUmProjeto",
        "responses": {
          "200": {
            "description": "200",
            "content": {}
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "string"
          }
        }
      ]
    },
    "/api/management/projects/{project}/hierarchy/stats": {
      "get": {
        "tags": [
          "projects",
          "{id}",
          "hierarchy",
          "stats"
        ],
        "summary": "Listar estatísticas da hierarquia de um projeto",
        "description": "Retorna estatísticas detalhadas da hierarquia de um projeto, incluindo contagem de irmãos, ancestrais e informações sobre a estrutura hierárquica.",
        "operationId": "listarEstatSticasDaHierarquiaDeUmProjeto",
        "responses": {
          "200": {
            "description": "200",
            "content": {}
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "string"
          }
        }
      ]
    },
    "/api/management/projects/{project}/hierarchy/analytics": {
      "get": {
        "tags": [
          "projects",
          "{id}",
          "hierarchy",
          "analytics"
        ],
        "summary": "Listar análises agregadas de todos os projetos descendentes",
        "description": "Retorna análises agregadas de todos os projetos descendentes.",
        "operationId": "listarAnLisesAgregadasDeTodosOsProjetosDescendentes",
        "responses": {
          "200": {
            "description": "200",
            "content": {}
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "string"
          }
        }
      ]
    },
    "/api/management/projects/{project}/hierarchy/attach-child": {
      "post": {
        "tags": [
          "projects",
          "{id}",
          "hierarchy",
          "attach-child"
        ],
        "summary": "Vincular projeto como filho de outro projeto",
        "description": "Vincula um projeto como filho de outro projeto, criando uma relação de hierarquia pai-filho.",
        "operationId": "vincularProjetoComoFilhoDeOutroProjeto",
        "responses": {
          "200": {
            "description": "200",
            "content": {}
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "string"
          }
        }
      ]
    },
    "/api/management/projects/{project}/hierarchy/detach-child/{child}": {
      "delete": {
        "tags": [
          "projects",
          "{id}",
          "hierarchy",
          "detach-child"
        ],
        "summary": "Remover a relação de hierarquia entre um projeto pai e seu projeto filho",
        "description": "Remove a relação de hierarquia entre um projeto pai e seu projeto filho, promovendo o filho para o nível raiz.",
        "operationId": "removerARelaODeHierarquiaEntreUmProjetoPaiESeuProjetoFilho",
        "responses": {
          "200": {
            "description": "200",
            "content": {}
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "string"
          }
        },
        {
          "name": "child",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "string"
          }
        }
      ]
    },
    "/api/management/projects/{project}/hierarchy/move-to-parent": {
      "put": {
        "tags": [
          "projects",
          "{id}",
          "hierarchy",
          "move-to-parent"
        ],
        "summary": "Mover um projeto para ser filho de outro projeto",
        "description": "Move um projeto para ser filho de outro projeto, alterando sua posição na hierarquia.",
        "operationId": "moverUmProjetoParaSerFilhoDeOutroProjeto",
        "responses": {
          "200": {
            "description": "200",
            "content": {}
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "string"
          }
        }
      ]
    },
    "/api/management/projects/{project}/hierarchy/promote-to-root": {
      "put": {
        "tags": [
          "projects",
          "{id}",
          "hierarchy",
          "promote-to-root"
        ],
        "summary": "Remover um projeto de sua hierarquia atual",
        "description": "Remove um projeto de sua hierarquia atual, promovendo-o para o nível raiz (sem projeto pai).",
        "operationId": "removerUmProjetoDeSuaHierarquiaAtual",
        "responses": {
          "200": {
            "description": "200",
            "content": {}
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "string"
          }
        }
      ]
    },
    "/api/management/projects/{project}/loose-checklist": {
      "get": {
        "tags": [
          "projects",
          "{id}",
          "loose-checklist"
        ],
        "summary": "Listar todos os checklists avulsos associados a um projeto",
        "description": "Retorna todos os checklists avulsos associados a um projeto específico ordenados. Inclui informações sobre quem marcou como concluído e o autor de cada item.",
        "operationId": "listarTodosOsChecklistsAvulsosAssociadosAUmProjeto",
        "responses": {
          "200": {
            "description": "200",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "projects",
          "{id}",
          "loose-checklist"
        ],
        "summary": "Criar um novo item de checklist avulso para um projeto",
        "description": "Cria um novo item de checklist avulso para um projeto. O item é adicionado ao final da lista (ordem baseada na contagem existente).",
        "operationId": "criarUmNovoItemDeChecklistAvulsoParaUmProjeto",
        "responses": {
          "200": {
            "description": "200",
            "content": {}
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "string"
          }
        }
      ]
    },
    "/api/management/projects/{project}/loose-checklist/{loose_checklist}": {
      "put": {
        "tags": [
          "projects",
          "{id}",
          "loose-checklist"
        ],
        "summary": "Atualizar um item de checklist avulso",
        "description": "Atualiza um item de checklist avulso existente. Permite atualizar informações como data de conclusão, autor e quem marcou como concluído. A ordem pode ser ajustada automaticamente.",
        "operationId": "atualizarUmItemDeChecklistAvulso",
        "responses": {
          "200": {
            "description": "200",
            "content": {}
          }
        }
      },
      "delete": {
        "tags": [
          "projects",
          "{id}",
          "loose-checklist"
        ],
        "summary": "Remover um item de checklist avulso de um projeto",
        "description": "Remove um item de checklist avulso de um projeto. A ordem dos itens restantes é ajustada automaticamente.",
        "operationId": "removerUmItemDeChecklistAvulsoDeUmProjeto",
        "responses": {
          "200": {
            "description": "200",
            "content": {}
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "string"
          }
        },
        {
          "name": "loose_checklist",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "string"
          }
        }
      ]
    },
    "/api/management/projects/{project}/loose-forms": {
      "get": {
        "tags": [
          "projects",
          "{id}",
          "loose-forms"
        ],
        "summary": "Listar formulários avulsos associados a um projeto",
        "description": "Retorna todos os formulários avulsos associados a um projeto específico, incluindo informações do formulário relacionado.",
        "operationId": "listarFormulRiosAvulsosAssociadosAUmProjeto",
        "responses": {
          "200": {
            "description": "200",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "projects",
          "{id}",
          "loose-forms"
        ],
        "summary": "Vincula um formulário avulso a um projeto",
        "description": "Vincula um formulário avulso a um projeto",
        "operationId": "vinculaUmFormulRioAvulsoAUmProjeto",
        "responses": {
          "200": {
            "description": "200",
            "content": {}
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "string"
          }
        }
      ]
    },
    "/api/management/projects/{project}/loose-forms/{loose_form}": {
      "delete": {
        "tags": [
          "projects",
          "{id}",
          "loose-forms"
        ],
        "summary": "Desvincula um formulário avulso de um projeto",
        "description": "Desvincula um formulário avulso de um projeto",
        "operationId": "desvinculaUmFormulRioAvulsoDeUmProjeto",
        "responses": {
          "200": {
            "description": "200",
            "content": {}
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "string"
          }
        },
        {
          "name": "loose_form",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "string"
          }
        }
      ]
    },
    "/api/management/projects/{id}": {
      "get": {
        "tags": [
          "projects",
          "{id}"
        ],
        "summary": "Obter um projeto",
        "description": "Retorna os detalhes de um projeto específico pelo ID.",
        "operationId": "obterUmProjeto",
        "responses": {
          "200": {
            "description": "Projeto retornado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "project": {
                      "type": "object",
                      "properties": {
                        "budget": {
                          "type": "string",
                          "example": "<float>"
                        },
                        "code": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "contact": {
                          "type": "object",
                          "properties": {}
                        },
                        "contact_id": {
                          "type": "string",
                          "example": "<integer>"
                        },
                        "costs": {
                          "type": "object",
                          "properties": {}
                        },
                        "created_at": {
                          "type": "string",
                          "example": "<dateTime>"
                        },
                        "created_by": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "customer": {
                          "type": "object",
                          "properties": {}
                        },
                        "customer_id": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "deleted_at": {
                          "type": "string",
                          "example": "<dateTime>"
                        },
                        "description": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "form": {
                          "type": "object",
                          "properties": {}
                        },
                        "forum": {
                          "type": "object",
                          "properties": {}
                        },
                        "frame": {
                          "type": "object",
                          "properties": {}
                        },
                        "frame_id": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "id": {
                          "type": "string",
                          "example": "<uuid>"
                        },
                        "impact": {
                          "type": "string",
                          "example": "<integer>"
                        },
                        "is_template": {
                          "type": "string",
                          "example": "<boolean>"
                        },
                        "merged_id": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "merged_project": {
                          "type": "object",
                          "properties": {}
                        },
                        "name": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "old_id": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "parent_id": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "share_settings": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "share_token": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "status": {
                          "type": "string",
                          "example": "<integer>"
                        },
                        "step_form": {
                          "type": "object",
                          "properties": {}
                        },
                        "updated_at": {
                          "type": "string",
                          "example": "<dateTime>"
                        }
                      }
                    },
                    "response": {
                      "type": "string",
                      "example": "<boolean>"
                    }
                  }
                },
                "examples": {
                  "Projeto retornado com sucesso": {
                    "value": {
                      "project": {
                        "budget": "<float>",
                        "code": "<string>",
                        "contact": {},
                        "contact_id": "<integer>",
                        "costs": {},
                        "created_at": "<dateTime>",
                        "created_by": "<string>",
                        "customer": {},
                        "customer_id": "<string>",
                        "deleted_at": "<dateTime>",
                        "description": "<string>",
                        "form": {},
                        "forum": {},
                        "frame": {},
                        "frame_id": "<string>",
                        "id": "<uuid>",
                        "impact": "<integer>",
                        "is_template": "<boolean>",
                        "merged_id": "<string>",
                        "merged_project": {},
                        "name": "<string>",
                        "old_id": "<string>",
                        "parent_id": "<string>",
                        "share_settings": "<string>",
                        "share_token": "<string>",
                        "status": "<integer>",
                        "step_form": {},
                        "updated_at": "<dateTime>"
                      },
                      "response": "<boolean>"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "response": {
                      "type": "string",
                      "example": "<boolean>"
                    }
                  }
                },
                "examples": {
                  "Não autorizado": {
                    "value": {
                      "error": "<string>",
                      "message": "<string>",
                      "response": "<boolean>"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Model não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "response": {
                      "type": "string",
                      "example": "<boolean>"
                    }
                  }
                },
                "examples": {
                  "Model não encontrada": {
                    "value": {
                      "error": "<string>",
                      "message": "<string>",
                      "response": "<boolean>"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "projects",
          "{id}"
        ],
        "summary": "Editar projeto",
        "description": "Atualiza os dados de um projeto existente.",
        "operationId": "editarProjeto",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "examples": {
                "Editar projeto": {
                  "value": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Editado com sucesso",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Access-Control-Expose-Headers": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "private, must-revalidate"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 16 Dec 2025 18:49:13 GMT"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string",
                  "example": "160"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string",
                  "example": "159"
                }
              },
              "expires": {
                "schema": {
                  "type": "string",
                  "example": "-1"
                }
              },
              "pragma": {
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "project": {
                      "type": "object",
                      "properties": {
                        "budget": {
                          "type": "number",
                          "example": 950000
                        },
                        "code": {
                          "type": "string",
                          "example": "P-83"
                        },
                        "contact_id": {
                          "type": "number",
                          "example": 12597
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2025-12-16T14:10:51.000000Z"
                        },
                        "created_by": {
                          "type": "string",
                          "example": "019aeaa3-2370-731c-9008-be759795f449"
                        },
                        "customer_id": {
                          "type": "string",
                          "example": "019b277d-c615-723f-a1dd-f03940bce866"
                        },
                        "deleted_at": {
                          "nullable": true,
                          "example": null
                        },
                        "description": {
                          "type": "string",
                          "example": "Companhia de energia da cidade de Hawkins"
                        },
                        "form_answers": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "answer": {
                                "nullable": true,
                                "example": null
                              },
                              "answered_by": {
                                "nullable": true,
                                "example": null
                              },
                              "id": {
                                "type": "number",
                                "example": 2130
                              },
                              "label": {
                                "type": "string",
                                "example": "Texto curto"
                              },
                              "model": {
                                "type": "string",
                                "example": "Project"
                              },
                              "updated_at": {
                                "type": "string",
                                "example": "2025-12-16T14:45:52.000000Z"
                              }
                            }
                          },
                          "example": [
                            {
                              "answer": null,
                              "answered_by": null,
                              "id": 2130,
                              "label": "Texto curto",
                              "model": "Project",
                              "updated_at": "2025-12-16T14:45:52.000000Z"
                            },
                            {
                              "answer": null,
                              "answered_by": null,
                              "id": 2131,
                              "label": "Texto longo",
                              "model": "Project",
                              "updated_at": "2025-12-16T14:45:52.000000Z"
                            }
                          ]
                        },
                        "frame": {
                          "type": "object",
                          "properties": {
                            "cockpit_access": {
                              "type": "number",
                              "example": 0
                            },
                            "frame_billing_data_id": {
                              "nullable": true,
                              "example": null
                            },
                            "id": {
                              "type": "string",
                              "example": "019aeaa3-2778-73ec-8f8d-59d06cc59dca"
                            },
                            "logo_img": {
                              "nullable": true,
                              "example": null
                            },
                            "model_forms": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "class": {
                                    "type": "string",
                                    "example": "App\\Models\\Project"
                                  },
                                  "id": {
                                    "type": "number",
                                    "example": 377
                                  }
                                }
                              },
                              "example": [
                                {
                                  "class": "App\\Models\\Project",
                                  "id": 377
                                }
                              ]
                            },
                            "name": {
                              "type": "string",
                              "example": "OlieDev Company "
                            },
                            "old_id": {
                              "nullable": true,
                              "example": null
                            },
                            "status": {
                              "type": "number",
                              "example": 1
                            },
                            "subdomain": {
                              "type": "string",
                              "example": "devframe"
                            },
                            "type": {
                              "type": "number",
                              "example": 2
                            }
                          }
                        },
                        "frame_id": {
                          "type": "string",
                          "example": "019aeaa3-2778-73ec-8f8d-59d06cc59dca"
                        },
                        "id": {
                          "type": "string",
                          "example": "019b277f-e453-733d-a00e-6d26d444008b"
                        },
                        "impact": {
                          "type": "number",
                          "example": 5
                        },
                        "is_template": {
                          "type": "boolean",
                          "example": false
                        },
                        "merged_id": {
                          "nullable": true,
                          "example": null
                        },
                        "name": {
                          "type": "string",
                          "example": "Laboratório Hawkins"
                        },
                        "old_id": {
                          "nullable": true,
                          "example": null
                        },
                        "parent_id": {
                          "nullable": true,
                          "example": null
                        },
                        "share_settings": {
                          "nullable": true,
                          "example": null
                        },
                        "share_token": {
                          "nullable": true,
                          "example": null
                        },
                        "status": {
                          "type": "number",
                          "example": 1
                        },
                        "updated_at": {
                          "type": "string",
                          "example": "2025-12-16T18:49:13.000000Z"
                        }
                      }
                    },
                    "response": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "Editado com sucesso": {
                    "value": {
                      "project": {
                        "budget": 950000,
                        "code": "P-83",
                        "contact_id": 12597,
                        "created_at": "2025-12-16T14:10:51.000000Z",
                        "created_by": "019aeaa3-2370-731c-9008-be759795f449",
                        "customer_id": "019b277d-c615-723f-a1dd-f03940bce866",
                        "deleted_at": null,
                        "description": "Companhia de energia da cidade de Hawkins",
                        "form_answers": [
                          {
                            "answer": null,
                            "answered_by": null,
                            "id": 2130,
                            "label": "Texto curto",
                            "model": "Project",
                            "updated_at": "2025-12-16T14:45:52.000000Z"
                          },
                          {
                            "answer": null,
                            "answered_by": null,
                            "id": 2131,
                            "label": "Texto longo",
                            "model": "Project",
                            "updated_at": "2025-12-16T14:45:52.000000Z"
                          }
                        ],
                        "frame": {
                          "cockpit_access": 0,
                          "frame_billing_data_id": null,
                          "id": "019aeaa3-2778-73ec-8f8d-59d06cc59dca",
                          "logo_img": null,
                          "model_forms": [
                            {
                              "class": "App\\Models\\Project",
                              "id": 377
                            }
                          ],
                          "name": "OlieDev Company ",
                          "old_id": null,
                          "status": 1,
                          "subdomain": "devframe",
                          "type": 2
                        },
                        "frame_id": "019aeaa3-2778-73ec-8f8d-59d06cc59dca",
                        "id": "019b277f-e453-733d-a00e-6d26d444008b",
                        "impact": 5,
                        "is_template": false,
                        "merged_id": null,
                        "name": "Laboratório Hawkins",
                        "old_id": null,
                        "parent_id": null,
                        "share_settings": null,
                        "share_token": null,
                        "status": 1,
                        "updated_at": "2025-12-16T18:49:13.000000Z"
                      },
                      "response": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "response": {
                      "type": "string",
                      "example": "<boolean>"
                    }
                  }
                },
                "examples": {
                  "Não autorizado": {
                    "value": {
                      "error": "<string>",
                      "message": "<string>",
                      "response": "<boolean>"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Model não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "response": {
                      "type": "string",
                      "example": "<boolean>"
                    }
                  }
                },
                "examples": {
                  "Model não encontrada": {
                    "value": {
                      "error": "<string>",
                      "message": "<string>",
                      "response": "<boolean>"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Erro de validação",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Access-Control-Expose-Headers": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "private, must-revalidate"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 16 Dec 2025 18:52:00 GMT"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string",
                  "example": "160"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string",
                  "example": "158"
                }
              },
              "expires": {
                "schema": {
                  "type": "string",
                  "example": "-1"
                }
              },
              "pragma": {
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "The descrição must be a string. (and 1 more error)"
                    },
                    "message": {
                      "type": "string",
                      "example": "validation_errors"
                    },
                    "response": {
                      "type": "boolean",
                      "example": false
                    },
                    "validation": {
                      "type": "object",
                      "properties": {
                        "description": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "The descrição must be a string."
                          },
                          "example": [
                            "The descrição must be a string."
                          ]
                        },
                        "impact": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "The impact must not be greater than 10."
                          },
                          "example": [
                            "The impact must not be greater than 10."
                          ]
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Erro de validação": {
                    "value": {
                      "error": "The descrição must be a string. (and 1 more error)",
                      "message": "validation_errors",
                      "response": false,
                      "validation": {
                        "description": [
                          "The descrição must be a string."
                        ],
                        "impact": [
                          "The impact must not be greater than 10."
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "projects",
          "{id}"
        ],
        "summary": "Deletar projeto",
        "description": "Deleta um projeto pelo ID.",
        "operationId": "deletarProjeto",
        "responses": {
          "200": {
            "description": "Resposta de sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "string",
                      "example": "<boolean>"
                    }
                  }
                },
                "examples": {
                  "Resposta de sucesso": {
                    "value": {
                      "response": "<boolean>"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "response": {
                      "type": "string",
                      "example": "<boolean>"
                    }
                  }
                },
                "examples": {
                  "Não autorizado": {
                    "value": {
                      "error": "<string>",
                      "message": "<string>",
                      "response": "<boolean>"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Model não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "response": {
                      "type": "string",
                      "example": "<boolean>"
                    }
                  }
                },
                "examples": {
                  "Model não encontrada": {
                    "value": {
                      "error": "<string>",
                      "message": "<string>",
                      "response": "<boolean>"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "<string>"
          },
          "description": "ID do projeto"
        }
      ]
    },
    "/api/management/projects/merge": {
      "post": {
        "tags": [
          "projects",
          "merge"
        ],
        "summary": "Mesclar projetos",
        "description": "Mesclar projetos",
        "operationId": "mesclarProjetos",
        "responses": {
          "200": {
            "description": "200",
            "content": {}
          }
        }
      }
    },
    "/api/management/projects/ids": {
      "post": {
        "tags": [
          "projects",
          "ids"
        ],
        "summary": "Listar IDs de projetos",
        "description": "Retorna uma lista de IDs de projetos que correspondem aos filtros aplicados na requisição.",
        "operationId": "listarIdsDeProjetos",
        "responses": {
          "200": {
            "description": "200",
            "content": {}
          }
        }
      }
    },
    "/api/management/get-projects-by-forecast-dates": {
      "post": {
        "tags": [
          "projects",
          "get-projects-by-forecast-dates"
        ],
        "summary": "Obter projetos por datas de previsão",
        "description": "Obter projetos filtrados por datas de previsão específicas.",
        "operationId": "obterProjetosPorDatasDePrevisO",
        "responses": {
          "200": {
            "description": "200",
            "content": {}
          }
        }
      }
    },
    "/api/management/save-media": {
      "post": {
        "tags": [
          "projects"
        ],
        "summary": "Enviar conteúdo no projeto",
        "description": "Salvar/enviar diferentes tipos de conteúdo (texto, áudio ou arquivo) em um ou múltiplos projetos.\n\n### Tipo 1 - Descrição\n\n- **text** (string, obrigatório): Conteúdo de texto. Menções não são suportadas via API\n    \n\n### Tipo 2 - Áudio\n\n- **audio** (file, obrigatório): Arquivo de áudio (multipart/form-data)\n    \n\n### Tipo 3 - Arquivo\n\n- **file** (array, obrigatório): Array de arquivos (multipart/form-data)\n    \n- **text** (string, opcional): Texto descritivo\n    \n\n## Observações\n\n- Projetos merged não podem receber novas mídias\n    \n- Múltiplos arquivos geram múltiplas entradas de mídia\n    \n- Menções em descrições processam notificações automaticamente\n    \n- Quando múltiplas mídias são criadas, o retorno usa `medias` (array) ao invés de `media` (objeto).",
        "operationId": "enviarConteDoNoProjeto",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "audio": {
                    "type": "string",
                    "example": "<binary>"
                  },
                  "file[0]": {
                    "type": "string",
                    "example": "<binary>"
                  },
                  "project_ids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "00000000-0000-0000-0000-000000000000"
                    },
                    "example": [
                      "00000000-0000-0000-0000-000000000000"
                    ]
                  },
                  "text": {
                    "type": "string",
                    "example": "Texto a ser enviado"
                  },
                  "type": {
                    "type": "number",
                    "example": 1
                  }
                }
              },
              "examples": {
                "Enviar conteúdo no projeto": {
                  "value": {
                    "audio": "<binary>",
                    "file[0]": "<binary>",
                    "project_ids": [
                      "00000000-0000-0000-0000-000000000000"
                    ],
                    "text": "Texto a ser enviado",
                    "type": 1
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file[]": {
                    "description": "O arquivo",
                    "type": "string",
                    "format": "binary"
                  },
                  "project_ids[]": {
                    "description": "ID do projeto para enviar o arquivo",
                    "type": "string",
                    "example": "019bc2c3-5404-707f-be4d-9690f6bb8179"
                  },
                  "type": {
                    "description": "O tipo precisa ser 2 quando for enviar arquivo",
                    "type": "string",
                    "example": "2"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Conteúdo enviado a vários projetos / Enviar arquivo em um projeto / Conteúdo enviado a vários projetos",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Access-Control-Expose-Headers": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 15 Jan 2026 19:01:51 GMT"
                }
              },
              "Host": {
                "schema": {
                  "type": "string",
                  "example": "api.olie.localhost"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "X-Ratelimit-Limit": {
                "schema": {
                  "type": "string",
                  "example": "160"
                }
              },
              "X-Ratelimit-Remaining": {
                "schema": {
                  "type": "string",
                  "example": "154"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "media": {
                      "type": "object",
                      "properties": {
                        "created_at": {
                          "type": "string",
                          "example": "2026-01-15T18:25:54.000000Z"
                        },
                        "extension": {
                          "type": "string",
                          "example": "png"
                        },
                        "file_url": {
                          "type": "string",
                          "example": "https://endereco-para-o-arquivo.example/"
                        },
                        "frame_id": {
                          "type": "string",
                          "example": "019b329a-4346-7064-bba3-e7c19057cda4"
                        },
                        "id": {
                          "type": "string",
                          "example": "019bc2e8-2c46-71b5-841c-ebfe409efd0c"
                        },
                        "name": {
                          "type": "string",
                          "example": "b9zsykb9zsykb9zs.png"
                        },
                        "project_id": {
                          "type": "string",
                          "example": "019bc2c3-5404-707f-be4d-9690f6bb8179"
                        },
                        "technical_name": {
                          "type": "string",
                          "example": "b9zsykb9zsykb9zs-15255120260115.png"
                        },
                        "text": {
                          "nullable": true,
                          "example": null
                        },
                        "type": {
                          "type": "number",
                          "example": 2
                        },
                        "updated_at": {
                          "type": "string",
                          "example": "2026-01-15T18:25:54.000000Z"
                        },
                        "user": {
                          "type": "object",
                          "properties": {
                            "avatar_url": {
                              "type": "string",
                              "example": "https://via.placeholder.com/124x124.png/00eebb?text=vero"
                            },
                            "description": {
                              "type": "string",
                              "example": "Nostrum debitis pariatur dolorum sapiente."
                            },
                            "email": {
                              "type": "string",
                              "example": "tester@olie.ai"
                            },
                            "email_verified_at": {
                              "type": "string",
                              "example": "2025-12-18 14:55:28"
                            },
                            "id": {
                              "type": "string",
                              "example": "019b329a-3f1f-7198-89e5-008dc4e2bd60"
                            },
                            "lang": {
                              "type": "string",
                              "example": "en"
                            },
                            "name": {
                              "type": "string",
                              "example": "Test User"
                            },
                            "old_id": {
                              "nullable": true,
                              "example": null
                            },
                            "status": {
                              "type": "number",
                              "example": 1
                            }
                          }
                        },
                        "user_id": {
                          "type": "string",
                          "example": "019b329a-3f1f-7198-89e5-008dc4e2bd60"
                        }
                      }
                    },
                    "medias": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "example": "2026-01-15T19:01:51.000000Z"
                          },
                          "frame_id": {
                            "type": "string",
                            "example": "019b329a-4346-7064-bba3-e7c19057cda4"
                          },
                          "id": {
                            "type": "string",
                            "example": "019bc309-175d-7211-9524-29646278c39f"
                          },
                          "name": {
                            "type": "string",
                            "example": "description.4fea17cab04852a3b32d401766a84d5e"
                          },
                          "project_id": {
                            "type": "string",
                            "example": "019bbcd3-2249-7357-ac43-8ab6209ec54c"
                          },
                          "technical_name": {
                            "type": "string",
                            "example": "description.4fea17cab04852a3b32d401766a84d5e"
                          },
                          "text": {
                            "type": "string",
                            "example": "Cada porta pode ser uma porta para outro mundo."
                          },
                          "type": {
                            "type": "number",
                            "example": 1
                          },
                          "updated_at": {
                            "type": "string",
                            "example": "2026-01-15T19:01:51.000000Z"
                          },
                          "user": {
                            "type": "object",
                            "properties": {
                              "avatar_url": {
                                "type": "string",
                                "example": "https://via.placeholder.com/124x124.png/00eebb?text=vero"
                              },
                              "description": {
                                "type": "string",
                                "example": "Nostrum debitis pariatur dolorum sapiente."
                              },
                              "email": {
                                "type": "string",
                                "example": "tester@olie.ai"
                              },
                              "email_verified_at": {
                                "type": "string",
                                "example": "2025-12-18 14:55:28"
                              },
                              "id": {
                                "type": "string",
                                "example": "019b329a-3f1f-7198-89e5-008dc4e2bd60"
                              },
                              "lang": {
                                "type": "string",
                                "example": "en"
                              },
                              "name": {
                                "type": "string",
                                "example": "Test User"
                              },
                              "old_id": {
                                "nullable": true,
                                "example": null
                              },
                              "status": {
                                "type": "number",
                                "example": 1
                              }
                            }
                          },
                          "user_id": {
                            "type": "string",
                            "example": "019b329a-3f1f-7198-89e5-008dc4e2bd60"
                          }
                        }
                      },
                      "example": [
                        {
                          "created_at": "2026-01-15T19:01:51.000000Z",
                          "frame_id": "019b329a-4346-7064-bba3-e7c19057cda4",
                          "id": "019bc309-175d-7211-9524-29646278c39f",
                          "name": "description.4fea17cab04852a3b32d401766a84d5e",
                          "project_id": "019bbcd3-2249-7357-ac43-8ab6209ec54c",
                          "technical_name": "description.4fea17cab04852a3b32d401766a84d5e",
                          "text": "Cada porta pode ser uma porta para outro mundo.",
                          "type": 1,
                          "updated_at": "2026-01-15T19:01:51.000000Z",
                          "user": {
                            "avatar_url": "https://via.placeholder.com/124x124.png/00eebb?text=vero",
                            "description": "Nostrum debitis pariatur dolorum sapiente.",
                            "email": "tester@olie.ai",
                            "email_verified_at": "2025-12-18 14:55:28",
                            "id": "019b329a-3f1f-7198-89e5-008dc4e2bd60",
                            "lang": "en",
                            "name": "Test User",
                            "old_id": null,
                            "status": 1
                          },
                          "user_id": "019b329a-3f1f-7198-89e5-008dc4e2bd60"
                        },
                        {
                          "created_at": "2026-01-15T19:01:51.000000Z",
                          "frame_id": "019b329a-4346-7064-bba3-e7c19057cda4",
                          "id": "019bc309-1777-71e5-98c3-bff91d787182",
                          "name": "description.4fea17cab04852a3b32d401766a84d5e",
                          "project_id": "019bc2c3-5404-707f-be4d-9690f6bb8179",
                          "technical_name": "description.4fea17cab04852a3b32d401766a84d5e",
                          "text": "Cada porta pode ser uma porta para outro mundo.",
                          "type": 1,
                          "updated_at": "2026-01-15T19:01:51.000000Z",
                          "user": {
                            "avatar_url": "https://via.placeholder.com/124x124.png/00eebb?text=vero",
                            "description": "Nostrum debitis pariatur dolorum sapiente.",
                            "email": "tester@olie.ai",
                            "email_verified_at": "2025-12-18 14:55:28",
                            "id": "019b329a-3f1f-7198-89e5-008dc4e2bd60",
                            "lang": "en",
                            "name": "Test User",
                            "old_id": null,
                            "status": 1
                          },
                          "user_id": "019b329a-3f1f-7198-89e5-008dc4e2bd60"
                        }
                      ]
                    },
                    "response": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "Conteúdo enviado a vários projetos": {
                    "value": {
                      "medias": [
                        {
                          "created_at": "2026-01-15T19:01:51.000000Z",
                          "frame_id": "019b329a-4346-7064-bba3-e7c19057cda4",
                          "id": "019bc309-175d-7211-9524-29646278c39f",
                          "name": "description.4fea17cab04852a3b32d401766a84d5e",
                          "project_id": "019bbcd3-2249-7357-ac43-8ab6209ec54c",
                          "technical_name": "description.4fea17cab04852a3b32d401766a84d5e",
                          "text": "Cada porta pode ser uma porta para outro mundo.",
                          "type": 1,
                          "updated_at": "2026-01-15T19:01:51.000000Z",
                          "user": {
                            "avatar_url": "https://via.placeholder.com/124x124.png/00eebb?text=vero",
                            "description": "Nostrum debitis pariatur dolorum sapiente.",
                            "email": "tester@olie.ai",
                            "email_verified_at": "2025-12-18 14:55:28",
                            "id": "019b329a-3f1f-7198-89e5-008dc4e2bd60",
                            "lang": "en",
                            "name": "Test User",
                            "old_id": null,
                            "status": 1
                          },
                          "user_id": "019b329a-3f1f-7198-89e5-008dc4e2bd60"
                        },
                        {
                          "created_at": "2026-01-15T19:01:51.000000Z",
                          "frame_id": "019b329a-4346-7064-bba3-e7c19057cda4",
                          "id": "019bc309-1777-71e5-98c3-bff91d787182",
                          "name": "description.4fea17cab04852a3b32d401766a84d5e",
                          "project_id": "019bc2c3-5404-707f-be4d-9690f6bb8179",
                          "technical_name": "description.4fea17cab04852a3b32d401766a84d5e",
                          "text": "Cada porta pode ser uma porta para outro mundo.",
                          "type": 1,
                          "updated_at": "2026-01-15T19:01:51.000000Z",
                          "user": {
                            "avatar_url": "https://via.placeholder.com/124x124.png/00eebb?text=vero",
                            "description": "Nostrum debitis pariatur dolorum sapiente.",
                            "email": "tester@olie.ai",
                            "email_verified_at": "2025-12-18 14:55:28",
                            "id": "019b329a-3f1f-7198-89e5-008dc4e2bd60",
                            "lang": "en",
                            "name": "Test User",
                            "old_id": null,
                            "status": 1
                          },
                          "user_id": "019b329a-3f1f-7198-89e5-008dc4e2bd60"
                        }
                      ],
                      "response": true
                    }
                  },
                  "Enviar arquivo em um projeto": {
                    "value": {
                      "media": {
                        "created_at": "2026-01-15T18:25:54.000000Z",
                        "extension": "png",
                        "file_url": "https://endereco-para-o-arquivo.example/",
                        "frame_id": "019b329a-4346-7064-bba3-e7c19057cda4",
                        "id": "019bc2e8-2c46-71b5-841c-ebfe409efd0c",
                        "name": "b9zsykb9zsykb9zs.png",
                        "project_id": "019bc2c3-5404-707f-be4d-9690f6bb8179",
                        "technical_name": "b9zsykb9zsykb9zs-15255120260115.png",
                        "text": null,
                        "type": 2,
                        "updated_at": "2026-01-15T18:25:54.000000Z",
                        "user": {
                          "avatar_url": "https://via.placeholder.com/124x124.png/00eebb?text=vero",
                          "description": "Nostrum debitis pariatur dolorum sapiente.",
                          "email": "tester@olie.ai",
                          "email_verified_at": "2025-12-18 14:55:28",
                          "id": "019b329a-3f1f-7198-89e5-008dc4e2bd60",
                          "lang": "en",
                          "name": "Test User",
                          "old_id": null,
                          "status": 1
                        },
                        "user_id": "019b329a-3f1f-7198-89e5-008dc4e2bd60"
                      },
                      "response": true
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Conteúdo enviado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "media": {
                      "type": "object",
                      "properties": {
                        "created_at": {
                          "type": "string",
                          "example": "2026-01-15T18:19:02.000000Z"
                        },
                        "frame_id": {
                          "type": "string",
                          "example": "019b329a-4346-7064-bba3-e7c19057cda4"
                        },
                        "id": {
                          "type": "string",
                          "example": "019bc2e1-e52e-72f5-a30c-f2a6c563188c"
                        },
                        "name": {
                          "type": "string",
                          "example": "description.46767bcea2ed5b93a9e55717177d08f0"
                        },
                        "project_id": {
                          "type": "string",
                          "example": "019bbcd3-2249-7357-ac43-8ab6209ec54c"
                        },
                        "technical_name": {
                          "type": "string",
                          "example": "description.46767bcea2ed5b93a9e55717177d08f0"
                        },
                        "text": {
                          "type": "string",
                          "example": "Amigos não mentem"
                        },
                        "type": {
                          "type": "number",
                          "example": 1
                        },
                        "updated_at": {
                          "type": "string",
                          "example": "2026-01-15T18:19:02.000000Z"
                        },
                        "user": {
                          "type": "object",
                          "properties": {
                            "avatar_url": {
                              "type": "string",
                              "example": "https://via.placeholder.com/124x124.png/00eebb?text=vero"
                            },
                            "description": {
                              "type": "string",
                              "example": "Nostrum debitis pariatur dolorum sapiente."
                            },
                            "email": {
                              "type": "string",
                              "example": "tester@olie.ai"
                            },
                            "email_verified_at": {
                              "type": "string",
                              "example": "2025-12-18 14:55:28"
                            },
                            "id": {
                              "type": "string",
                              "example": "019b329a-3f1f-7198-89e5-008dc4e2bd60"
                            },
                            "lang": {
                              "type": "string",
                              "example": "en"
                            },
                            "name": {
                              "type": "string",
                              "example": "Test User"
                            },
                            "old_id": {
                              "nullable": true,
                              "example": null
                            },
                            "status": {
                              "type": "number",
                              "example": 1
                            }
                          }
                        },
                        "user_id": {
                          "type": "string",
                          "example": "019b329a-3f1f-7198-89e5-008dc4e2bd60"
                        }
                      }
                    },
                    "response": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "Conteúdo enviado com sucesso": {
                    "value": {
                      "media": {
                        "created_at": "2026-01-15T18:19:02.000000Z",
                        "frame_id": "019b329a-4346-7064-bba3-e7c19057cda4",
                        "id": "019bc2e1-e52e-72f5-a30c-f2a6c563188c",
                        "name": "description.46767bcea2ed5b93a9e55717177d08f0",
                        "project_id": "019bbcd3-2249-7357-ac43-8ab6209ec54c",
                        "technical_name": "description.46767bcea2ed5b93a9e55717177d08f0",
                        "text": "Amigos não mentem",
                        "type": 1,
                        "updated_at": "2026-01-15T18:19:02.000000Z",
                        "user": {
                          "avatar_url": "https://via.placeholder.com/124x124.png/00eebb?text=vero",
                          "description": "Nostrum debitis pariatur dolorum sapiente.",
                          "email": "tester@olie.ai",
                          "email_verified_at": "2025-12-18 14:55:28",
                          "id": "019b329a-3f1f-7198-89e5-008dc4e2bd60",
                          "lang": "en",
                          "name": "Test User",
                          "old_id": null,
                          "status": 1
                        },
                        "user_id": "019b329a-3f1f-7198-89e5-008dc4e2bd60"
                      },
                      "response": true
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Erro de validação",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Access-Control-Expose-Headers": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 15 Jan 2026 18:21:37 GMT"
                }
              },
              "Host": {
                "schema": {
                  "type": "string",
                  "example": "api.olie.localhost"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "X-Ratelimit-Limit": {
                "schema": {
                  "type": "string",
                  "example": "160"
                }
              },
              "X-Ratelimit-Remaining": {
                "schema": {
                  "type": "string",
                  "example": "150"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "The texto field is required when type is 1."
                    },
                    "message": {
                      "type": "string",
                      "example": "validation_errors"
                    },
                    "response": {
                      "type": "boolean",
                      "example": false
                    },
                    "validation": {
                      "type": "object",
                      "properties": {
                        "text": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "The texto field is required when type is 1."
                          },
                          "example": [
                            "The texto field is required when type is 1."
                          ]
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Erro de validação": {
                    "value": {
                      "error": "The texto field is required when type is 1.",
                      "message": "validation_errors",
                      "response": false,
                      "validation": {
                        "text": [
                          "The texto field is required when type is 1."
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/management/projects": {
      "get": {
        "tags": [
          "projects"
        ],
        "summary": "Listar projetos",
        "description": "Esta rota é normalmente utilizada para campos de autocomplete, e buscas mais simples, pois é uma rota que entrega menos informações que uma busca avançada. Se você estiver buscando encontrar projetos baseado em um conjunto de filtros avançados e específicos, considere usar a busca avançada.\n\nPossui paginação e aceita alguns filtros via query params, consulte:\n\n- [Filtro básico](https://docs.olie.ai/api-reference/general/basic-filters)",
        "operationId": "listarProjetos",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "1"
            },
            "description": "Número da página a ser retornada. Começa em 1"
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "30"
            },
            "description": "Quantidade de itens exibidos por página. Define o tamanho da página de resultados"
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "<string>"
            },
            "description": "Permite aplicar filtros aos resultados da listagem. Use a sintaxe `filter[campo]=valor` para filtrar por campos específicos. Campos disponíveis variam por recurso. Consulte a documentação sobre [filtros básicos](https://docs.olie.ai/api-reference/general/basic-filters)"
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Hopper"
            },
            "description": "Filtrar projetos pelo nome ou código"
          },
          {
            "name": "trashed",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "true"
            },
            "description": "Filtrar deletados"
          },
          {
            "name": "template",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "true"
            },
            "description": "Filtrar projetos templates"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "name"
            },
            "description": "Campo usado para ordenação. Ex: name, created_at, etc."
          },
          {
            "name": "direction",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "asc"
            },
            "description": "Direção da ordenação: asc (crescente) ou desc (decrescente)."
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Access-Control-Expose-Headers": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "private, must-revalidate"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 16 Dec 2025 12:23:39 GMT"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string",
                  "example": "160"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string",
                  "example": "158"
                }
              },
              "expires": {
                "schema": {
                  "type": "string",
                  "example": "-1"
                }
              },
              "pragma": {
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "number",
                          "example": 1
                        },
[...]
