{
  "openapi": "3.0.0",
  "info": {
    "title": "Olie API",
    "version": "1.0.0",
    "description": "# Introdução 👋\n\nOlá! Esta é a documentação oficial da API da [olie.ai](https://olie.ai/). Aqui você encontra as referências e exemplos de uso dos nossos endpoints.\n\nPara uma visão completa, recomendamos fortemente que você leia a [documentação oficial](https://docs.olie.ai/api-reference/introduction). Lá estão detalhados tópicos essenciais como [autenticação](https://docs.olie.ai/api-reference/introduction/authentication), [estrutura de respostas](https://docs.olie.ai/api-reference/general/response-structure), [paginação](https://docs.olie.ai/api-reference/general/pagination) e outros guias de integração.\n\nNo Postman, esta coleção foca nas informações específicas de cada requisição (endpoints, parâmetros e exemplos), servindo como apoio rápido para testes e desenvolvimento.\n"
  },
  "servers": [
    {
      "url": "https://api.olie.ai"
    }
  ],
  "paths": {
    "/api/management/projects/{id}/restore": {
      "get": {
        "summary": "Restaurar um projeto",
        "responses": {
          "200": {
            "description": "Resposta de sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "example": {
                  "response": "<boolean>"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "unauthorized"
                    },
                    "error": {
                      "type": "string",
                      "example": "Unauthenticated."
                    }
                  }
                },
                "example": {
                  "response": "<boolean>",
                  "message": "<string>",
                  "error": "<string>"
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "tags": [
          "projects",
          "{id}",
          "restore"
        ],
        "description": "Restaura um projeto que foi deletado."
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "ID do projeto",
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "example": "1ae02989-bd9d-6132-9018-c66ff2a9b41d"
        }
      ]
    },
    "/api/management/projects/{id}/media": {
      "get": {
        "summary": "Listar conteúdos do projeto",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Número da página a ser retornada. Começa em 1",
            "schema": {
              "type": "integer"
            },
            "example": "1"
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "Quantidade de itens exibidos por página. Define o tamanho da página de resultados",
            "schema": {
              "type": "integer"
            },
            "example": "30"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filtro aplicado ao resultado. Valores possíveis: logs, content, default.",
            "schema": {
              "type": "string"
            },
            "example": "default"
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de conteúdos do projeto retornada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Esquema de um conteúdo",
                  "title": "Resposta de conteúdo",
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean",
                      "example": true
                    },
                    "meta": {
                      "type": "object",
                      "title": "Informações de Paginação",
                      "description": "Metadados de paginação",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "example": 1
                        },
                        "from": {
                          "type": "integer",
                          "example": 1
                        },
                        "last_page": {
                          "type": "integer",
                          "example": 19
                        },
                        "per_page": {
                          "type": "integer",
                          "example": 30
                        },
                        "to": {
                          "type": "integer",
                          "example": 30
                        },
                        "total": {
                          "type": "integer",
                          "example": 546
                        }
                      }
                    },
                    "medias": {
                      "type": "array",
                      "items": {
                        "title": "Media",
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "name": {
                            "type": "string"
                          },
                          "technical_name": {
                            "type": "string"
                          },
                          "type": {
                            "type": "integer"
                          },
                          "extension": {
                            "type": "string"
                          },
                          "text": {
                            "type": "string"
                          },
                          "file_url": {
                            "type": "string",
                            "format": "uri"
                          },
                          "log": {
                            "type": "string"
                          },
                          "user_id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "frame_id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "project_id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "deleted_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "user": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "response": "<boolean>",
                  "meta": {
                    "current_page": "<integer>",
                    "from": "<integer>",
                    "last_page": "<integer>",
                    "per_page": "<integer>",
                    "to": "<integer>",
                    "total": "<integer>"
                  },
                  "medias": [
                    {
                      "id": "<uuid>",
                      "name": "<string>",
                      "technical_name": "<string>",
                      "type": "<integer>",
                      "extension": "<string>",
                      "text": "<string>",
                      "file_url": "<uri>",
                      "log": "<string>",
                      "user_id": "<uuid>",
                      "frame_id": "<uuid>",
                      "project_id": "<uuid>",
                      "created_at": "<dateTime>",
                      "updated_at": "<dateTime>",
                      "deleted_at": "<dateTime>",
                      "user": {}
                    },
                    {
                      "id": "<uuid>",
                      "name": "<string>",
                      "technical_name": "<string>",
                      "type": "<integer>",
                      "extension": "<string>",
                      "text": "<string>",
                      "file_url": "<uri>",
                      "log": "<string>",
                      "user_id": "<uuid>",
                      "frame_id": "<uuid>",
                      "project_id": "<uuid>",
                      "created_at": "<dateTime>",
                      "updated_at": "<dateTime>",
                      "deleted_at": "<dateTime>",
                      "user": {}
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "unauthorized"
                    },
                    "error": {
                      "type": "string",
                      "example": "Unauthenticated."
                    }
                  }
                },
                "example": {
                  "response": "<boolean>",
                  "message": "<string>",
                  "error": "<string>"
                }
              }
            }
          }
        },
        "tags": [
          "projects",
          "{id}",
          "medias"
        ],
        "description": "Retorna uma lista de conteúdos do projeto com base nos filtros fornecidos."
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "ID do projeto",
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "post": {
        "summary": "Listar conteúdos do projeto",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Número da página a ser retornada. Começa em 1",
            "schema": {
              "type": "integer"
            },
            "example": "1"
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "Quantidade de itens exibidos por página. Define o tamanho da página de resultados",
            "schema": {
              "type": "integer"
            },
            "example": "30"
          },
          {
            "name": "filter",
            "in": "query",
            "required": true,
            "description": "Filtro aplicado ao resultado. Valores possíveis: logs, content, default.",
            "deprecated": false,
            "schema": {
              "type": "string"
            },
            "example": "default"
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de conteúdos do projeto retornada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Esquema de um conteúdo",
                  "title": "Resposta de conteúdo",
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean",
                      "example": true
                    },
                    "meta": {
                      "type": "object",
                      "title": "Informações de Paginação",
                      "description": "Metadados de paginação",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "example": 1
                        },
                        "from": {
                          "type": "integer",
                          "example": 1
                        },
                        "last_page": {
                          "type": "integer",
                          "example": 19
                        },
                        "per_page": {
                          "type": "integer",
                          "example": 30
                        },
                        "to": {
                          "type": "integer",
                          "example": 30
                        },
                        "total": {
                          "type": "integer",
                          "example": 546
                        }
                      }
                    },
                    "medias": {
                      "type": "array",
                      "items": {
                        "title": "Media",
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "name": {
                            "type": "string"
                          },
                          "technical_name": {
                            "type": "string"
                          },
                          "type": {
                            "type": "integer"
                          },
                          "extension": {
                            "type": "string"
                          },
                          "text": {
                            "type": "string"
                          },
                          "file_url": {
                            "type": "string",
                            "format": "uri"
                          },
                          "log": {
                            "type": "string"
                          },
                          "user_id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "frame_id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "project_id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "deleted_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "user": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "response": "<boolean>",
                  "meta": {
                    "current_page": "<integer>",
                    "from": "<integer>",
                    "last_page": "<integer>",
                    "per_page": "<integer>",
                    "to": "<integer>",
                    "total": "<integer>"
                  },
                  "medias": [
                    {
                      "id": "<uuid>",
                      "name": "<string>",
                      "technical_name": "<string>",
                      "type": "<integer>",
                      "extension": "<string>",
                      "text": "<string>",
                      "file_url": "<uri>",
                      "log": "<string>",
                      "user_id": "<uuid>",
                      "frame_id": "<uuid>",
                      "project_id": "<uuid>",
                      "created_at": "<dateTime>",
                      "updated_at": "<dateTime>",
                      "deleted_at": "<dateTime>",
                      "user": {}
                    },
                    {
                      "id": "<uuid>",
                      "name": "<string>",
                      "technical_name": "<string>",
                      "type": "<integer>",
                      "extension": "<string>",
                      "text": "<string>",
                      "file_url": "<uri>",
                      "log": "<string>",
                      "user_id": "<uuid>",
                      "frame_id": "<uuid>",
                      "project_id": "<uuid>",
                      "created_at": "<dateTime>",
                      "updated_at": "<dateTime>",
                      "deleted_at": "<dateTime>",
                      "user": {}
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "unauthorized"
                    },
                    "error": {
                      "type": "string",
                      "example": "Unauthenticated."
                    }
                  }
                },
                "example": {
                  "response": "<boolean>",
                  "message": "<string>",
                  "error": "<string>"
                }
              }
            }
          }
        },
        "tags": [
          "projects",
          "{id}",
          "medias"
        ],
        "description": "Retorna uma lista de conteúdos do projeto com base nos filtros fornecidos."
      }
    },
    "/api/management/projects/{project}/step-metrics": {
      "get": {
        "tags": [
          "projects",
          "{id}",
          "step-metrics"
        ],
        "summary": "Obter métricas computadas das etapas de um projeto específico no funil",
        "description": "Obter métricas computadas das etapas de um projeto específico no funil",
        "operationId": "obterMTricasComputadasDasEtapasDeUmProjetoEspecFicoNoFunil",
        "responses": {
          "200": {
            "description": "200"
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "string"
        }
      ]
    },
    "/api/management/projects/{project}/files": {
      "get": {
        "tags": [
          "projects",
          "{id}",
          "files"
        ],
        "summary": "Listar todos os arquivos associados a um projeto",
        "description": "Retorna todos os arquivos associados a um projeto específico.",
        "operationId": "listarTodosOsArquivosAssociadosAUmProjeto",
        "responses": {
          "200": {
            "description": "200"
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "string"
        }
      ]
    },
    "/api/management/projects/{project}/clone": {
      "post": {
        "tags": [
          "projects",
          "{id}",
          "clone"
        ],
        "summary": "Clonar um projeto",
        "description": "Cria uma cópia de um projeto existente. Permite configurar quais elementos serão clonados (funis, tags, checklists, respostas de formulários, mídias, fórum, grupos, atribuições, etc.).",
        "operationId": "clonarUmProjeto",
        "responses": {
          "200": {
            "description": "200"
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "string"
        }
      ]
    },
    "/api/management/projects/{project}/share": {
      "post": {
        "tags": [
          "projects",
          "{id}",
          "share"
        ],
        "summary": "Compartilhar um projeto",
        "description": "Configura ou atualiza as opções de compartilhamento de um projeto, incluindo geração de token de compartilhamento e configurações de acesso.",
        "operationId": "compartilharProjeto",
        "responses": {
          "200": {
            "description": "200"
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "string"
        }
      ]
    },
    "/api/management/projects/{project}/hierarchy/children": {
      "get": {
        "tags": [
          "projects",
          "{id}",
          "hierarchy",
          "children"
        ],
        "summary": "Listar todos os projetos filhos de um projeto",
        "description": "Retorna todos os projetos filhos de um projeto específico, incluindo informações sobre o projeto pai. Suporta filtros para projetos excluídos e templates.",
        "operationId": "listarTodosOsProjetosFilhosDeUmProjeto",
        "responses": {
          "200": {
            "description": "200"
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "string"
        }
      ]
    },
    "/api/management/projects/{project}/hierarchy/tree": {
      "get": {
        "tags": [
          "projects",
          "{id}",
          "hierarchy",
          "tree"
        ],
        "summary": "Listar a árvore completa da hierarquia de um projeto",
        "description": "Retorna a árvore completa de hierarquia de um projeto, incluindo todos os descendentes, estatísticas da hierarquia e breadcrumb do projeto atual.",
        "operationId": "listarARvoreCompletaDeHierarquiaDeUmProjeto",
        "responses": {
          "200": {
            "description": "200"
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "string"
        }
      ]
    },
    "/api/management/projects/{project}/hierarchy/stats": {
      "get": {
        "tags": [
          "projects",
          "{id}",
          "hierarchy",
          "stats"
        ],
        "summary": "Listar estatísticas da hierarquia de um projeto",
        "description": "Retorna estatísticas detalhadas da hierarquia de um projeto, incluindo contagem de irmãos, ancestrais e informações sobre a estrutura hierárquica.",
        "operationId": "listarEstatSticasDaHierarquiaDeUmProjeto",
        "responses": {
          "200": {
            "description": "200"
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "string"
        }
      ]
    },
    "/api/management/projects/{project}/hierarchy/analytics": {
      "get": {
        "tags": [
          "projects",
          "{id}",
          "hierarchy",
          "analytics"
        ],
        "summary": "Listar análises agregadas de todos os projetos descendentes",
        "description": "Retorna análises agregadas de todos os projetos descendentes.",
        "operationId": "listarAnLisesAgregadasDeTodosOsProjetosDescendentes",
        "responses": {
          "200": {
            "description": "200"
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "string"
        }
      ]
    },
    "/api/management/projects/{project}/hierarchy/attach-child": {
      "post": {
        "tags": [
          "projects",
          "{id}",
          "hierarchy",
          "attach-child"
        ],
        "summary": "Vincular um projeto como filho de outro projeto",
        "description": "Vincula um projeto como filho de outro projeto, criando uma relação de hierarquia pai-filho.",
        "operationId": "vincularProjetoComoFilhoDeOutroProjeto",
        "responses": {
          "200": {
            "description": "200"
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "description": "ID do projeto que será pai",
          "schema": {
            "type": "string"
          },
          "example": "{{project_id}}"
        }
      ]
    },
    "/api/management/projects/{project}/hierarchy/detach-child/{child}": {
      "delete": {
        "tags": [
          "projects",
          "{id}",
          "hierarchy",
          "detach-child"
        ],
        "summary": "Remover a relação de hierarquia entre um projeto pai e seu projeto filho",
        "description": "Remove a relação de hierarquia entre um projeto pai e seu projeto filho, promovendo o filho para o nível raiz.",
        "operationId": "removerARelaODeHierarquiaEntreUmProjetoPaiESeuProjetoFilho",
        "responses": {
          "200": {
            "description": "200"
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "string"
        },
        {
          "name": "child",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "string"
        }
      ]
    },
    "/api/management/projects/{project}/hierarchy/move-to-parent": {
      "put": {
        "tags": [
          "projects",
          "{id}",
          "hierarchy",
          "move-to-parent"
        ],
        "summary": "Mover um projeto para ser filho de outro projeto",
        "description": "Move um projeto para ser filho de outro projeto, alterando sua posição na hierarquia.",
        "operationId": "moverUmProjetoParaSerFilhoDeOutroProjeto",
        "responses": {
          "200": {
            "description": "200"
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "string"
        }
      ]
    },
    "/api/management/projects/{project}/hierarchy/promote-to-root": {
      "put": {
        "tags": [
          "projects",
          "{id}",
          "hierarchy",
          "promote-to-root"
        ],
        "summary": "Remover um projeto de sua hierarquia atual",
        "description": "Remove um projeto de sua hierarquia atual, promovendo-o para o nível raiz (sem projeto pai).",
        "operationId": "removerUmProjetoDeSuaHierarquiaAtual",
        "responses": {
          "200": {
            "description": "200"
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "string"
        }
      ]
    },
    "/api/management/projects/{project}/loose-checklist": {
      "get": {
        "tags": [
          "projects",
          "{id}",
          "loose-checklist"
        ],
        "summary": "Listar todos os checklists avulsos associados a um projeto",
        "description": "Retorna todos os checklists avulsos associados a um projeto específico ordenados. Inclui informações sobre quem marcou como concluído e o autor de cada item.",
        "operationId": "listarTodosOsChecklistsAvulsosAssociadosAUmProjeto",
        "responses": {
          "200": {
            "description": "200"
          }
        }
      },
      "post": {
        "tags": [
          "projects",
          "{id}",
          "loose-checklist"
        ],
        "summary": "Criar um novo item de checklist avulso para um projeto",
        "description": "Cria um novo item de checklist avulso para um projeto. O item é adicionado ao final da lista (ordem baseada na contagem existente).",
        "operationId": "criarUmNovoItemDeChecklistAvulsoParaUmProjeto",
        "responses": {
          "200": {
            "description": "200"
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "string"
        }
      ]
    },
    "/api/management/projects/{project}/loose-checklist/{loose_checklist}": {
      "put": {
        "tags": [
          "projects",
          "{id}",
          "loose-checklist"
        ],
        "summary": "Atualizar um item de checklist avulso",
        "description": "Atualiza um item de checklist avulso existente. Permite atualizar informações como data de conclusão, autor e quem marcou como concluído. A ordem pode ser ajustada automaticamente.",
        "operationId": "atualizarUmItemDeChecklistAvulso",
        "responses": {
          "200": {
            "description": "200"
          }
        }
      },
      "delete": {
        "tags": [
          "projects",
          "{id}",
          "loose-checklist"
        ],
        "summary": "Remover um item de checklist avulso de um projeto",
        "description": "Remove um item de checklist avulso de um projeto. A ordem dos itens restantes é ajustada automaticamente.",
        "operationId": "removerUmItemDeChecklistAvulsoDeUmProjeto",
        "responses": {
          "200": {
            "description": "200"
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "string"
        },
        {
          "name": "loose_checklist",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "string"
        }
      ]
    },
    "/api/management/projects/{project}/loose-forms": {
      "get": {
        "tags": [
          "projects",
          "{id}",
          "loose-forms"
        ],
        "summary": "Listar formulários avulsos associados a um projeto",
        "description": "Retorna todos os formulários avulsos associados a um projeto específico, incluindo informações do formulário relacionado.",
        "operationId": "listarFormulRiosAvulsosAssociadosAUmProjeto",
        "responses": {
          "200": {
            "description": "200"
          }
        }
      },
      "post": {
        "tags": [
          "projects",
          "{id}",
          "loose-forms"
        ],
        "summary": "Vincular um formulário avulso a um projeto",
        "description": "Vincular um formulário avulso a um projeto",
        "operationId": "vinculaUmFormulRioAvulsoAUmProjeto",
        "responses": {
          "200": {
            "description": "200"
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "string"
        }
      ]
    },
    "/api/management/projects/{project}/loose-forms/{loose_form}": {
      "delete": {
        "tags": [
          "projects",
          "{id}",
          "loose-forms"
        ],
        "summary": "Desvincular um formulário avulso de um projeto",
        "description": "Desvincular um formulário avulso de um projeto",
        "operationId": "desvinculaUmFormulRioAvulsoDeUmProjeto",
        "responses": {
          "200": {
            "description": "200"
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "string"
        },
        {
          "name": "loose_form",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "string"
        }
      ]
    },
    "/api/management/projects/{id}": {
      "get": {
        "summary": "Obter um projeto",
        "responses": {
          "200": {
            "description": "Projeto retornado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Esquema de um projeto completo",
                  "title": "Resposta de Projeto com Envelope",
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean",
                      "example": true
                    },
                    "project": {
                      "type": "object",
                      "title": "Project",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "old_id": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "impact": {
                          "type": "integer"
                        },
                        "parent_id": {
                          "type": "string"
                        },
                        "frame_id": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "customer_id": {
                          "type": "string"
                        },
                        "contact_id": {
                          "type": "integer"
                        },
                        "share_token": {
                          "type": "string"
                        },
                        "share_settings": {
                          "type": "string"
                        },
                        "merged_id": {
                          "type": "string"
                        },
                        "status": {
                          "type": "integer"
                        },
                        "budget": {
                          "type": "number",
                          "format": "float"
                        },
                        "is_template": {
                          "type": "boolean"
                        },
                        "created_by": {
                          "type": "string"
                        },
                        "deleted_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "tasks": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "customer": {
                          "type": "object"
                        },
                        "contact": {
                          "type": "object"
                        },
                        "funnels": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "funnel_steps": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "tags": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "frame": {
                          "type": "object"
                        },
                        "groups": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "users": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "form_answers": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "form": {
                          "type": "object"
                        },
                        "project_checklists": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "step_form": {
                          "type": "object"
                        },
                        "checklists": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "merged_project": {
                          "type": "object"
                        },
                        "loose_forms": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "forum": {
                          "type": "object"
                        },
                        "executors": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "costs": {
                          "type": "object"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "response": "<boolean>",
                  "project": {
                    "id": "<uuid>",
                    "old_id": "<string>",
                    "code": "<string>",
                    "name": "<string>",
                    "description": "<string>",
                    "impact": "<integer>",
                    "parent_id": "<string>",
                    "frame_id": "<string>",
                    "created_at": "<dateTime>",
                    "updated_at": "<dateTime>",
                    "customer_id": "<string>",
                    "contact_id": "<integer>",
                    "share_token": "<string>",
                    "share_settings": "<string>",
                    "merged_id": "<string>",
                    "status": "<integer>",
                    "budget": "<float>",
                    "is_template": "<boolean>",
                    "created_by": "<string>",
                    "deleted_at": "<dateTime>",
                    "customer": {},
                    "contact": {},
                    "frame": {},
                    "form": {},
                    "step_form": {},
                    "merged_project": {},
                    "forum": {},
                    "costs": {}
                  }
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "unauthorized"
                    },
                    "error": {
                      "type": "string",
                      "example": "Unauthenticated."
                    }
                  }
                },
                "example": {
                  "response": "<boolean>",
                  "message": "<string>",
                  "error": "<string>"
                }
              }
            }
          },
          "404": {
            "description": "Model não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "[modelName]_model_not_found"
                    },
                    "error": {
                      "type": "string",
                      "example": "No query results for model"
                    }
                  }
                },
                "example": {
                  "response": "<boolean>",
                  "message": "<string>",
                  "error": "<string>"
                }
              }
            }
          }
        },
        "tags": [
          "projects",
          "{id}"
        ],
        "description": "Retorna os detalhes de um projeto específico pelo ID."
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "ID do projeto",
          "schema": {
            "type": "string"
          },
          "example": "<string>"
        }
      ],
      "put": {
        "summary": "Editar um projeto",
        "responses": {
          "200": {
            "description": "Editado com sucesso",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Tue, 16 Dec 2025 18:49:13 GMT"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "private, must-revalidate"
              },
              "pragma": {
                "schema": {
                  "type": "string"
                },
                "example": "no-cache"
              },
              "expires": {
                "schema": {
                  "type": "integer"
                },
                "example": "-1"
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "example": "160"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "example": "159"
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Access-Control-Expose-Headers": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean"
                    },
                    "project": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "impact": {
                          "type": "integer"
                        },
                        "frame_id": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "customer_id": {
                          "type": "string"
                        },
                        "contact_id": {
                          "type": "integer"
                        },
                        "status": {
                          "type": "integer"
                        },
                        "budget": {
                          "type": "integer"
                        },
                        "is_template": {
                          "type": "boolean"
                        },
                        "created_by": {
                          "type": "string"
                        },
                        "form_answers": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "label": {
                                "type": "string"
                              },
                              "model": {
                                "type": "string"
                              },
                              "updated_at": {
                                "type": "string",
                                "format": "date-time"
                              }
                            }
                          }
                        },
                        "frame": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "type": {
                              "type": "integer"
                            },
                            "status": {
                              "type": "integer"
                            },
                            "subdomain": {
                              "type": "string"
                            },
                            "model_forms": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "integer"
                                  },
                                  "class": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "cockpit_access": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "response": true,
                  "project": {
                    "id": "019b277f-e453-733d-a00e-6d26d444008b",
                    "parent_id": null,
                    "old_id": null,
                    "code": "P-83",
                    "name": "Laboratório Hawkins",
                    "description": "Companhia de energia da cidade de Hawkins",
                    "impact": 5,
                    "frame_id": "019aeaa3-2778-73ec-8f8d-59d06cc59dca",
                    "created_at": "2025-12-16T14:10:51.000000Z",
                    "updated_at": "2025-12-16T18:49:13.000000Z",
                    "customer_id": "019b277d-c615-723f-a1dd-f03940bce866",
                    "contact_id": 12597,
                    "share_token": null,
                    "share_settings": null,
                    "merged_id": null,
                    "status": 1,
                    "budget": 950000,
                    "is_template": false,
                    "created_by": "019aeaa3-2370-731c-9008-be759795f449",
                    "deleted_at": null,
                    "form_answers": [
                      {
                        "id": 2130,
                        "label": "Texto curto",
                        "answer": null,
                        "model": "Project",
                        "answered_by": null,
                        "updated_at": "2025-12-16T14:45:52.000000Z"
                      },
                      {
                        "id": 2131,
                        "label": "Texto longo",
                        "answer": null,
                        "model": "Project",
                        "answered_by": null,
                        "updated_at": "2025-12-16T14:45:52.000000Z"
                      }
                    ],
                    "frame": {
                      "id": "019aeaa3-2778-73ec-8f8d-59d06cc59dca",
                      "old_id": null,
                      "name": "OlieDev Company ",
                      "type": 2,
                      "status": 1,
                      "subdomain": "devframe",
                      "frame_billing_data_id": null,
                      "model_forms": [
                        {
                          "id": 377,
                          "class": "App\\Models\\Project"
                        }
                      ],
                      "logo_img": null,
                      "cockpit_access": 0
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "unauthorized"
                    },
                    "error": {
                      "type": "string",
                      "example": "Unauthenticated."
                    }
                  }
                },
                "example": {
                  "response": "<boolean>",
                  "message": "<string>",
                  "error": "<string>"
                }
              }
            }
          },
          "404": {
            "description": "Model não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "[modelName]_model_not_found"
                    },
                    "error": {
                      "type": "string",
                      "example": "No query results for model"
                    }
                  }
                },
                "example": {
                  "response": "<boolean>",
                  "message": "<string>",
                  "error": "<string>"
                }
              }
            }
          },
          "422": {
            "description": "Erro de validação",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Tue, 16 Dec 2025 18:52:00 GMT"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "private, must-revalidate"
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "example": "160"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "example": "158"
              },
              "pragma": {
                "schema": {
                  "type": "string"
                },
                "example": "no-cache"
              },
              "expires": {
                "schema": {
                  "type": "integer"
                },
                "example": "-1"
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Access-Control-Expose-Headers": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    },
                    "validation": {
                      "type": "object",
                      "properties": {
                        "description": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "impact": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "response": false,
                  "message": "validation_errors",
                  "error": "The descrição must be a string. (and 1 more error)",
                  "validation": {
                    "description": [
                      "The descrição must be a string."
                    ],
                    "impact": [
                      "The impact must not be greater than 10."
                    ]
                  }
                }
              }
            }
          }
        },
        "tags": [
          "projects",
          "{id}"
        ],
        "description": "Atualiza os dados de um projeto existente.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "Atualização de Projeto",
                "description": "Campos para atualização de um projeto. Todos os campos são opcionais, permitindo atualizar apenas os campos desejados.",
                "allOf": [
                  {
                    "description": "Dados para atualização de um projeto",
                    "title": "Projeto",
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "maxLength": 191,
                        "example": "Projeto Atualizado",
                        "description": "Nome do projeto. Campo opcional na atualização, máximo de 191 caracteres."
                      },
                      "description": {
                        "type": "string",
                        "example": "Nova descrição do projeto",
                        "description": "Descrição detalhada do projeto. Campo opcional que permite atualizar as informações adicionais sobre o projeto."
                      },
                      "impact": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 10,
                        "example": 8,
                        "description": "Nível de impacto do projeto em uma escala de 1 a 10."
                      },
                      "contact_id": {
                        "type": "string",
                        "example": "uuid-do-contato",
                        "description": "ID único (UUID) do contato associado ao projeto. Campo opcional que permite atualizar ou vincular um contato específico ao projeto.",
                        "format": "uuid"
                      },
                      "customer_id": {
                        "type": "string",
                        "example": "uuid-do-cliente",
                        "description": "ID único (UUID) do cliente associado ao projeto. Campo opcional que permite atualizar ou vincular um cliente específico ao projeto.",
                        "format": "uuid"
                      },
                      "status": {
                        "type": "number",
                        "enum": [
                          1,
                          2,
                          3,
                          4
                        ],
                        "example": 2,
                        "description": "Status atual do projeto. Valores possíveis: 1 (Em execução), 2 (Concluído), 3 (Arquivado), 4 (Parado)."
                      },
                      "budget": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 999999999999.99,
                        "example": 35000.5,
                        "description": "Receita esperada do projeto em valor numérico decimal. Campo opcional que permite atualizar a receita esperada para o projeto.",
                        "format": "float"
                      },
                      "is_template": {
                        "type": "boolean",
                        "example": false,
                        "description": "Indica se o projeto é um modelo de projeto. Quando true, o projeto pode ser usado como base para criação de outros projetos."
                      },
                      "form_answers": {
                        "type": "array",
                        "description": "Array de objetos contendo as respostas de formulários dinâmicos associados ao projeto. Cada objeto contém os dados das respostas dos campos do formulário. Permite atualizar as respostas dos formulários.",
                        "items": {
                          "type": "object"
                        }
                      },
                      "forecast_dates": {
                        "type": "array",
                        "description": "Array de objetos para atualizar datas de previsão por funil. Permite atualizar ou remover datas de previsão de diferentes funis de projeto.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "date": {
                              "type": "string",
                              "example": "2025-08-01",
                              "description": "Data de previsão para o funil de projeto. Pode ser null para remover a data de previsão.",
                              "format": "date"
                            },
                            "project_funnel_id": {
                              "type": "integer",
                              "example": 4,
                              "description": "ID do funil de projeto ao qual esta data de previsão está associada."
                            }
                          },
                          "required": [
                            "project_funnel_id"
                          ]
                        }
                      },
                      "groups": {
                        "type": "object",
                        "description": "Objeto para gerenciar grupos associados ao projeto. Contém arrays 'to_add' e 'to_rem' para adicionar ou remover grupos. Ambos os arrays devem estar presentes quando este campo for fornecido."
                      },
                      "tags": {
                        "type": "object",
                        "description": "Objeto para gerenciar etiquetas de funil associadas ao projeto. Contém arrays 'to_add' e 'to_rem' para adicionar ou remover etiquetas do projeto. Ambos os arrays devem estar presentes quando este campo for fornecido."
                      },
                      "funnels": {
                        "type": "object",
                        "description": "Objeto para gerenciar funis que o projeto está vinculado. Contém arrays 'to_add' e 'to_rem' para adicionar ou remover funis. Ambos os arrays devem estar presentes quando este campo for fornecido.",
                        "properties": {
                          "to_add": {
                            "type": "array",
                            "description": "Array de IDs dos funis de projeto a serem adicionados ao projeto.",
                            "items": {
                              "type": "integer"
                            }
                          },
                          "to_rem": {
                            "type": "array",
                            "description": "Array de IDs dos funis de projeto a serem removidos do projeto.",
                            "items": {
                              "type": "integer"
                            }
                          }
                        },
                        "required": [
                          "to_add",
                          "to_rem"
                        ]
                      },
                      "funnel_status": {
                        "type": "object",
                        "description": "Objeto para vincular ou desvincular um status de funil do projeto.",
                        "properties": {
                          "project_funnel_id": {
                            "type": "integer",
                            "example": 5,
                            "description": "ID do funil de projeto ao qual o status será aplicado."
                          },
                          "funnel_status_id": {
                            "type": "integer",
                            "example": 3,
                            "description": "ID do status de funil que será atribuído ao projeto dentro do funil especificado."
                          }
                        },
                        "required": [
                          "project_funnel_id"
                        ]
                      },
                      "users": {
                        "type": "array",
                        "description": "Array de objetos para gerenciar usuários associados ao projeto. Permite adicionar ou remover usuários com diferentes papéis do projeto.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "user_id": {
                              "type": "string",
                              "example": "uuid-do-usuario",
                              "description": "ID único (UUID) do usuário a ser associado ou removido do projeto.",
                              "format": "uuid"
                            },
                            "role": {
                              "type": "string",
                              "example": "assignee",
                              "description": "Papel do usuário no projeto. Valores possíveis: 'creator', 'assignee', 'follower'."
                            },
                            "action": {
                              "type": "string",
                              "example": "remove",
                              "description": "Ação a ser executada com o usuário. Valores possíveis: 'add' (Adicionar usuário ao projeto), 'remove' (Remover usuário do projeto)."
                            }
                          },
                          "required": [
                            "user_id",
                            "role",
                            "action"
                          ]
                        }
                      }
                    }
                  }
                ]
              },
              "example": {
                "name": "Nome do projeto",
                "description": "Descrição detalhada do projeto",
                "impact": 5,
                "contact_id": "770e8400-e29b-41d4-a716-446655440001",
                "customer_id": "880e8400-e29b-41d4-a716-446655440001",
                "status": 3,
                "budget": 25000,
                "is_template": false,
                "funnels": {
                  "to_add": [
                    1,
                    2,
                    3
                  ],
                  "to_rem": []
                },
                "groups": {
                  "to_add": [
                    "550e8400-e29b-41d4-a716-446655440000",
                    "550e8400-e29b-41d4-a716-446655440001"
                  ],
                  "to_rem": [
                    "550e8400-e29b-41d4-a716-446655440001"
                  ]
                },
                "tags": {
                  "to_add": [
                    1,
                    2,
                    3
                  ],
                  "to_rem": []
                },
                "users": [
                  {
                    "user_id": "550e8400-e29b-41d4-a716-446655440000",
                    "role": "assignee",
                    "action": "add"
                  },
                  {
                    "user_id": "550e8400-e29b-41d4-a716-446655440001",
                    "role": "follower",
                    "action": "add"
                  }
                ],
                "childrens": {
                  "to_add": [
                    "550e8400-e29b-41d4-a716-446655440002"
                  ],
                  "to_rem": []
                },
                "forecast_dates": [
                  {
                    "date": "2025-06-01",
                    "project_funnel_id": 4
                  },
                  {
                    "date": "2025-07-15",
                    "project_funnel_id": 5
                  }
                ],
                "funnel_status": {
                  "project_funnel_id": 5,
                  "funnel_status_id": 2
                },
                "form_answers": [
                  {
                    "id": 1,
                    "answer": "Resposta do campo"
                  },
                  {
                    "id": 2,
                    "answer": "Resposta do campo"
                  }
                ]
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Deletar um projeto",
        "responses": {
          "200": {
            "description": "Resposta de sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "example": {
                  "response": "<boolean>"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "unauthorized"
                    },
                    "error": {
                      "type": "string",
                      "example": "Unauthenticated."
                    }
                  }
                },
                "example": {
                  "response": "<boolean>",
                  "message": "<string>",
                  "error": "<string>"
                }
              }
            }
          },
          "404": {
            "description": "Model não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "[modelName]_model_not_found"
                    },
                    "error": {
                      "type": "string",
                      "example": "No query results for model"
                    }
                  }
                },
                "example": {
                  "response": "<boolean>",
                  "message": "<string>",
                  "error": "<string>"
                }
              }
            }
          }
        },
        "tags": [
          "projects",
          "{id}"
        ],
        "description": "Deleta um projeto pelo ID."
      }
    },
    "/api/management/projects/merge": {
      "post": {
        "tags": [
          "projects",
          "merge"
        ],
        "summary": "Mesclar projetos",
        "description": "Mesclar projetos",
        "operationId": "mesclarProjetos",
        "responses": {
          "200": {
            "description": "200"
          }
        }
      }
    },
    "/api/management/projects/ids": {
      "post": {
        "tags": [
          "projects",
          "ids"
        ],
        "summary": "Listar IDs de projetos",
        "description": "Retorna uma lista de IDs de projetos que correspondem aos filtros aplicados na requisição.",
        "operationId": "listarIdsDeProjetos",
        "responses": {
          "200": {
            "description": "200"
          }
        }
      }
    },
    "/api/management/get-projects-by-forecast-dates": {
      "post": {
        "tags": [
          "projects",
          "get-projects-by-forecast-dates"
        ],
        "summary": "Obter projetos por datas de previsão",
        "description": "Obter projetos filtrados por datas de previsão específicas.",
        "operationId": "obterProjetosPorDatasDePrevisO",
        "responses": {
          "200": {
            "description": "200"
          }
        }
      }
    },
    "/api/management/save-media": {
      "post": {
        "summary": "Enviar um conteúdo no projeto",
        "responses": {
          "200": {
            "description": "Conteúdo enviado a vários projetos",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Access-Control-Expose-Headers": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-cache, private"
              },
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Thu, 15 Jan 2026 19:01:51 GMT"
              },
              "X-Ratelimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "example": "160"
              },
              "X-Ratelimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "example": "154"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean"
                    },
                    "medias": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "user_id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "integer"
                          },
                          "frame_id": {
                            "type": "string"
                          },
                          "project_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "technical_name": {
                            "type": "string"
                          },
                          "text": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "user": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string",
                                "format": "email"
                              },
                              "avatar_url": {
                                "type": "string",
                                "format": "uri"
                              },
                              "status": {
                                "type": "integer"
                              },
                              "lang": {
                                "type": "string"
                              },
                              "email_verified_at": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "response": true,
                  "medias": [
                    {
                      "user_id": "019b329a-3f1f-7198-89e5-008dc4e2bd60",
                      "type": 1,
                      "frame_id": "019b329a-4346-7064-bba3-e7c19057cda4",
                      "project_id": "019bbcd3-2249-7357-ac43-8ab6209ec54c",
                      "name": "description.4fea17cab04852a3b32d401766a84d5e",
                      "technical_name": "description.4fea17cab04852a3b32d401766a84d5e",
                      "text": "Cada porta pode ser uma porta para outro mundo.",
                      "id": "019bc309-175d-7211-9524-29646278c39f",
                      "updated_at": "2026-01-15T19:01:51.000000Z",
                      "created_at": "2026-01-15T19:01:51.000000Z",
                      "user": {
                        "id": "019b329a-3f1f-7198-89e5-008dc4e2bd60",
                        "old_id": null,
                        "name": "Test User",
                        "description": "Nostrum debitis pariatur dolorum sapiente.",
                        "email": "tester@olie.ai",
                        "avatar_url": "https://via.placeholder.com/124x124.png/00eebb?text=vero",
                        "status": 1,
                        "lang": "en",
                        "email_verified_at": "2025-12-18 14:55:28"
                      }
                    },
                    {
                      "user_id": "019b329a-3f1f-7198-89e5-008dc4e2bd60",
                      "type": 1,
                      "frame_id": "019b329a-4346-7064-bba3-e7c19057cda4",
                      "project_id": "019bc2c3-5404-707f-be4d-9690f6bb8179",
                      "name": "description.4fea17cab04852a3b32d401766a84d5e",
                      "technical_name": "description.4fea17cab04852a3b32d401766a84d5e",
                      "text": "Cada porta pode ser uma porta para outro mundo.",
                      "id": "019bc309-1777-71e5-98c3-bff91d787182",
                      "updated_at": "2026-01-15T19:01:51.000000Z",
                      "created_at": "2026-01-15T19:01:51.000000Z",
                      "user": {
                        "id": "019b329a-3f1f-7198-89e5-008dc4e2bd60",
                        "old_id": null,
                        "name": "Test User",
                        "description": "Nostrum debitis pariatur dolorum sapiente.",
                        "email": "tester@olie.ai",
                        "avatar_url": "https://via.placeholder.com/124x124.png/00eebb?text=vero",
                        "status": 1,
                        "lang": "en",
                        "email_verified_at": "2025-12-18 14:55:28"
                      }
                    }
                  ]
                }
              }
            }
          },
          "201": {
            "description": "Conteúdo enviado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Esquema de um conteúdo",
                  "title": "Resposta de conteúdo",
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean",
                      "example": true
                    },
                    "media": {
                      "description": "Objeto do conteúdo criado",
                      "type": "object",
                      "title": "Media",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "name": {
                          "type": "string"
                        },
                        "technical_name": {
                          "type": "string"
                        },
                        "type": {
                          "type": "integer",
                          "description": "É o tipo do conteúdo enviado"
                        },
                        "extension": {
                          "type": "string",
                          "description": "Quando um arquivo for enviado a sua extensão aparece aqui"
                        },
                        "text": {
                          "type": "string"
                        },
                        "file_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "log": {
                          "type": "string"
                        },
                        "user_id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "frame_id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "project_id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "deleted_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "user": {
                          "type": "object"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "response": true,
                  "media": {
                    "user_id": "019b329a-3f1f-7198-89e5-008dc4e2bd60",
                    "type": 1,
                    "frame_id": "019b329a-4346-7064-bba3-e7c19057cda4",
                    "project_id": "019bbcd3-2249-7357-ac43-8ab6209ec54c",
                    "name": "description.46767bcea2ed5b93a9e55717177d08f0",
                    "technical_name": "description.46767bcea2ed5b93a9e55717177d08f0",
                    "text": "Amigos não mentem",
                    "id": "019bc2e1-e52e-72f5-a30c-f2a6c563188c",
                    "updated_at": "2026-01-15T18:19:02.000000Z",
                    "created_at": "2026-01-15T18:19:02.000000Z",
                    "user": {
                      "id": "019b329a-3f1f-7198-89e5-008dc4e2bd60",
                      "old_id": null,
                      "name": "Test User",
                      "description": "Nostrum debitis pariatur dolorum sapiente.",
                      "email": "tester@olie.ai",
                      "avatar_url": "https://via.placeholder.com/124x124.png/00eebb?text=vero",
                      "status": 1,
                      "lang": "en",
                      "email_verified_at": "2025-12-18 14:55:28"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Erro de validação",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Access-Control-Expose-Headers": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-cache, private"
              },
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Thu, 15 Jan 2026 18:21:37 GMT"
              },
              "X-Ratelimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "example": "160"
              },
              "X-Ratelimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "example": "150"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    },
                    "validation": {
                      "type": "object",
                      "properties": {
                        "text": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "response": false,
                  "message": "validation_errors",
                  "error": "The texto field is required when type is 1.",
                  "validation": {
                    "text": [
                      "The texto field is required when type is 1."
                    ]
                  }
                }
              }
            }
          }
        },
        "tags": [
          "projects"
        ],
        "description": "Salvar/enviar diferentes tipos de conteúdo (texto, áudio ou arquivo) em um ou múltiplos projetos.\n\n### Tipo 1 - Descrição\n\n- **text** (string, obrigatório): Conteúdo de texto. Menções não são suportadas via API\n    \n\n### Tipo 2 - Áudio\n\n- **audio** (file, obrigatório): Arquivo de áudio (multipart/form-data)\n    \n\n### Tipo 3 - Arquivo\n\n- **file** (array, obrigatório): Array de arquivos (multipart/form-data)\n    \n- **text** (string, opcional): Texto descritivo\n    \n\n## Observações\n\n- Projetos merged não podem receber novas mídias\n    \n- Múltiplos arquivos geram múltiplas entradas de mídia\n    \n- Menções em descrições processam notificações automaticamente\n    \n- Quando múltiplas mídias são criadas, o retorno usa `medias` (array) ao invés de `media` (objeto).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "MediaPayload",
                "type": "object",
                "properties": {
                  "type": {
                    "type": "integer",
                    "enum": [
                      1,
                      2,
                      3
                    ],
                    "description": "O tipo do conteúdo. Valores possíveis: 1 (Texto), 2 (Arquivo), 3 (Áudio).",
                    "x-markdownDescription": "Tipo a usar"
                  },
                  "project_ids": {
                    "type": "array",
                    "description": "IDs dos projetos (UUIDs) onde você deseja enviar o conteúdo.",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "text": {
                    "type": "string",
                    "maxLength": 50000,
                    "description": "Texto do conteúdo. Obrigatório se 'type' for 1 (Texto)."
                  },
                  "file[0]": {
                    "type": "string",
                    "description": "Arquivos. Obrigatório se 'type' for 2 (Arquivo). O nome do campo deve seguir o padrão 'file[0]', 'file[1]' ou 'file[2]', dependendo da quantidade de arquivos enviados.",
                    "format": "binary"
                  },
                  "audio": {
                    "type": "string",
                    "description": "Arquivo de áudio. Obrigatório se 'type' for 3 (Áudio).",
                    "format": "binary"
                  }
                },
                "required": [
                  "type"
                ]
              },
              "example": {
                "type": 1,
                "project_ids": [
                  "00000000-0000-0000-0000-000000000000"
                ],
                "text": "Texto a ser enviado",
                "file[0]": "<binary>",
                "audio": "<binary>"
              }
            }
          }
        }
      }
    },
    "/api/management/projects": {
      "get": {
        "summary": "Listar projetos",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Número da página a ser retornada. Começa em 1",
            "schema": {
              "type": "integer",
              "default": 1,
              "minLength": 1
            },
            "example": "1"
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "description": "Quantidade de itens exibidos por página. Define o tamanho da página de resultados",
            "schema": {
              "type": "integer",
              "default": 30,
              "minLength": 1,
              "maxLength": 100
            },
            "example": "30"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Permite aplicar filtros aos resultados da listagem. Use a sintaxe `filter[campo]=valor` para filtrar por campos específicos. Campos disponíveis variam por recurso. Consulte a documentação sobre [filtros básicos](https://docs.olie.ai/api-reference/general/basic-filters)",
            "schema": {
              "type": "string",
              "default": "<string>"
            },
            "example": "<string>"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Filtrar projetos pelo nome ou código",
            "schema": {
              "type": "string",
              "default": "<string>"
            },
            "example": "Hopper"
          },
          {
            "name": "trashed",
            "in": "query",
            "required": false,
            "description": "Filtrar deletados",
            "schema": {
              "type": "boolean",
              "default": "<boolean>"
            },
            "example": "true"
          },
          {
            "name": "template",
            "in": "query",
            "required": false,
            "description": "Filtrar projetos templates",
            "schema": {
              "type": "boolean",
              "default": "<boolean>"
            },
            "example": "true"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Campo usado para ordenação. Ex: name, created_at, etc.",
            "schema": {
              "type": "string",
              "default": "<string>"
            },
            "example": "name"
          },
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "description": "Direção da ordenação: asc (crescente) ou desc (decrescente).",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "example": "asc"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Tue, 16 Dec 2025 12:23:39 GMT"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "private, must-revalidate"
              },
              "pragma": {
                "schema": {
                  "type": "string"
                },
                "example": "no-cache"
              },
              "expires": {
                "schema": {
                  "type": "integer"
                },
                "example": "-1"
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "example": "160"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "example": "158"
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Access-Control-Expose-Headers": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "headers": {
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-cache, private"
              },
              "access-control-allow-origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "access-control-expose-headers": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              }
            }
          }
        },
        "tags": [
          "projects"
        ],
        "description": "Esta rota é normalmente utilizada para campos de autocomplete, e buscas mais simples, pois é uma rota que entrega menos informações que uma busca avançada. Se você estiver buscando encontrar projetos baseado em um conjunto de filtros avançados e específicos, considere usar a busca avançada.\n\nPossui paginação e aceita alguns filtros via query params, consulte:\n\n- [Filtro básico](https://docs.olie.ai/api-reference/general/basic-filters)"
      },
      "post": {
        "summary": "Criar um projeto",
        "responses": {
          "200": {
            "description": "Sucesso",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Tue, 16 Dec 2025 12:57:45 GMT"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "private, must-revalidate"
              },
              "pragma": {
                "schema": {
                  "type": "string"
                },
                "example": "no-cache"
              },
[...]
