{
  "openapi": "3.0.0",
  "info": {
    "title": "Olie API",
    "version": "1.0.0",
    "description": "# Introdução 👋\n\nOlá! Esta é a documentação oficial da API da [olie.ai](https://olie.ai/). Aqui você encontra as referências e exemplos de uso dos nossos endpoints.\n\nPara uma visão completa, recomendamos fortemente que você leia a [documentação oficial](https://docs.olie.ai/api-reference/introduction). Lá estão detalhados tópicos essenciais como [autenticação](https://docs.olie.ai/api-reference/introduction/authentication), [estrutura de respostas](https://docs.olie.ai/api-reference/general/response-structure), [paginação](https://docs.olie.ai/api-reference/general/pagination) e outros guias de integração.\n\nNo Postman, esta coleção foca nas informações específicas de cada requisição (endpoints, parâmetros e exemplos), servindo como apoio rápido para testes e desenvolvimento.\n"
  },
  "servers": [
    {
      "url": "https://api.olie.ai"
    }
  ],
  "paths": {
    "/api/management/projects/{id}/restore": {
      "get": {
        "summary": "Restaurar um projeto",
        "responses": {
          "200": {
            "description": "Resposta de sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "example": {
                  "response": "<boolean>"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "unauthorized"
                    },
                    "error": {
                      "type": "string",
                      "example": "Unauthenticated."
                    }
                  }
                },
                "example": {
                  "response": "<boolean>",
                  "message": "<string>",
                  "error": "<string>"
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "error": {
                      "type": "string",
                      "format": "style"
                    }
                  }
                },
                "example": {
                  "response": false,
                  "message": "project_model_not_found",
                  "error": "No query results for model [App\\Models\\Project] :id"
                }
              }
            }
          }
        },
        "tags": [
          "projects",
          "Projetos"
        ],
        "description": "Restaura um projeto que foi deletado, devolvendo-o às listagens com todos os vínculos que tinha."
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "ID (UUID) do projeto deletado.",
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "example": "{{project_id}}"
        }
      ]
    },
    "/api/management/projects/{id}/media": {
      "get": {
        "summary": "Listar conteúdos do projeto",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Número da página a ser retornada. Começa em 1",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "Quantidade de itens exibidos por página. Define o tamanho da página de resultados",
            "schema": {
              "type": "integer"
            },
            "example": 30
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filtro aplicado ao resultado. Valores possíveis: logs, content, default.",
            "schema": {
              "type": "string"
            },
            "example": "default"
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de conteúdos do projeto retornada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Esquema de um conteúdo",
                  "title": "Resposta de conteúdo",
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean",
                      "example": true
                    },
                    "meta": {
                      "type": "object",
                      "title": "Informações de Paginação",
                      "description": "Metadados de paginação",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "example": 1
                        },
                        "from": {
                          "type": "integer",
                          "example": 1
                        },
                        "last_page": {
                          "type": "integer",
                          "example": 19
                        },
                        "per_page": {
                          "type": "integer",
                          "example": 30
                        },
                        "to": {
                          "type": "integer",
                          "example": 30
                        },
                        "total": {
                          "type": "integer",
                          "example": 546
                        }
                      }
                    },
                    "medias": {
                      "type": "array",
                      "items": {
                        "title": "Media",
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "name": {
                            "type": "string"
                          },
                          "technical_name": {
                            "type": "string"
                          },
                          "type": {
                            "type": "integer"
                          },
                          "extension": {
                            "type": "string"
                          },
                          "text": {
                            "type": "string"
                          },
                          "file_url": {
                            "type": "string",
                            "format": "uri"
                          },
                          "log": {
                            "type": "string"
                          },
                          "user_id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "frame_id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "project_id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "deleted_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "user": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "response": "<boolean>",
                  "meta": {
                    "current_page": "<integer>",
                    "from": "<integer>",
                    "last_page": "<integer>",
                    "per_page": "<integer>",
                    "to": "<integer>",
                    "total": "<integer>"
                  },
                  "medias": [
                    {
                      "id": "<uuid>",
                      "name": "<string>",
                      "technical_name": "<string>",
                      "type": "<integer>",
                      "extension": "<string>",
                      "text": "<string>",
                      "file_url": "<uri>",
                      "log": "<string>",
                      "user_id": "<uuid>",
                      "frame_id": "<uuid>",
                      "project_id": "<uuid>",
                      "created_at": "<dateTime>",
                      "updated_at": "<dateTime>",
                      "deleted_at": "<dateTime>",
                      "user": {}
                    },
                    {
                      "id": "<uuid>",
                      "name": "<string>",
                      "technical_name": "<string>",
                      "type": "<integer>",
                      "extension": "<string>",
                      "text": "<string>",
                      "file_url": "<uri>",
                      "log": "<string>",
                      "user_id": "<uuid>",
                      "frame_id": "<uuid>",
                      "project_id": "<uuid>",
                      "created_at": "<dateTime>",
                      "updated_at": "<dateTime>",
                      "deleted_at": "<dateTime>",
                      "user": {}
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "unauthorized"
                    },
                    "error": {
                      "type": "string",
                      "example": "Unauthenticated."
                    }
                  }
                },
                "example": {
                  "response": "<boolean>",
                  "message": "<string>",
                  "error": "<string>"
                }
              }
            }
          }
        },
        "tags": [
          "projects",
          "{id}",
          "medias"
        ],
        "description": "Retorna uma lista de conteúdos do projeto com base nos filtros fornecidos."
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "ID (UUID) do projeto.",
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "example": "{{project_id}}"
        }
      ],
      "post": {
        "summary": "Listar conteúdos do projeto",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Página desejada. Padrão `1`.",
            "schema": {
              "type": "integer"
            },
            "example": 0
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "Itens por página. Padrão `30`, máximo `100`.",
            "schema": {
              "type": "integer"
            },
            "example": 0
          },
          {
            "name": "filter",
            "in": "query",
            "required": true,
            "description": "O que retornar: `default` (tudo, padrão), `content` (apenas conteúdos enviados por pessoas) ou `logs` (apenas registros de atividade).",
            "deprecated": false,
            "schema": {
              "type": "string"
            },
            "example": ""
          },
          {
            "name": "search",
            "in": "query",
            "description": "Termo buscado no texto do conteúdo.",
            "schema": {
              "type": "string"
            },
            "example": ""
          },
          {
            "name": "channel_id",
            "in": "query",
            "description": "ID (UUID) do canal cuja conversa deve ser retornada. Sem ele, apenas os conteúdos internos aparecem.",
            "schema": {
              "type": "string"
            },
            "example": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Esquema de um conteúdo",
                  "title": "Resposta de conteúdo",
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean",
                      "example": true
                    },
                    "meta": {
                      "type": "object",
                      "title": "Informações de Paginação",
                      "description": "Metadados de paginação",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "example": 1
                        },
                        "from": {
                          "type": "integer",
                          "example": 1
                        },
                        "last_page": {
                          "type": "integer",
                          "example": 19
                        },
                        "per_page": {
                          "type": "integer",
                          "example": 30
                        },
                        "to": {
                          "type": "integer",
                          "example": 30
                        },
                        "total": {
                          "type": "integer",
                          "example": 546
                        }
                      }
                    },
                    "medias": {
                      "type": "array",
                      "items": {
                        "title": "Media",
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "name": {
                            "type": "string"
                          },
                          "technical_name": {
                            "type": "string"
                          },
                          "type": {
                            "type": "integer"
                          },
                          "extension": {
                            "type": "string"
                          },
                          "text": {
                            "type": "string"
                          },
                          "file_url": {
                            "type": "string",
                            "format": "uri"
                          },
                          "log": {
                            "type": "string"
                          },
                          "user_id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "frame_id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "project_id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "deleted_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "user": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "response": true,
                  "meta": {
                    "current_page": 1,
                    "from": 1,
                    "to": 2,
                    "last_page": 1,
                    "per_page": 30,
                    "total": 2
                  },
                  "medias": [
                    {
                      "id": "019e1a44-2f6d-70bb-9d21-64c0a3e91f77",
                      "name": "proposta-comercial",
                      "technical_name": "proposta-comercial.019e1a44",
                      "type": 2,
                      "extension": "pdf",
                      "text": null,
                      "file_url": "https://cdn.olie.ai/frames/projects/proposta-comercial.pdf",
                      "log": null,
                      "user_id": "019c1e87-63f4-71dd-a4e3-6eaea0619c2f",
                      "frame_id": "019c75de-532c-7047-9563-daf1448ca963",
                      "project_id": "019e0edb-aa7c-70c4-9d2d-3a2f175b5ddf",
                      "created_at": "2026-08-18T14:02:11.000000Z",
                      "updated_at": "2026-08-18T14:02:11.000000Z",
                      "deleted_at": null,
                      "user": {
                        "id": "019c1e87-63f4-71dd-a4e3-6eaea0619c2f",
                        "name": "Ana Souza",
                        "avatar_url": null
                      }
                    },
                    {
                      "id": "019e1a41-0b8c-71f2-a6c4-1de9f5307a10",
                      "name": "description.9f2a1c",
                      "technical_name": "description.9f2a1c",
                      "type": 1,
                      "extension": null,
                      "text": "Cliente aprovou o escopo na reunião de hoje.",
                      "file_url": null,
                      "log": null,
                      "user_id": "019c1e87-63f4-71dd-a4e3-6eaea0619c2f",
                      "frame_id": "019c75de-532c-7047-9563-daf1448ca963",
                      "project_id": "019e0edb-aa7c-70c4-9d2d-3a2f175b5ddf",
                      "created_at": "2026-08-18T13:47:35.000000Z",
                      "updated_at": "2026-08-18T13:47:35.000000Z",
                      "deleted_at": null,
                      "user": {
                        "id": "019c1e87-63f4-71dd-a4e3-6eaea0619c2f",
                        "name": "Ana Souza",
                        "avatar_url": null
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "unauthorized"
                    },
                    "error": {
                      "type": "string",
                      "example": "Unauthenticated."
                    }
                  }
                },
                "example": {
                  "response": false,
                  "message": "unauthorized",
                  "error": "Unauthenticated."
                }
              }
            }
          }
        },
        "tags": [
          "projects",
          "Conteúdos e arquivos"
        ],
        "description": "Lista os conteúdos de um projeto — textos, arquivos, áudios e registros de atividade — do mais recente para o mais antigo, com paginação.\n\nSem `channel_id`, apenas os conteúdos internos são retornados; informe o ID de um canal para ver a conversa trocada por ele. Consulte [Paginação](https://docs.olie.ai/api-reference/general/pagination)."
      }
    },
    "/api/management/projects/{project}/step-metrics": {
      "get": {
        "tags": [
          "projects",
          "Métricas e previsão"
        ],
        "summary": "Obter métricas de etapas do projeto",
        "description": "Retorna, para cada etapa dos funis em que o projeto está cadastrado, o tempo que ele já passou ali — a soma de todas as passagens encerradas, em segundos. Passagens ainda em curso não entram na conta, e etapas por onde o projeto nunca passou vêm com zero.\n\nPara as métricas do funil como um todo, veja [Métricas do funil](https://docs.olie.ai/guides/funnels/metrics).",
        "operationId": "obterMTricasComputadasDasEtapasDeUmProjetoEspecFicoNoFunil",
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean"
                    },
                    "metrics": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "step_id": {
                            "type": "integer",
                            "description": "ID da etapa do funil"
                          },
                          "max_time": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "integer",
                                "description": "Tempo total que o projeto passou na etapa"
                              },
                              "unit": {
                                "type": "string",
                                "enum": [
                                  "seconds"
                                ],
                                "description": "Unidade de medida do tempo"
                              },
                              "meta_data": {
                                "type": "object",
                                "description": "Metadados adicionais da métrica"
                              }
                            },
                            "required": [
                              "value",
                              "unit",
                              "meta_data"
                            ]
                          }
                        },
                        "required": [
                          "step_id",
                          "max_time"
                        ]
                      }
                    }
                  },
                  "required": [
                    "response",
                    "metrics"
                  ]
                },
                "example": {
                  "response": true,
                  "metrics": [
                    {
                      "step_id": 123,
                      "max_time": {
                        "value": 0,
                        "unit": "seconds",
                        "meta_data": null
                      }
                    },
                    {
                      "step_id": 124,
                      "max_time": {
                        "value": 0,
                        "unit": "seconds",
                        "meta_data": null
                      }
                    },
                    {
                      "step_id": 125,
                      "max_time": {
                        "value": 0,
                        "unit": "seconds",
                        "meta_data": null
                      }
                    },
                    {
                      "step_id": 126,
                      "max_time": {
                        "value": 0,
                        "unit": "seconds",
                        "meta_data": null
                      }
                    },
                    {
                      "step_id": 127,
                      "max_time": {
                        "value": 0,
                        "unit": "seconds",
                        "meta_data": null
                      }
                    },
                    {
                      "step_id": 128,
                      "max_time": {
                        "value": 0,
                        "unit": "seconds",
                        "meta_data": null
                      }
                    },
                    {
                      "step_id": 129,
                      "max_time": {
                        "value": 0,
                        "unit": "seconds",
                        "meta_data": null
                      }
                    },
                    {
                      "step_id": 130,
                      "max_time": {
                        "value": 0,
                        "unit": "seconds",
                        "meta_data": null
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "description": "ID (UUID) do projeto.",
          "schema": {
            "type": "string"
          },
          "example": "{{project_id}}"
        }
      ]
    },
    "/api/management/projects/{project}/files": {
      "get": {
        "tags": [
          "projects",
          "Conteúdos e arquivos"
        ],
        "summary": "Listar arquivos do projeto",
        "description": "Retorna todos os arquivos ligados ao projeto em um único conjunto: os enviados como conteúdo (no próprio projeto ou em suas tarefas) e os anexados em respostas de formulários. Não tem paginação.",
        "operationId": "listarTodosOsArquivosAssociadosAUmProjeto",
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean"
                    },
                    "files": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "extension": {
                            "type": "string"
                          },
                          "file_url": {
                            "type": "string",
                            "format": "uri"
                          },
                          "type": {
                            "type": "integer"
                          },
                          "technical_name": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "origin": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "response": true,
                  "files": [
                    {
                      "name": "contrato-assinado",
                      "extension": "pdf",
                      "file_url": "https://cdn.olie.ai/frames/forms/contrato-assinado.pdf",
                      "type": 2,
                      "technical_name": "contrato-assinado",
                      "created_at": "2026-08-12T09:15:00.000000Z",
                      "origin": "form_answers"
                    },
                    {
                      "id": "019e1a44-2f6d-70bb-9d21-64c0a3e91f77",
                      "name": "proposta-comercial",
                      "technical_name": "proposta-comercial.019e1a44",
                      "type": 2,
                      "extension": "pdf",
                      "text": null,
                      "file_url": "https://cdn.olie.ai/frames/projects/proposta-comercial.pdf",
                      "log": null,
                      "user_id": "019c1e87-63f4-71dd-a4e3-6eaea0619c2f",
                      "frame_id": "019c75de-532c-7047-9563-daf1448ca963",
                      "project_id": "019e0edb-aa7c-70c4-9d2d-3a2f175b5ddf",
                      "task_id": null,
                      "created_at": "2026-08-18T14:02:11.000000Z",
                      "updated_at": "2026-08-18T14:02:11.000000Z",
                      "deleted_at": null,
                      "user": {
                        "id": "019c1e87-63f4-71dd-a4e3-6eaea0619c2f",
                        "name": "Ana Souza",
                        "avatar_url": null
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "description": "ID (UUID) do projeto.",
          "schema": {
            "type": "string"
          },
          "example": "{{project_id}}"
        }
      ]
    },
    "/api/management/projects/{project}/clone": {
      "post": {
        "tags": [
          "projects",
          "Cópia e compartilhamento"
        ],
        "summary": "Clonar um projeto",
        "description": "Cria uma cópia de um projeto existente. Cada parte do projeto é copiada de forma independente: cliente, funis, etiquetas, checklists, respostas de formulários, conteúdos, fórum, grupos e responsáveis só entram no clone quando a opção correspondente é enviada como `true`.\n\nQuem só pode criar projetos a partir de modelos não escolhe as opções: nesse caso o clone é sempre completo, com todas as partes copiadas.",
        "operationId": "clonarUmProjeto",
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean"
                    },
                    "project": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "frame_id": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "status": {
                          "type": "integer"
                        },
                        "impact": {
                          "type": "integer"
                        },
                        "budget": {
                          "type": "integer"
                        },
                        "is_template": {
                          "type": "boolean"
                        },
                        "parent_id": {
                          "nullable": true
                        },
                        "customer_id": {
                          "nullable": true
                        },
                        "contact_id": {
                          "nullable": true
                        },
                        "created_by": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "response": true,
                  "project": {
                    "id": "019e1c02-77aa-7391-b0d5-5e4a2f8c6b13",
                    "frame_id": "019c75de-532c-7047-9563-daf1448ca963",
                    "code": "SC-14",
                    "name": "Shopping Center — Fase 2",
                    "description": "Obra completa do empreendimento",
                    "status": 1,
                    "impact": 9,
                    "budget": 340000,
                    "is_template": false,
                    "parent_id": null,
                    "customer_id": null,
                    "contact_id": null,
                    "created_by": "019c1e87-63f4-71dd-a4e3-6eaea0619c2f",
                    "created_at": "2026-08-19T11:20:44.000000Z",
                    "updated_at": "2026-08-19T11:20:44.000000Z"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "prefix": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "customer": {
                    "type": "boolean"
                  },
                  "funnels": {
                    "type": "boolean"
                  },
                  "clone_tags": {
                    "type": "boolean"
                  },
                  "checklists": {
                    "type": "boolean"
                  },
                  "clone_form_answers": {
                    "type": "boolean"
                  },
                  "form_answers_content": {
                    "nullable": true
                  },
                  "medias": {
                    "type": "boolean"
                  },
                  "medias_mention": {
                    "type": "boolean"
                  },
                  "forum": {
                    "type": "boolean"
                  },
                  "loose_checklists": {
                    "type": "boolean"
                  },
                  "loose_form_answers": {
                    "type": "boolean"
                  },
                  "clone_groups": {
                    "type": "boolean"
                  },
                  "clone_assignees": {
                    "type": "boolean"
                  }
                }
              },
              "example": {
                "name": "Nome do novo projeto",
                "prefix": "PRJ",
                "description": "Descrição do novo projeto",
                "customer": true,
                "funnels": true,
                "clone_tags": true,
                "checklists": true,
                "clone_form_answers": true,
                "form_answers_content": null,
                "medias": false,
                "medias_mention": false,
                "forum": false,
                "loose_checklists": true,
                "loose_form_answers": true,
                "clone_groups": true,
                "clone_assignees": true
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "description": "ID (UUID) do projeto.",
          "schema": {
            "type": "string"
          },
          "example": "{{project_id}}"
        }
      ]
    },
    "/api/management/projects/{project}/share": {
      "post": {
        "tags": [
          "projects",
          "Cópia e compartilhamento"
        ],
        "summary": "Compartilhar um projeto",
        "description": "Liga ou desliga o compartilhamento público de um projeto e define o que o link exibe. Ao ligar, um token de compartilhamento é gerado (ou reaproveitado, se já existir); ao desligar, o token é descartado e o link deixa de funcionar.\n\nUse `refresh` para invalidar o link atual e gerar um novo. A ativação e a desativação ficam registradas no histórico do projeto.",
        "operationId": "compartilharProjeto",
        "responses": {
          "200": {
            "description": "Compartilhamento ativado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "frame_id": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "share_token": {
                          "type": "string"
                        },
                        "share_settings": {
                          "type": "object",
                          "properties": {
                            "attributes": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Compartilhamento ativado": {
                    "value": {
                      "response": true,
                      "result": {
                        "id": "019e0edb-aa7c-70c4-9d2d-3a2f175b5ddf",
                        "frame_id": "019c75de-532c-7047-9563-daf1448ca963",
                        "code": "SC-1",
                        "name": "Shopping Center",
                        "share_token": "hV3q8Zt1LpXk9RbNsA6y",
                        "share_settings": {
                          "attributes": [
                            "name",
                            "status",
                            "description",
                            "funnels"
                          ]
                        },
                        "updated_at": "2026-08-19T11:31:07.000000Z"
                      }
                    }
                  },
                  "Compartilhamento desativado": {
                    "value": {
                      "response": true,
                      "result": {
                        "id": "019e0edb-aa7c-70c4-9d2d-3a2f175b5ddf",
                        "frame_id": "019c75de-532c-7047-9563-daf1448ca963",
                        "code": "SC-1",
                        "name": "Shopping Center",
                        "share_token": null,
                        "share_settings": {
                          "attributes": []
                        },
                        "updated_at": "2026-08-19T11:34:52.000000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "enabled": {
                    "type": "boolean"
                  },
                  "refresh": {
                    "type": "boolean"
                  },
                  "settings": {
                    "type": "object",
                    "properties": {
                      "attributes": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "enabled": true,
                "refresh": false,
                "settings": {
                  "attributes": [
                    "name",
                    "status",
                    "description"
                  ]
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "description": "ID (UUID) do projeto.",
          "schema": {
            "type": "string"
          },
          "example": "{{project_id}}"
        }
      ]
    },
    "/api/management/projects/{project}/hierarchy/children": {
      "get": {
        "tags": [
          "projects",
          "Hierarquia"
        ],
        "summary": "Listar os filhos de um projeto",
        "description": "Retorna os projetos filhos diretos de um projeto, cada um com a contagem dos próprios filhos, e também o projeto pai do projeto consultado (quando houver). Não desce além do primeiro nível — para a árvore inteira, use a rota de árvore da hierarquia.\n\nConceitos e regras em [Hierarquia de projetos](https://docs.olie.ai/guides/projects/project-hierarchy).",
        "operationId": "listarTodosOsProjetosFilhosDeUmProjeto",
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean"
                    },
                    "children": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "status": {
                            "type": "integer"
                          },
                          "parent_id": {
                            "type": "string"
                          },
                          "impact": {
                            "type": "integer"
                          },
                          "budget": {
                            "type": "integer"
                          },
                          "children_count": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "parent": {
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "response": true,
                  "children": [
                    {
                      "id": "019e0f21-4b3c-71a8-8f0e-9c2d5a7b1e40",
                      "code": "SC-2",
                      "name": "Fundação",
                      "status": 1,
                      "parent_id": "019e0edb-aa7c-70c4-9d2d-3a2f175b5ddf",
                      "impact": 6,
                      "budget": 120000,
                      "children_count": 2
                    },
                    {
                      "id": "019e0f22-8c11-7233-b5a1-77d0c9e41a02",
                      "code": "SC-3",
                      "name": "Estrutura",
                      "status": 1,
                      "parent_id": "019e0edb-aa7c-70c4-9d2d-3a2f175b5ddf",
                      "impact": 7,
                      "budget": 340000,
                      "children_count": 0
                    }
                  ],
                  "parent": null
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "trashed",
            "in": "query",
            "description": "`true` considera também os projetos na lixeira.",
            "schema": {
              "type": "string"
            },
            "example": ""
          },
          {
            "name": "template",
            "in": "query",
            "description": "`true` considera os modelos de projeto.",
            "schema": {
              "type": "string"
            },
            "example": ""
          }
        ]
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "description": "ID (UUID) do projeto.",
          "schema": {
            "type": "string"
          },
          "example": "{{project_id}}"
        }
      ]
    },
    "/api/management/projects/{project}/hierarchy/tree": {
      "get": {
        "tags": [
          "projects",
          "Hierarquia"
        ],
        "summary": "Obter a árvore da hierarquia",
        "description": "Retorna a árvore completa a partir do projeto informado — filhos, netos e bisnetos — com o nível de cada um, se é raiz ou folha, as estatísticas da estrutura e o caminho (breadcrumb) até o projeto atual.\n\nA plataforma permite até quatro níveis de profundidade; veja [Hierarquia de projetos](https://docs.olie.ai/guides/projects/project-hierarchy).",
        "operationId": "listarARvoreCompletaDeHierarquiaDeUmProjeto",
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "current_project": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "breadcrumb": {
                              "type": "string"
                            }
                          }
                        },
                        "hierarchy_tree": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "status": {
                                "type": "integer"
                              },
                              "parent_id": {
                                "nullable": true
                              },
                              "level": {
                                "type": "integer"
                              },
                              "is_root": {
                                "type": "boolean"
                              },
                              "is_leaf": {
                                "type": "boolean"
                              },
                              "children_count": {
                                "type": "integer"
                              }
                            }
                          }
                        },
                        "stats": {
                          "type": "object",
                          "properties": {
                            "level": {
                              "type": "integer"
                            },
                            "depth": {
                              "type": "integer"
                            },
                            "children_count": {
                              "type": "integer"
                            },
                            "descendants_count": {
                              "type": "integer"
                            },
                            "is_root": {
                              "type": "boolean"
                            },
                            "is_leaf": {
                              "type": "boolean"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "response": true,
                  "data": {
                    "current_project": {
                      "id": "019e0edb-aa7c-70c4-9d2d-3a2f175b5ddf",
                      "name": "Shopping Center",
                      "breadcrumb": "Shopping Center"
                    },
                    "hierarchy_tree": [
                      {
                        "id": "019e0edb-aa7c-70c4-9d2d-3a2f175b5ddf",
                        "name": "Shopping Center",
                        "description": "Obra completa do empreendimento",
                        "status": 1,
                        "parent_id": null,
                        "level": 0,
                        "is_root": true,
                        "is_leaf": false,
                        "children_count": 2
                      },
                      {
                        "id": "019e0f21-4b3c-71a8-8f0e-9c2d5a7b1e40",
                        "name": "Fundação",
                        "description": "Serviços de fundação",
                        "status": 1,
                        "parent_id": "019e0edb-aa7c-70c4-9d2d-3a2f175b5ddf",
                        "level": 1,
                        "is_root": false,
                        "is_leaf": false,
                        "children_count": 1
                      },
                      {
                        "id": "019e0f23-1a5e-7460-9c33-2b7f8de10c55",
                        "name": "Escavação",
                        "description": null,
                        "status": 2,
                        "parent_id": "019e0f21-4b3c-71a8-8f0e-9c2d5a7b1e40",
                        "level": 2,
                        "is_root": false,
                        "is_leaf": true,
                        "children_count": 0
                      }
                    ],
                    "stats": {
                      "level": 0,
                      "depth": 2,
                      "children_count": 2,
                      "descendants_count": 3,
                      "is_root": true,
                      "is_leaf": false
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "description": "ID (UUID) do projeto.",
          "schema": {
            "type": "string"
          },
          "example": "{{project_id}}"
        }
      ]
    },
    "/api/management/projects/{project}/hierarchy/stats": {
      "get": {
        "tags": [
          "projects",
          "Hierarquia"
        ],
        "summary": "Obter estatísticas da hierarquia",
        "description": "Retorna os números da posição do projeto na estrutura: quantidade de irmãos e de ancestrais, estatísticas da árvore, o caminho até o projeto e a hierarquia a que ele pertence.\n\nConceitos e regras em [Hierarquia de projetos](https://docs.olie.ai/guides/projects/project-hierarchy).",
        "operationId": "listarEstatSticasDaHierarquiaDeUmProjeto",
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "project_id": {
                          "type": "string"
                        },
                        "project_name": {
                          "type": "string"
                        },
                        "stats": {
                          "type": "object",
                          "properties": {
                            "level": {
                              "type": "integer"
                            },
                            "depth": {
                              "type": "integer"
                            },
                            "children_count": {
                              "type": "integer"
                            },
                            "descendants_count": {
                              "type": "integer"
                            },
                            "is_root": {
                              "type": "boolean"
                            },
                            "is_leaf": {
                              "type": "boolean"
                            }
                          }
                        },
                        "siblings_count": {
                          "type": "integer"
                        },
                        "ancestors_count": {
                          "type": "integer"
                        },
                        "hierarchy_breadcrumb": {
                          "type": "string"
                        },
                        "hierarchy": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "code": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "response": true,
                  "data": {
                    "project_id": "019e0f21-4b3c-71a8-8f0e-9c2d5a7b1e40",
                    "project_name": "Fundação",
                    "stats": {
                      "level": 1,
                      "depth": 1,
                      "children_count": 1,
                      "descendants_count": 1,
                      "is_root": false,
                      "is_leaf": false
                    },
                    "siblings_count": 1,
                    "ancestors_count": 1,
                    "hierarchy_breadcrumb": "Shopping Center > Fundação",
                    "hierarchy": [
                      {
                        "id": "019e0edb-aa7c-70c4-9d2d-3a2f175b5ddf",
                        "code": "SC-1",
                        "name": "Shopping Center"
                      },
                      {
                        "id": "019e0f21-4b3c-71a8-8f0e-9c2d5a7b1e40",
                        "code": "SC-2",
                        "name": "Fundação"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "description": "ID (UUID) do projeto.",
          "schema": {
            "type": "string"
          },
          "example": "{{project_id}}"
        }
      ]
    },
    "/api/management/projects/{project}/hierarchy/analytics": {
      "get": {
        "tags": [
          "projects",
          "Hierarquia"
        ],
        "summary": "Obter análises dos descendentes",
        "description": "Consolida em um único retorno os números de todos os projetos abaixo do projeto informado — financeiro, tarefas, funis e pessoas envolvidas — para uma visão macro da estrutura.\n\nProjetos sem nenhum descendente respondem com erro, já que não há o que consolidar.",
        "operationId": "listarAnLisesAgregadasDeTodosOsProjetosDescendentes",
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "budget": {
                          "type": "object",
                          "properties": {
                            "total_budget": {
                              "type": "integer"
                            },
                            "average_budget": {
                              "type": "integer"
                            },
                            "budget_distribution": {
                              "type": "object",
                              "properties": {
                                "120000": {
                                  "type": "integer"
                                },
                                "340000": {
                                  "type": "integer"
                                }
                              }
                            },
                            "projects_with_budget": {
                              "type": "integer"
                            },
                            "projects_without_budget": {
                              "type": "integer"
                            },
                            "budget_range": {
                              "type": "object",
                              "properties": {
                                "min": {
                                  "type": "integer"
                                },
                                "max": {
                                  "type": "integer"
                                }
                              }
                            }
                          }
                        },
                        "funnels": {
                          "type": "object",
                          "properties": {
                            "total_funnels": {
                              "type": "integer"
                            },
                            "average_funnels_per_project": {
                              "type": "number"
                            },
                            "funnels_per_project": {
                              "type": "object",
                              "properties": {
                                "019e0f21-4b3c-71a8-8f0e-9c2d5a7b1e40": {
                                  "type": "integer"
                                }
                              }
                            },
                            "projects_per_step": {
                              "type": "object",
                              "properties": {
                                "181": {
                                  "type": "integer"
                                }
                              }
                            },
                            "projects_with_funnels": {
                              "type": "integer"
                            },
                            "projects_without_funnels": {
                              "type": "integer"
                            }
                          }
                        },
                        "users": {
                          "type": "object",
                          "properties": {
                            "total_users": {
                              "type": "integer"
                            },
                            "total_user_assignments": {
                              "type": "integer"
                            },
                            "average_users_per_project": {
                              "type": "integer"
                            },
                            "users_by_role": {
                              "type": "object",
                              "properties": {
                                "assignee": {
                                  "type": "integer"
                                },
                                "follower": {
                                  "type": "integer"
                                }
                              }
                            },
                            "users_per_project": {
                              "type": "object",
                              "properties": {
                                "019e0f21-4b3c-71a8-8f0e-9c2d5a7b1e40": {
                                  "type": "integer"
                                }
                              }
                            },
                            "projects_with_users": {
                              "type": "integer"
                            },
                            "projects_without_users": {
                              "type": "integer"
                            }
                          }
                        },
                        "status": {
                          "type": "object",
                          "properties": {
                            "by_status": {
                              "type": "object",
                              "properties": {
                                "1": {
                                  "type": "integer"
                                },
                                "2": {
                                  "type": "integer"
                                }
                              }
                            },
                            "total_projects": {
                              "type": "integer"
                            },
                            "status_distribution_percentage": {
                              "type": "object",
                              "properties": {
                                "1": {
                                  "type": "number"
                                },
                                "2": {
                                  "type": "number"
                                }
                              }
                            }
                          }
                        },
                        "impact": {
                          "type": "object",
                          "properties": {
                            "by_impact": {
                              "type": "object",
                              "properties": {
                                "6": {
                                  "type": "integer"
                                },
                                "7": {
                                  "type": "integer"
                                },
                                "9": {
                                  "type": "integer"
                                }
                              }
                            },
                            "average_impact": {
                              "type": "number"
                            },
                            "impact_range": {
                              "type": "object",
                              "properties": {
                                "min": {
                                  "type": "integer"
                                },
                                "max": {
                                  "type": "integer"
                                }
                              }
                            },
                            "high_impact_projects": {
                              "type": "integer"
                            },
                            "medium_impact_projects": {
                              "type": "integer"
                            },
                            "low_impact_projects": {
                              "type": "integer"
                            }
                          }
                        },
                        "hierarchy": {
                          "type": "object",
                          "properties": {
                            "total_levels": {
                              "type": "integer"
                            },
                            "level_distribution": {
                              "type": "object",
                              "properties": {
                                "1": {
                                  "type": "integer"
                                },
                                "2": {
                                  "type": "integer"
                                }
                              }
                            },
                            "leaf_projects": {
                              "type": "integer"
                            },
                            "branch_projects": {
                              "type": "integer"
                            },
                            "branch_to_leaf_ratio": {
                              "type": "number"
                            },
                            "average_children_per_branch": {
                              "type": "integer"
                            }
                          }
                        },
                        "timeline": {
                          "type": "object",
                          "properties": {
                            "recent_projects": {
                              "type": "object",
                              "properties": {
                                "last_30_days": {
                                  "type": "integer"
                                },
                                "last_90_days": {
                                  "type": "integer"
                                },
                                "last_365_days": {
                                  "type": "integer"
                                }
                              }
                            },
                            "recently_updated": {
                              "type": "integer"
                            },
                            "monthly_creation_trend": {
                              "type": "object",
                              "properties": {
                                "2026-06": {
                                  "type": "integer"
                                },
                                "2026-07": {
                                  "type": "integer"
                                },
                                "2026-08": {
                                  "type": "integer"
                                }
                              }
                            },
                            "oldest_project_age_days": {
                              "type": "integer"
                            },
                            "newest_project_age_days": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "response": true,
                  "data": {
                    "budget": {
                      "total_budget": 460000,
                      "average_budget": 230000,
                      "budget_distribution": {
                        "120000": 1,
                        "340000": 1
                      },
                      "projects_with_budget": 2,
                      "projects_without_budget": 1,
                      "budget_range": {
                        "min": 0,
                        "max": 340000
                      }
                    },
                    "funnels": {
                      "total_funnels": 1,
                      "average_funnels_per_project": 0.67,
                      "funnels_per_project": {
                        "019e0f21-4b3c-71a8-8f0e-9c2d5a7b1e40": 1
                      },
                      "projects_per_step": {
                        "181": 1
                      },
                      "projects_with_funnels": 1,
                      "projects_without_funnels": 2
                    },
                    "users": {
                      "total_users": 2,
                      "total_user_assignments": 3,
                      "average_users_per_project": 1,
                      "users_by_role": {
                        "assignee": 2,
                        "follower": 1
                      },
                      "users_per_project": {
                        "019e0f21-4b3c-71a8-8f0e-9c2d5a7b1e40": 2
                      },
                      "projects_with_users": 2,
                      "projects_without_users": 1
                    },
                    "status": {
                      "by_status": {
                        "1": 2,
                        "2": 1
                      },
                      "total_projects": 3,
                      "status_distribution_percentage": {
                        "1": 66.67,
                        "2": 33.33
                      }
                    },
                    "impact": {
                      "by_impact": {
                        "6": 1,
                        "7": 1,
                        "9": 1
                      },
                      "average_impact": 7.33,
                      "impact_range": {
                        "min": 6,
                        "max": 9
                      },
                      "high_impact_projects": 1,
                      "medium_impact_projects": 2,
                      "low_impact_projects": 0
                    },
                    "hierarchy": {
                      "total_levels": 2,
                      "level_distribution": {
                        "1": 2,
                        "2": 1
                      },
                      "leaf_projects": 2,
                      "branch_projects": 1,
                      "branch_to_leaf_ratio": 0.5,
                      "average_children_per_branch": 1
                    },
                    "timeline": {
                      "recent_projects": {
                        "last_30_days": 1,
                        "last_90_days": 2,
                        "last_365_days": 3
                      },
                      "recently_updated": 2,
                      "monthly_creation_trend": {
                        "2026-06": 1,
                        "2026-07": 1,
                        "2026-08": 1
                      },
                      "oldest_project_age_days": 74,
                      "newest_project_age_days": 3
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Projeto sem descendentes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "response": false,
                  "message": "no_descendants_for_analytics",
                  "error": "No descendants found for project"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "description": "ID (UUID) do projeto.",
          "schema": {
            "type": "string"
          },
          "example": "{{project_id}}"
        }
      ]
    },
    "/api/management/projects/{project}/hierarchy/attach-child": {
      "post": {
        "tags": [
          "projects",
          "Hierarquia"
        ],
        "summary": "Vincular um projeto filho",
        "description": "Torna um projeto existente filho direto do projeto informado. O vínculo é recusado quando criaria um ciclo, quando o projeto seria pai de si mesmo ou quando ultrapassaria o limite de quatro níveis de profundidade.\n\nRegras completas em [Hierarquia de projetos](https://docs.olie.ai/guides/projects/project-hierarchy).",
        "operationId": "vincularProjetoComoFilhoDeOutroProjeto",
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "parent": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            }
                          }
                        },
                        "child": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            }
                          }
                        },
                        "new_hierarchy_breadcrumb": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "response": true,
                  "data": {
                    "parent": {
                      "id": "019e0edb-aa7c-70c4-9d2d-3a2f175b5ddf",
                      "name": "Shopping Center"
                    },
                    "child": {
                      "id": "019e0f21-4b3c-71a8-8f0e-9c2d5a7b1e40",
                      "name": "Fundação"
                    },
                    "new_hierarchy_breadcrumb": "Shopping Center > Fundação"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Vínculo inválido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "error": {
                      "type": "string",
                      "format": "style"
                    }
                  }
                },
                "example": {
                  "response": false,
                  "message": "invalid_parent_child_relationship",
                  "error": "Cannot attach child: would create invalid hierarchy (loop, depth limit, or self-reference)"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "child_id": {
                    "nullable": true
                  }
                }
              },
              "example": {
                "child_id": null
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "description": "ID (UUID) do projeto.",
          "schema": {
            "type": "string"
          },
          "example": "{{project_id}}"
        }
      ]
    },
    "/api/management/projects/{project}/hierarchy/detach-child/{child}": {
      "delete": {
        "tags": [
          "projects",
          "Hierarquia"
        ],
        "summary": "Desvincular um projeto filho",
        "description": "Desfaz o vínculo entre um projeto pai e um de seus filhos diretos. O projeto desvinculado passa a ser raiz e mantém a própria descendência intacta. Se o projeto informado não for filho direto daquele pai, a operação é recusada.",
        "operationId": "removerARelaODeHierarquiaEntreUmProjetoPaiESeuProjetoFilho",
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "former_parent": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            }
                          }
                        },
                        "detached_child": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "is_root": {
                              "type": "boolean"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "response": true,
                  "data": {
                    "former_parent": {
                      "id": "019e0edb-aa7c-70c4-9d2d-3a2f175b5ddf",
                      "name": "Shopping Center"
                    },
                    "detached_child": {
                      "id": "019e0f21-4b3c-71a8-8f0e-9c2d5a7b1e40",
                      "name": "Fundação",
                      "is_root": true
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Projeto não é filho deste pai",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "response": false,
                  "message": "invalid_parent_child_relationship",
                  "error": "The specified project is not a child of this project"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "description": "ID (UUID) do projeto.",
          "schema": {
            "type": "string"
          },
          "example": "{{project_id}}"
        },
        {
          "name": "child",
          "in": "path",
          "required": true,
          "description": "ID (UUID) do projeto filho a desvincular.",
          "schema": {
            "type": "string"
          },
          "example": ""
        }
      ]
    },
    "/api/management/projects/{project}/hierarchy/move-to-parent": {
      "put": {
        "tags": [
          "projects",
          "Hierarquia"
        ],
        "summary": "Mover um projeto para outro pai",
        "description": "Muda o projeto de lugar na estrutura, colocando-o sob outro pai. Enviar `new_parent_id` como `null` promove o projeto a raiz.\n\nA movimentação é recusada quando criaria um ciclo ou quando a subárvore do projeto ultrapassaria o limite de quatro níveis de profundidade — veja [Hierarquia de projetos](https://docs.olie.ai/guides/projects/project-hierarchy).",
        "operationId": "moverUmProjetoParaSerFilhoDeOutroProjeto",
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "project": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            }
                          }
                        },
                        "old_parent": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            }
                          }
                        },
                        "new_parent": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            }
                          }
                        },
                        "new_hierarchy_breadcrumb": {
                          "type": "string"
                        },
                        "is_root": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "response": true,
                  "data": {
                    "project": {
                      "id": "019e0f21-4b3c-71a8-8f0e-9c2d5a7b1e40",
                      "name": "Fundação"
                    },
                    "old_parent": {
                      "id": "019e0edb-aa7c-70c4-9d2d-3a2f175b5ddf",
                      "name": "Shopping Center"
                    },
                    "new_parent": {
                      "id": "019e0f22-8c11-7233-b5a1-77d0c9e41a02",
                      "name": "Estrutura"
                    },
                    "new_hierarchy_breadcrumb": "Shopping Center > Estrutura > Fundação",
                    "is_root": false
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "new_parent_id": {
                    "nullable": true
                  }
                }
              },
              "example": {
                "new_parent_id": null
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "description": "ID (UUID) do projeto.",
          "schema": {
            "type": "string"
          },
          "example": "{{project_id}}"
        }
      ]
    },
    "/api/management/projects/{project}/hierarchy/promote-to-root": {
      "put": {
        "tags": [
          "projects",
          "Hierarquia"
        ],
        "summary": "Promover um projeto a raiz",
        "description": "Desliga o projeto de seu pai, deixando-o como raiz de uma nova estrutura. Os filhos do projeto acompanham a mudança e mantêm as posições relativas entre si. Projetos que já são raiz respondem com erro.",
        "operationId": "removerUmProjetoDeSuaHierarquiaAtual",
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "project": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "is_root": {
                              "type": "boolean"
                            }
                          }
                        },
                        "former_parent": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "response": true,
                  "data": {
                    "project": {
                      "id": "019e0f21-4b3c-71a8-8f0e-9c2d5a7b1e40",
                      "name": "Fundação",
                      "is_root": true
                    },
                    "former_parent": {
                      "id": "019e0edb-aa7c-70c4-9d2d-3a2f175b5ddf",
                      "name": "Shopping Center"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Projeto já é raiz",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "response": false,
                  "message": "Project is already at root level"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "project",
          "in": "path",
          "required": true,
          "description": "ID (UUID) do projeto.",
          "schema": {
            "type": "string"
          },
          "example": "{{project_id}}"
        }
      ]
    },
    "/api/management/projects/{project}/loose-checklist": {
      "get": {
        "tags": [
          "projects",
          "Checklists avulsos"
        ],
        "summary": "Listar checklists avulsos do projeto",
        "description": "Lista os checklists avulsos do projeto, ordenados pela posição do item. Cada item já inclui o responsável atribuído e o usuário que marcou como concluído (quando houver).",
        "operationId": "listarTodosOsChecklistsAvulsosAssociadosAUmProjeto",
        "responses": {
          "200": {
            "description": "Sucesso",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Access-Control-Expose-Headers": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-cache, private"
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "gzip"
              },
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Thu, 14 May 2026 19:40:20 GMT"
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string"
                },
                "example": "strict-origin-when-cross-origin"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "nginx"
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string"
                },
                "example": "max-age=31536000; includeSubDomains"
              },
              "Vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string"
                },
                "example": "nosniff"
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string"
                },
                "example": "SAMEORIGIN"
              },
              "X-Ratelimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "example": 160
              },
              "X-Ratelimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "example": 158
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "boolean"
                    },
                    "loose_checklists": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "project_id": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "order": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "response": true,
                  "loose_checklists": [
                    {
                      "id": "019e27ab-5064-71f9-aed4-78e0728a42d0",
                      "name": "Fazer deploy",
                      "completed_at": null,
                      "author_id": null,
                      "checked_by_id": null,
                      "project_id": "019e27a5-d444-713b-ac3c-50c01d4ebbab",
                      "created_at": "2026-05-14T18:06:39.000000Z",
                      "updated_at": "2026-05-14T19:04:43.000000Z",
                      "order": 0,
                      "checked_by": null,
                      "author": null
                    },
                    {
                      "id": "019e27a9-2b1b-7095-955a-3b0cc8bdabeb",
                      "name": "Limpar o estoque",
                      "completed_at": null,
                      "author_id": null,
                      "checked_by_id": null,
                      "project_id": "019e27a5-d444-713b-ac3c-50c01d4ebbab",
                      "created_at": "2026-05-14T18:04:18.000000Z",
                      "updated_at": "2026-05-14T19:04:43.000000Z",
                      "order": 1,
                      "checked_by": null,
                      "author": null
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Sanctum Personal Access Token do tenant",
            "schema": {
              "type": "string"
            },
            "example": "Bearer {{token}}"
          }
        ]
      },
      "post": {
        "tags": [
          "projects",
          "Checklists avulsos"
        ],
        "summary": "Criar checklist avulso no projeto",
        "description": "Cria um novo item de checklist avulso no projeto. O item entra no fim da lista — a posição é atribuída automaticamente pelo servidor.",
        "operationId": "criarUmNovoItemDeChecklistAvulsoParaUmProjeto",
        "responses": {
          "200": {
            "description": "Sucesso",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Access-Control-Expose-Headers": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-cache, private"
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "gzip"
              },
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Thu, 14 May 2026 18:04:18 GMT"
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string"
                },
                "example": "strict-origin-when-cross-origin"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "nginx"
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string"
                },
                "example": "max-age=31536000; includeSubDomains"
              },
              "Vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "X-Content-Type-Options": {
                "schema": {
[...]
