{
  "openapi": "3.0.3",
  "info": {
    "title": "Olie API",
    "description": "# Introdução 👋\n\nOlá! Esta é a documentação oficial da API da [olie.ai](https://olie.ai/). Aqui você encontra as referências e exemplos de uso dos nossos endpoints.\n\nPara uma visão completa, recomendamos fortemente que você leia a [documentação oficial](https://docs.olie.ai/api-reference/introduction). Lá estão detalhados tópicos essenciais como [autenticação](https://docs.olie.ai/api-reference/introduction/authentication), [estrutura de respostas](https://docs.olie.ai/api-reference/general/response-structure), [paginação](https://docs.olie.ai/api-reference/general/pagination) e outros guias de integração.\n\nNo Postman, esta coleção foca nas informações específicas de cada requisição (endpoints, parâmetros e exemplos), servindo como apoio rápido para testes e desenvolvimento.\n",
    "version": "1.0.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.olie.ai"
    }
  ],
  "paths": {
    "/api/management/projects/{id}/restore": {
      "get": {
        "tags": [
          "projects",
          "{id}",
          "restore"
        ],
        "summary": "Restaurar projeto",
        "description": "Restaura um projeto que foi deletado.",
        "operationId": "restaurarProjeto",
        "responses": {
          "200": {
            "description": "Resposta de sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "string",
                      "example": "<boolean>"
                    }
                  }
                },
                "examples": {
                  "Resposta de sucesso": {
                    "value": {
                      "response": "<boolean>"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "response": {
                      "type": "string",
                      "example": "<boolean>"
                    }
                  }
                },
                "examples": {
                  "Não autorizado": {
                    "value": {
                      "error": "<string>",
                      "message": "<string>",
                      "response": "<boolean>"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "No query results for model [App\\Models\\Project] :id"
                    },
                    "message": {
                      "type": "string",
                      "example": "project_model_not_found"
                    },
                    "response": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                },
                "examples": {
                  "Não encontrado": {
                    "value": {
                      "error": "No query results for model [App\\Models\\Project] :id",
                      "message": "project_model_not_found",
                      "response": false
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": ""
          },
          "description": "ID do projeto"
        }
      ]
    },
    "/api/management/projects/{id}/medias": {
      "get": {
        "tags": [
          "projects",
          "{id}",
          "medias"
        ],
        "summary": "Listar conteúdos do projeto",
        "description": "Retorna uma lista de conteúdos do projeto com base nos filtros fornecidos.",
        "operationId": "listarConteDosDoProjeto",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "1"
            },
            "description": "Número da página a ser retornada. Começa em 1"
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "30"
            },
            "description": "Quantidade de itens exibidos por página. Define o tamanho da página de resultados"
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "default"
            },
            "description": "Filtro aplicado ao resultado. Valores possíveis: logs, content, default."
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de conteúdos do projeto retornada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "medias": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "example": "<dateTime>"
                          },
                          "deleted_at": {
                            "type": "string",
                            "example": "<dateTime>"
                          },
                          "extension": {
                            "type": "string",
                            "example": "<string>"
                          },
                          "file_url": {
                            "type": "string",
                            "example": "<uri>"
                          },
                          "frame_id": {
                            "type": "string",
                            "example": "<uuid>"
                          },
                          "id": {
                            "type": "string",
                            "example": "<uuid>"
                          },
                          "log": {
                            "type": "string",
                            "example": "<string>"
                          },
                          "name": {
                            "type": "string",
                            "example": "<string>"
                          },
                          "project_id": {
                            "type": "string",
                            "example": "<uuid>"
                          },
                          "technical_name": {
                            "type": "string",
                            "example": "<string>"
                          },
                          "text": {
                            "type": "string",
                            "example": "<string>"
                          },
                          "type": {
                            "type": "string",
                            "example": "<integer>"
                          },
                          "updated_at": {
                            "type": "string",
                            "example": "<dateTime>"
                          },
                          "user": {
                            "type": "object",
                            "properties": {}
                          },
                          "user_id": {
                            "type": "string",
                            "example": "<uuid>"
                          }
                        }
                      },
                      "example": [
                        {
                          "created_at": "<dateTime>",
                          "deleted_at": "<dateTime>",
                          "extension": "<string>",
                          "file_url": "<uri>",
                          "frame_id": "<uuid>",
                          "id": "<uuid>",
                          "log": "<string>",
                          "name": "<string>",
                          "project_id": "<uuid>",
                          "technical_name": "<string>",
                          "text": "<string>",
                          "type": "<integer>",
                          "updated_at": "<dateTime>",
                          "user": {},
                          "user_id": "<uuid>"
                        },
                        {
                          "created_at": "<dateTime>",
                          "deleted_at": "<dateTime>",
                          "extension": "<string>",
                          "file_url": "<uri>",
                          "frame_id": "<uuid>",
                          "id": "<uuid>",
                          "log": "<string>",
                          "name": "<string>",
                          "project_id": "<uuid>",
                          "technical_name": "<string>",
                          "text": "<string>",
                          "type": "<integer>",
                          "updated_at": "<dateTime>",
                          "user": {},
                          "user_id": "<uuid>"
                        }
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "string",
                          "example": "<integer>"
                        },
                        "from": {
                          "type": "string",
                          "example": "<integer>"
                        },
                        "last_page": {
                          "type": "string",
                          "example": "<integer>"
                        },
                        "per_page": {
                          "type": "string",
                          "example": "<integer>"
                        },
                        "to": {
                          "type": "string",
                          "example": "<integer>"
                        },
                        "total": {
                          "type": "string",
                          "example": "<integer>"
                        }
                      }
                    },
                    "response": {
                      "type": "string",
                      "example": "<boolean>"
                    }
                  }
                },
                "examples": {
                  "Lista de conteúdos do projeto retornada com sucesso": {
                    "value": {
                      "medias": [
                        {
                          "created_at": "<dateTime>",
                          "deleted_at": "<dateTime>",
                          "extension": "<string>",
                          "file_url": "<uri>",
                          "frame_id": "<uuid>",
                          "id": "<uuid>",
                          "log": "<string>",
                          "name": "<string>",
                          "project_id": "<uuid>",
                          "technical_name": "<string>",
                          "text": "<string>",
                          "type": "<integer>",
                          "updated_at": "<dateTime>",
                          "user": {},
                          "user_id": "<uuid>"
                        },
                        {
                          "created_at": "<dateTime>",
                          "deleted_at": "<dateTime>",
                          "extension": "<string>",
                          "file_url": "<uri>",
                          "frame_id": "<uuid>",
                          "id": "<uuid>",
                          "log": "<string>",
                          "name": "<string>",
                          "project_id": "<uuid>",
                          "technical_name": "<string>",
                          "text": "<string>",
                          "type": "<integer>",
                          "updated_at": "<dateTime>",
                          "user": {},
                          "user_id": "<uuid>"
                        }
                      ],
                      "meta": {
                        "current_page": "<integer>",
                        "from": "<integer>",
                        "last_page": "<integer>",
                        "per_page": "<integer>",
                        "to": "<integer>",
                        "total": "<integer>"
                      },
                      "response": "<boolean>"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "response": {
                      "type": "string",
                      "example": "<boolean>"
                    }
                  }
                },
                "examples": {
                  "Não autorizado": {
                    "value": {
                      "error": "<string>",
                      "message": "<string>",
                      "response": "<boolean>"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "projects",
          "{id}",
          "medias"
        ],
        "summary": "Enviar conteúdo no projeto",
        "description": "Envia um novo conteúdo para o projeto.",
        "operationId": "enviarConteDoNoProjeto",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "audio": {
                    "type": "string",
                    "example": "<binary>"
                  },
                  "file[0]": {
                    "type": "string",
                    "example": "<binary>"
                  },
                  "text": {
                    "type": "string",
                    "example": "<string>"
                  },
                  "type": {
                    "type": "number",
                    "example": 3
                  }
                }
              },
              "examples": {
                "Enviar conteúdo no projeto": {
                  "value": {
                    "audio": "<binary>",
                    "file[0]": "<binary>",
                    "text": "<string>",
                    "type": 3
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Conteúdo enviado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "media": {
                      "type": "object",
                      "properties": {
                        "created_at": {
                          "type": "string",
                          "example": "<dateTime>"
                        },
                        "deleted_at": {
                          "type": "string",
                          "example": "<dateTime>"
                        },
                        "extension": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "file_url": {
                          "type": "string",
                          "example": "<uri>"
                        },
                        "frame_id": {
                          "type": "string",
                          "example": "<uuid>"
                        },
                        "id": {
                          "type": "string",
                          "example": "<uuid>"
                        },
                        "log": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "name": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "project_id": {
                          "type": "string",
                          "example": "<uuid>"
                        },
                        "technical_name": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "text": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "type": {
                          "type": "string",
                          "example": "<integer>"
                        },
                        "updated_at": {
                          "type": "string",
                          "example": "<dateTime>"
                        },
                        "user": {
                          "type": "object",
                          "properties": {}
                        },
                        "user_id": {
                          "type": "string",
                          "example": "<uuid>"
                        }
                      }
                    },
                    "response": {
                      "type": "string",
                      "example": "<boolean>"
                    }
                  }
                },
                "examples": {
                  "Conteúdo enviado com sucesso": {
                    "value": {
                      "media": {
                        "created_at": "<dateTime>",
                        "deleted_at": "<dateTime>",
                        "extension": "<string>",
                        "file_url": "<uri>",
                        "frame_id": "<uuid>",
                        "id": "<uuid>",
                        "log": "<string>",
                        "name": "<string>",
                        "project_id": "<uuid>",
                        "technical_name": "<string>",
                        "text": "<string>",
                        "type": "<integer>",
                        "updated_at": "<dateTime>",
                        "user": {},
                        "user_id": "<uuid>"
                      },
                      "response": "<boolean>"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "response": {
                      "type": "string",
                      "example": "<boolean>"
                    }
                  }
                },
                "examples": {
                  "Não autorizado": {
                    "value": {
                      "error": "<string>",
                      "message": "<string>",
                      "response": "<boolean>"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Erro de validação",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "response": {
                      "type": "string",
                      "example": "<boolean>"
                    },
                    "validation": {
                      "type": "object",
                      "properties": {}
                    }
                  }
                },
                "examples": {
                  "Erro de validação": {
                    "value": {
                      "error": "<string>",
                      "message": "<string>",
                      "response": "<boolean>",
                      "validation": {}
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "<string>"
          },
          "description": "ID do projeto"
        }
      ]
    },
    "/api/management/projects/{id}": {
      "get": {
        "tags": [
          "projects",
          "{id}"
        ],
        "summary": "Exibir um projeto",
        "description": "Retorna os detalhes de um projeto específico pelo ID.",
        "operationId": "exibirUmProjeto",
        "responses": {
          "200": {
            "description": "Projeto retornado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "project": {
                      "type": "object",
                      "properties": {
                        "budget": {
                          "type": "string",
                          "example": "<float>"
                        },
                        "code": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "contact": {
                          "type": "object",
                          "properties": {}
                        },
                        "contact_id": {
                          "type": "string",
                          "example": "<integer>"
                        },
                        "costs": {
                          "type": "object",
                          "properties": {}
                        },
                        "created_at": {
                          "type": "string",
                          "example": "<dateTime>"
                        },
                        "created_by": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "customer": {
                          "type": "object",
                          "properties": {}
                        },
                        "customer_id": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "deleted_at": {
                          "type": "string",
                          "example": "<dateTime>"
                        },
                        "description": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "form": {
                          "type": "object",
                          "properties": {}
                        },
                        "forum": {
                          "type": "object",
                          "properties": {}
                        },
                        "frame": {
                          "type": "object",
                          "properties": {}
                        },
                        "frame_id": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "id": {
                          "type": "string",
                          "example": "<uuid>"
                        },
                        "impact": {
                          "type": "string",
                          "example": "<integer>"
                        },
                        "is_template": {
                          "type": "string",
                          "example": "<boolean>"
                        },
                        "merged_id": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "merged_project": {
                          "type": "object",
                          "properties": {}
                        },
                        "name": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "old_id": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "parent_id": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "share_settings": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "share_token": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "status": {
                          "type": "string",
                          "example": "<integer>"
                        },
                        "step_form": {
                          "type": "object",
                          "properties": {}
                        },
                        "updated_at": {
                          "type": "string",
                          "example": "<dateTime>"
                        }
                      }
                    },
                    "response": {
                      "type": "string",
                      "example": "<boolean>"
                    }
                  }
                },
                "examples": {
                  "Projeto retornado com sucesso": {
                    "value": {
                      "project": {
                        "budget": "<float>",
                        "code": "<string>",
                        "contact": {},
                        "contact_id": "<integer>",
                        "costs": {},
                        "created_at": "<dateTime>",
                        "created_by": "<string>",
                        "customer": {},
                        "customer_id": "<string>",
                        "deleted_at": "<dateTime>",
                        "description": "<string>",
                        "form": {},
                        "forum": {},
                        "frame": {},
                        "frame_id": "<string>",
                        "id": "<uuid>",
                        "impact": "<integer>",
                        "is_template": "<boolean>",
                        "merged_id": "<string>",
                        "merged_project": {},
                        "name": "<string>",
                        "old_id": "<string>",
                        "parent_id": "<string>",
                        "share_settings": "<string>",
                        "share_token": "<string>",
                        "status": "<integer>",
                        "step_form": {},
                        "updated_at": "<dateTime>"
                      },
                      "response": "<boolean>"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "response": {
                      "type": "string",
                      "example": "<boolean>"
                    }
                  }
                },
                "examples": {
                  "Não autorizado": {
                    "value": {
                      "error": "<string>",
                      "message": "<string>",
                      "response": "<boolean>"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Model não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "response": {
                      "type": "string",
                      "example": "<boolean>"
                    }
                  }
                },
                "examples": {
                  "Model não encontrada": {
                    "value": {
                      "error": "<string>",
                      "message": "<string>",
                      "response": "<boolean>"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "projects",
          "{id}"
        ],
        "summary": "Editar projeto",
        "description": "Atualiza os dados de um projeto existente.",
        "operationId": "editarProjeto",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "nullable": true,
                    "example": null
                  },
                  "impact": {
                    "type": "number",
                    "example": 150
                  }
                }
              },
              "examples": {
                "Editar projeto": {
                  "value": {
                    "description": null,
                    "impact": 150
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Editado com sucesso",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Access-Control-Expose-Headers": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "private, must-revalidate"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 16 Dec 2025 18:49:13 GMT"
                }
              },
              "Host": {
                "schema": {
                  "type": "string",
                  "example": "api.olie.localhost"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx/1.29.3"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.3.28"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string",
                  "example": "160"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string",
                  "example": "159"
                }
              },
              "expires": {
                "schema": {
                  "type": "string",
                  "example": "-1"
                }
              },
              "pragma": {
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "project": {
                      "type": "object",
                      "properties": {
                        "budget": {
                          "type": "number",
                          "example": 950000
                        },
                        "code": {
                          "type": "string",
                          "example": "P-83"
                        },
                        "contact_id": {
                          "type": "number",
                          "example": 12597
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2025-12-16T14:10:51.000000Z"
                        },
                        "created_by": {
                          "type": "string",
                          "example": "019aeaa3-2370-731c-9008-be759795f449"
                        },
                        "customer_id": {
                          "type": "string",
                          "example": "019b277d-c615-723f-a1dd-f03940bce866"
                        },
                        "deleted_at": {
                          "nullable": true,
                          "example": null
                        },
                        "description": {
                          "type": "string",
                          "example": "Companhia de energia da cidade de Hawkins"
                        },
                        "form_answers": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "answer": {
                                "nullable": true,
                                "example": null
                              },
                              "answered_by": {
                                "nullable": true,
                                "example": null
                              },
                              "id": {
                                "type": "number",
                                "example": 2130
                              },
                              "label": {
                                "type": "string",
                                "example": "Texto curto"
                              },
                              "model": {
                                "type": "string",
                                "example": "Project"
                              },
                              "updated_at": {
                                "type": "string",
                                "example": "2025-12-16T14:45:52.000000Z"
                              }
                            }
                          },
                          "example": [
                            {
                              "answer": null,
                              "answered_by": null,
                              "id": 2130,
                              "label": "Texto curto",
                              "model": "Project",
                              "updated_at": "2025-12-16T14:45:52.000000Z"
                            },
                            {
                              "answer": null,
                              "answered_by": null,
                              "id": 2131,
                              "label": "Texto longo",
                              "model": "Project",
                              "updated_at": "2025-12-16T14:45:52.000000Z"
                            }
                          ]
                        },
                        "frame": {
                          "type": "object",
                          "properties": {
                            "cockpit_access": {
                              "type": "number",
                              "example": 0
                            },
                            "frame_billing_data_id": {
                              "nullable": true,
                              "example": null
                            },
                            "id": {
                              "type": "string",
                              "example": "019aeaa3-2778-73ec-8f8d-59d06cc59dca"
                            },
                            "logo_img": {
                              "nullable": true,
                              "example": null
                            },
                            "model_forms": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "class": {
                                    "type": "string",
                                    "example": "App\\Models\\Project"
                                  },
                                  "id": {
                                    "type": "number",
                                    "example": 377
                                  }
                                }
                              },
                              "example": [
                                {
                                  "class": "App\\Models\\Project",
                                  "id": 377
                                }
                              ]
                            },
                            "name": {
                              "type": "string",
                              "example": "OlieDev Company "
                            },
                            "old_id": {
                              "nullable": true,
                              "example": null
                            },
                            "status": {
                              "type": "number",
                              "example": 1
                            },
                            "subdomain": {
                              "type": "string",
                              "example": "devframe"
                            },
                            "type": {
                              "type": "number",
                              "example": 2
                            }
                          }
                        },
                        "frame_id": {
                          "type": "string",
                          "example": "019aeaa3-2778-73ec-8f8d-59d06cc59dca"
                        },
                        "id": {
                          "type": "string",
                          "example": "019b277f-e453-733d-a00e-6d26d444008b"
                        },
                        "impact": {
                          "type": "number",
                          "example": 5
                        },
                        "is_template": {
                          "type": "boolean",
                          "example": false
                        },
                        "merged_id": {
                          "nullable": true,
                          "example": null
                        },
                        "name": {
                          "type": "string",
                          "example": "Laboratório Hawkins"
                        },
                        "old_id": {
                          "nullable": true,
                          "example": null
                        },
                        "parent_id": {
                          "nullable": true,
                          "example": null
                        },
                        "share_settings": {
                          "nullable": true,
                          "example": null
                        },
                        "share_token": {
                          "nullable": true,
                          "example": null
                        },
                        "status": {
                          "type": "number",
                          "example": 1
                        },
                        "updated_at": {
                          "type": "string",
                          "example": "2025-12-16T18:49:13.000000Z"
                        }
                      }
                    },
                    "response": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "Editado com sucesso": {
                    "value": {
                      "project": {
                        "budget": 950000,
                        "code": "P-83",
                        "contact_id": 12597,
                        "created_at": "2025-12-16T14:10:51.000000Z",
                        "created_by": "019aeaa3-2370-731c-9008-be759795f449",
                        "customer_id": "019b277d-c615-723f-a1dd-f03940bce866",
                        "deleted_at": null,
                        "description": "Companhia de energia da cidade de Hawkins",
                        "form_answers": [
                          {
                            "answer": null,
                            "answered_by": null,
                            "id": 2130,
                            "label": "Texto curto",
                            "model": "Project",
                            "updated_at": "2025-12-16T14:45:52.000000Z"
                          },
                          {
                            "answer": null,
                            "answered_by": null,
                            "id": 2131,
                            "label": "Texto longo",
                            "model": "Project",
                            "updated_at": "2025-12-16T14:45:52.000000Z"
                          }
                        ],
                        "frame": {
                          "cockpit_access": 0,
                          "frame_billing_data_id": null,
                          "id": "019aeaa3-2778-73ec-8f8d-59d06cc59dca",
                          "logo_img": null,
                          "model_forms": [
                            {
                              "class": "App\\Models\\Project",
                              "id": 377
                            }
                          ],
                          "name": "OlieDev Company ",
                          "old_id": null,
                          "status": 1,
                          "subdomain": "devframe",
                          "type": 2
                        },
                        "frame_id": "019aeaa3-2778-73ec-8f8d-59d06cc59dca",
                        "id": "019b277f-e453-733d-a00e-6d26d444008b",
                        "impact": 5,
                        "is_template": false,
                        "merged_id": null,
                        "name": "Laboratório Hawkins",
                        "old_id": null,
                        "parent_id": null,
                        "share_settings": null,
                        "share_token": null,
                        "status": 1,
                        "updated_at": "2025-12-16T18:49:13.000000Z"
                      },
                      "response": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "response": {
                      "type": "string",
                      "example": "<boolean>"
                    }
                  }
                },
                "examples": {
                  "Não autorizado": {
                    "value": {
                      "error": "<string>",
                      "message": "<string>",
                      "response": "<boolean>"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Model não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "response": {
                      "type": "string",
                      "example": "<boolean>"
                    }
                  }
                },
                "examples": {
                  "Model não encontrada": {
                    "value": {
                      "error": "<string>",
                      "message": "<string>",
                      "response": "<boolean>"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Erro de validação",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Access-Control-Expose-Headers": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "private, must-revalidate"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 16 Dec 2025 18:52:00 GMT"
                }
              },
              "Host": {
                "schema": {
                  "type": "string",
                  "example": "api.olie.localhost"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx/1.29.3"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.3.28"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string",
                  "example": "160"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string",
                  "example": "158"
                }
              },
              "expires": {
                "schema": {
                  "type": "string",
                  "example": "-1"
                }
              },
              "pragma": {
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "The descrição must be a string. (and 1 more error)"
                    },
                    "message": {
                      "type": "string",
                      "example": "validation_errors"
                    },
                    "response": {
                      "type": "boolean",
                      "example": false
                    },
                    "validation": {
                      "type": "object",
                      "properties": {
                        "description": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "The descrição must be a string."
                          },
                          "example": [
                            "The descrição must be a string."
                          ]
                        },
                        "impact": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "The impact must not be greater than 10."
                          },
                          "example": [
                            "The impact must not be greater than 10."
                          ]
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Erro de validação": {
                    "value": {
                      "error": "The descrição must be a string. (and 1 more error)",
                      "message": "validation_errors",
                      "response": false,
                      "validation": {
                        "description": [
                          "The descrição must be a string."
                        ],
                        "impact": [
                          "The impact must not be greater than 10."
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "projects",
          "{id}"
        ],
        "summary": "Deletar projeto",
        "description": "Deleta um projeto pelo ID.",
        "operationId": "deletarProjeto",
        "responses": {
          "200": {
            "description": "Response de sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "string",
                      "example": "<boolean>"
                    }
                  }
                },
                "examples": {
                  "Response de sucesso": {
                    "value": {
                      "response": "<boolean>"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "response": {
                      "type": "string",
                      "example": "<boolean>"
                    }
                  }
                },
                "examples": {
                  "Não autorizado": {
                    "value": {
                      "error": "<string>",
                      "message": "<string>",
                      "response": "<boolean>"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Model não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    },
                    "response": {
                      "type": "string",
                      "example": "<boolean>"
                    }
                  }
                },
                "examples": {
                  "Model não encontrada": {
                    "value": {
                      "error": "<string>",
                      "message": "<string>",
                      "response": "<boolean>"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "<string>"
          },
          "description": "ID do projeto"
        }
      ]
    },
    "/api/management/projects": {
      "get": {
        "tags": [
          "projects"
        ],
        "summary": "Listar projetos",
        "description": "Este request é normalmente utilizado para campos de autocomplete, e buscas mais simples, pois é um request que entrega menos informações que uma busca avançada. Se você estiver buscando encontrar projetos baseado em um conjunto de filtros avançados e específicos, considere usar a busca avançada.\n\nPossui paginação e aceita alguns filtros via query params, consulte:\n\n- [Filtro básico](https://docs.olie.ai/api-reference/general/basic-filters)",
        "operationId": "listarProjetos",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "1"
            },
            "description": "Número da página a ser retornada. Começa em 1"
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "30"
            },
            "description": "Quantidade de itens exibidos por página. Define o tamanho da página de resultados"
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string",
              "example": ""
            },
            "description": "Permite aplicar filtros aos resultados da listagem. Use a sintaxe `filter[campo]=valor` para filtrar por campos específicos. Campos disponíveis variam por recurso. Consulte a documentação sobre [filtros básicos](https://docs.olie.ai/api-reference/general/basic-filters)"
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Hopper"
            },
            "description": "Filtrar projetos pelo nome ou código"
          },
          {
            "name": "trashed",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "true"
            },
            "description": "Filtrar deletados"
          },
          {
            "name": "template",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "true"
            },
            "description": "Filtrar projetos templates"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "name"
            },
            "description": "Campo usado para ordenação. Ex: name, created_at, etc."
          },
          {
            "name": "direction",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "asc"
            },
            "description": "Direção da ordenação: asc (crescente) ou desc (decrescente)."
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Access-Control-Expose-Headers": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "private, must-revalidate"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 16 Dec 2025 12:23:39 GMT"
                }
              },
              "Host": {
                "schema": {
                  "type": "string",
                  "example": "api.olie.localhost"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx/1.29.3"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.3.28"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string",
                  "example": "160"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string",
                  "example": "158"
                }
              },
              "expires": {
                "schema": {
                  "type": "string",
                  "example": "-1"
                }
              },
              "pragma": {
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "number",
                          "example": 1
                        },
                        "from": {
                          "type": "number",
                          "example": 1
                        },
                        "last_page": {
                          "type": "number",
                          "example": 3
                        },
                        "per_page": {
                          "type": "number",
                          "example": 30
                        },
                        "to": {
                          "type": "number",
                          "example": 30
                        },
                        "total": {
                          "type": "number",
                          "example": 78
                        }
                      }
                    },
                    "projects": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "budget": {
                            "type": "number",
                            "example": 0
                          },
                          "code": {
                            "type": "string",
                            "example": "P-80"
                          },
                          "contact": {
                            "nullable": true,
                            "example": null
                          },
                          "contact_id": {
                            "nullable": true,
                            "example": null
                          },
                          "costs": {
                            "nullable": true,
                            "example": null
                          },
                          "created_at": {
                            "type": "string",
                            "example": "2025-12-12T19:31:38.000000Z"
                          },
                          "created_by": {
                            "type": "string",
                            "nullable": true,
                            "example": "019aeaa3-2370-731c-9008-be759795f449"
                          },
                          "customer": {
                            "nullable": true,
                            "example": null
                          },
                          "customer_id": {
                            "nullable": true,
                            "example": null
                          },
                          "deleted_at": {
                            "nullable": true,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "example": "Criação rápida"
                          },
                          "executors": {
                            "type": "array",
                            "items": {},
                            "example": []
                          },
                          "form": {
                            "nullable": true,
                            "example": null
                          },
                          "form_answers": {
                            "type": "array",
                            "items": {},
                            "example": []
                          },
                          "frame": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "019aeaa3-2778-73ec-8f8d-59d06cc59dca"
                              },
                              "model_forms": {
                                "nullable": true,
                                "example": null
                              },
                              "name": {
                                "type": "string",
                                "example": "OlieDev Company "
                              },
                              "subdomain": {
                                "type": "string",
                                "example": "devframe"
                              }
                            }
                          },
                          "frame_id": {
                            "type": "string",
                            "example": "019aeaa3-2778-73ec-8f8d-59d06cc59dca"
                          },
                          "funnel_steps": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "created_at": {
                                  "type": "string",
                                  "example": "2025-12-04T18:33:09.000000Z"
                                },
                                "form_id": {
                                  "nullable": true,
                                  "example": null
                                },
                                "funnel_step_blockings": {
                                  "type": "array",
                                  "items": {},
                                  "example": []
                                },
                                "help_text": {
                                  "nullable": true,
                                  "example": null
                                },
                                "id": {
                                  "type": "number",
                                  "example": 3808
                                },
                                "name": {
                                  "type": "string",
                                  "example": "Gestão de Mudanças"
                                },
                                "order": {
                                  "type": "number",
                                  "example": 40
                                },
                                "pivot": {
                                  "type": "object",
                                  "properties": {
                                    "created_at": {
                                      "type": "string",
                                      "example": "2025-12-12T19:31:38.000000Z"
                                    },
                                    "funnel_step_id": {
                                      "type": "number",
                                      "example": 3808
                                    },
                                    "id": {
                                      "type": "number",
                                      "example": 144232
                                    },
                                    "order": {
                                      "type": "number",
                                      "example": 0
                                    },
                                    "project_id": {
                                      "type": "string",
                                      "example": "019b140c-235d-73ee-96df-3d2afbf7d13d"
                                    }
                                  }
                                },
                                "project_funnel_id": {
                                  "type": "number",
                                  "example": 665
                                },
                                "sensation_amount": {
                                  "type": "number",
                                  "example": 25
                                },
                                "sort_config": {
                                  "nullable": true,
                                  "example": null
                                },
                                "step_backward_id": {
                                  "nullable": true,
                                  "example": null
                                },
                                "step_forward_id": {
                                  "nullable": true,
                                  "example": null
                                },
                                "updated_at": {
                                  "type": "string",
                                  "example": "2025-12-04T18:33:09.000000Z"
                                }
                              }
                            },
                            "example": [
                              {
                                "created_at": "2025-12-04T18:33:09.000000Z",
                                "form_id": null,
                                "funnel_step_blockings": [],
                                "help_text": null,
                                "id": 3808,
                                "name": "Gestão de Mudanças",
                                "order": 40,
                                "pivot": {
                                  "created_at": "2025-12-12T19:31:38.000000Z",
                                  "funnel_step_id": 3808,
                                  "id": 144232,
                                  "order": 0,
                                  "project_id": "019b140c-235d-73ee-96df-3d2afbf7d13d"
                                },
                                "project_funnel_id": 665,
                                "sensation_amount": 25,
                                "sort_config": null,
                                "step_backward_id": null,
                                "step_forward_id": null,
                                "updated_at": "2025-12-04T18:33:09.000000Z"
                              }
                            ]
                          },
                          "funnels": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "number",
                                  "example": 665
                                },
                                "name": {
                                  "type": "string",
                                  "example": "Educação Corporativa"
                                },
                                "pivot": {
                                  "type": "object",
                                  "properties": {
                                    "created_at": {
                                      "type": "string",
                                      "example": "2025-12-12T19:31:38.000000Z"
                                    },
                                    "forecast_date": {
                                      "nullable": true,
                                      "example": null
                                    },
                                    "forecast_date_update_count": {
                                      "type": "number",
                                      "example": 0
                                    },
                                    "funnel_status_id": {
                                      "nullable": true,
                                      "example": null
                                    },
                                    "id": {
                                      "type": "number",
                                      "example": 42806
                                    },
                                    "project_funnel_id": {
                                      "type": "number",
                                      "example": 665
                                    },
                                    "project_id": {
                                      "type": "string",
                                      "example": "019b140c-235d-73ee-96df-3d2afbf7d13d"
                                    },
                                    "realized_forecast_date": {
                                      "nullable": true,
                                      "example": null
                                    },
                                    "statuses_at": {
                                      "nullable": true,
                                      "example": null
                                    },
                                    "statuses_by": {
                                      "nullable": true,
                                      "example": null
                                    }
                                  }
                                },
                                "tags": {
                                  "type": "array",
                                  "items": {},
                                  "example": []
                                }
                              }
                            },
                            "example": [
                              {
                                "id": 665,
                                "name": "Educação Corporativa",
                                "pivot": {
                                  "created_at": "2025-12-12T19:31:38.000000Z",
                                  "forecast_date": null,
                                  "forecast_date_update_count": 0,
                                  "funnel_status_id": null,
                                  "id": 42806,
                                  "project_funnel_id": 665,
                                  "project_id": "019b140c-235d-73ee-96df-3d2afbf7d13d",
                                  "realized_forecast_date": null,
                                  "statuses_at": null,
                                  "statuses_by": null
                                },
                                "tags": []
                              }
                            ]
                          },
                          "groups": {
                            "type": "array",
                            "items": {},
                            "example": []
                          },
                          "id": {
                            "type": "string",
                            "example": "019b140c-235d-73ee-96df-3d2afbf7d13d"
                          },
                          "impact": {
                            "type": "number",
                            "example": 10
                          },
                          "is_template": {
                            "type": "boolean",
                            "example": false
                          },
                          "merged_id": {
                            "nullable": true,
                            "example": null
                          },
                          "name": {
                            "type": "string",
                            "example": "Demogorgon"
                          },
                          "old_id": {
                            "nullable": true,
                            "example": null
                          },
                          "parent_id": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "share_settings": {
                            "nullable": true,
                            "example": null
                          },
                          "share_token": {
                            "nullable": true,
                            "example": null
                          },
                          "status": {
                            "type": "number",
                            "example": 1
                          },
                          "tags": {
                            "type": "array",
                            "items": {},
                            "example": []
                          },
                          "tasks": {
                            "type": "array",
                            "items": {},
                            "example": []
                          },
                          "updated_at": {
                            "type": "string",
                            "example": "2025-12-12T19:31:38.000000Z"
                          },
                          "users": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "avatar_url": {
                                  "type": "string",
                                  "example": "https://via.placeholder.com/124x124.png/003388?text=facilis"
                                },
                                "id": {
                                  "type": "string",
                                  "example": "019aeaa3-2370-731c-9008-be759795f449"
                                },
                                "name": {
                                  "type": "string",
                                  "example": "Test User"
                                },
                                "pivot": {
                                  "type": "object",
                                  "properties": {
                                    "created_at": {
                                      "type": "string",
                                      "example": "2025-12-12T19:31:38.000000Z"
                                    },
                                    "project_id": {
                                      "type": "string",
                                      "example": "019b140c-235d-73ee-96df-3d2afbf7d13d"
                                    },
                                    "role": {
                                      "type": "string",
                                      "example": "creator"
                                    },
                                    "updated_at": {
                                      "type": "string",
                                      "example": "2025-12-12T19:31:38.000000Z"
                                    },
                                    "user_id": {
                                      "type": "string",
                                      "example": "019aeaa3-2370-731c-9008-be759795f449"
                                    }
                                  }
                                }
                              }
                            },
                            "example": [
                              {
                                "avatar_url": "https://via.placeholder.com/124x124.png/003388?text=facilis",
                                "id": "019aeaa3-2370-731c-9008-be759795f449",
                                "name": "Test User",
                                "pivot": {
                                  "created_at": "2025-12-12T19:31:38.000000Z",
                                  "project_id": "019b140c-235d-73ee-96df-3d2afbf7d13d",
                                  "role": "creator",
                                  "updated_at": "2025-12-12T19:31:38.000000Z",
                                  "user_id": "019aeaa3-2370-731c-9008-be759795f449"
                                }
                              }
                            ]
                          }
                        }
                      },
                      "example": [
                        {
                          "budget": 0,
                          "code": "P-80",
                          "contact": null,
                          "contact_id": null,
                          "costs": null,
                          "created_at": "2025-12-12T19:31:38.000000Z",
                          "created_by": "019aeaa3-2370-731c-9008-be759795f449",
                          "customer": null,
                          "customer_id": null,
                          "deleted_at": null,
                          "description": "Criação rápida",
                          "executors": [],
                          "form": null,
                          "form_answers": [],
                          "frame": {
                            "id": "019aeaa3-2778-73ec-8f8d-59d06cc59dca",
                            "model_forms": null,
                            "name": "OlieDev Company ",
                            "subdomain": "devframe"
                          },
                          "frame_id": "019aeaa3-2778-73ec-8f8d-59d06cc59dca",
                          "funnel_steps": [
                            {
                              "created_at": "2025-12-04T18:33:09.000000Z",
                              "form_id": null,
                              "funnel_step_blockings": [],
                              "help_text": null,
                              "id": 3808,
                              "name": "Gestão de Mudanças",
                              "order": 40,
                              "pivot": {
                                "created_at": "2025-12-12T19:31:38.000000Z",
                                "funnel_step_id": 3808,
                                "id": 144232,
                                "order": 0,
                                "project_id": "019b140c-235d-73ee-96df-3d2afbf7d13d"
                              },
                              "project_funnel_id": 665,
                              "sensation_amount": 25,
                              "sort_config": null,
                              "step_backward_id": null,
                              "step_forward_id": null,
                              "updated_at": "2025-12-04T18:33:09.000000Z"
                            }
                          ],
                          "funnels": [
                            {
                              "id": 665,
                              "name": "Educação Corporativa",
                              "pivot": {
                                "created_at": "2025-12-12T19:31:38.000000Z",
                                "forecast_date": null,
                                "forecast_date_update_count": 0,
                                "funnel_status_id": null,
                                "id": 42806,
                                "project_funnel_id": 665,
                                "project_id": "019b140c-235d-73ee-96df-3d2afbf7d13d",
                                "realized_forecast_date": null,
                                "statuses_at": null,
                                "statuses_by": null
                              },
                              "tags": []
                            }
                          ],
                          "groups": [],
                          "id": "019b140c-235d-73ee-96df-3d2afbf7d13d",
                          "impact": 10,
                          "is_template": false,
                          "merged_id": null,
                          "name": "Demogorgon",
                          "old_id": null,
                          "parent_id": null,
                          "share_settings": null,
                          "share_token": null,
                          "status": 1,
                          "tags": [],
                          "tasks": [],
                          "updated_at": "2025-12-12T19:31:38.000000Z",
                          "users": [
                            {
                              "avatar_url": "https://via.placeholder.com/124x124.png/003388?text=facilis",
                              "id": "019aeaa3-2370-731c-9008-be759795f449",
                              "name": "Test User",
                              "pivot": {
                                "created_at": "2025-12-12T19:31:38.000000Z",
                                "project_id": "019b140c-235d-73ee-96df-3d2afbf7d13d",
                                "role": "creator",
                                "updated_at": "2025-12-12T19:31:38.000000Z",
                                "user_id": "019aeaa3-2370-731c-9008-be759795f449"
                              }
                            }
                          ]
                        },
                        {
                          "budget": 0,
                          "code": "P-79",
                          "contact": null,
                          "contact_id": null,
                          "costs": null,
                          "created_at": "2025-12-12T19:31:22.000000Z",
                          "created_by": "019aeaa3-2370-731c-9008-be759795f449",
                          "customer": null,
                          "customer_id": null,
                          "deleted_at": null,
                          "description": "Criação rápida",
                          "executors": [],
                          "form": null,
                          "form_answers": [],
                          "frame": {
                            "id": "019aeaa3-2778-73ec-8f8d-59d06cc59dca",
                            "model_forms": null,
                            "name": "OlieDev Company ",
                            "subdomain": "devframe"
                          },
                          "frame_id": "019aeaa3-2778-73ec-8f8d-59d06cc59dca",
                          "funnel_steps": [],
                          "funnels": [],
                          "groups": [],
                          "id": "019b140b-e38e-7207-8016-9bfe6fa1d02f",
                          "impact": 10,
                          "is_template": false,
                          "merged_id": null,
                          "name": "Demogorgon",
                          "old_id": null,
                          "parent_id": null,
                          "share_settings": null,
                          "share_token": null,
                          "status": 1,
                          "tags": [],
                          "tasks": [],
                          "updated_at": "2025-12-12T19:31:22.000000Z",
                          "users": [
                            {
                              "avatar_url": "https://via.placeholder.com/124x124.png/003388?text=facilis",
                              "id": "019aeaa3-2370-731c-9008-be759795f449",
                              "name": "Test User",
                              "pivot": {
                                "created_at": "2025-12-12T19:31:22.000000Z",
                                "project_id": "019b140b-e38e-7207-8016-9bfe6fa1d02f",
                                "role": "creator",
                                "updated_at": "2025-12-12T19:31:22.000000Z",
                                "user_id": "019aeaa3-2370-731c-9008-be759795f449"
                              }
                            }
                          ]
                        },
                        {
                          "budget": 0,
                          "code": "P-78",
                          "contact": null,
                          "contact_id": null,
                          "costs": null,
                          "created_at": "2025-12-12T19:29:36.000000Z",
                          "created_by": "019aeaa3-2370-731c-9008-be759795f449",
                          "customer": null,
                          "customer_id": null,
                          "deleted_at": null,
                          "description": "Criação rápida",
                          "executors": [],
                          "form": null,
                          "form_answers": [],
                          "frame": {
                            "id": "019aeaa3-2778-73ec-8f8d-59d06cc59dca",
                            "model_forms": null,
                            "name": "OlieDev Company ",
                            "subdomain": "devframe"
                          },
                          "frame_id": "019aeaa3-2778-73ec-8f8d-59d06cc59dca",
                          "funnel_steps": [],
                          "funnels": [],
                          "groups": [],
                          "id": "019b140a-4503-7141-9e4f-bc720d0f09a3",
                          "impact": 10,
                          "is_template": false,
                          "merged_id": null,
                          "name": "Demogorgon",
                          "old_id": null,
                          "parent_id": null,
                          "share_settings": null,
                          "share_token": null,
                          "status": 1,
                          "tags": [],
                          "tasks": [],
                          "updated_at": "2025-12-12T19:29:36.000000Z",
                          "users": [
                            {
                              "avatar_url": "https://via.placeholder.com/124x124.png/003388?text=facilis",
                              "id": "019aeaa3-2370-731c-9008-be759795f449",
                              "name": "Test User",
                              "pivot": {
                                "created_at": "2025-12-12T19:29:36.000000Z",
                                "project_id": "019b140a-4503-7141-9e4f-bc720d0f09a3",
                                "role": "creator",
                                "updated_at": "2025-12-12T19:29:36.000000Z",
                                "user_id": "019aeaa3-2370-731c-9008-be759795f449"
                              }
                            }
                          ]
                        },
                        {
                          "budget": 0,
                          "code": "P-77",
                          "contact": null,
                          "contact_id": null,
                          "costs": null,
                          "created_at": "2025-12-12T19:28:32.000000Z",
                          "created_by": "019aeaa3-2370-731c-9008-be759795f449",
                          "customer": null,
                          "customer_id": null,
                          "deleted_at": null,
                          "description": "Criação rápida",
                          "executors": [],
                          "form": null,
                          "form_answers": [],
                          "frame": {
                            "id": "019aeaa3-2778-73ec-8f8d-59d06cc59dca",
                            "model_forms": null,
                            "name": "OlieDev Company ",
                            "subdomain": "devframe"
                          },
                          "frame_id": "019aeaa3-2778-73ec-8f8d-59d06cc59dca",
                          "funnel_steps": [],
                          "funnels": [],
                          "groups": [],
                          "id": "019b1409-4dab-71a4-b8b9-6ca95843e23f",
                          "impact": 10,
                          "is_template": false,
                          "merged_id": null,
                          "name": "dwadaw",
                          "old_id": null,
                          "parent_id": null,
                          "share_settings": null,
                          "share_token": null,
                          "status": 1,
                          "tags": [],
                          "tasks": [],
                          "updated_at": "2025-12-12T19:28:32.000000Z",
                          "users": [
                            {
                              "avatar_url": "https://via.placeholder.com/124x124.png/003388?text=facilis",
                              "id": "019aeaa3-2370-731c-9008-be759795f449",
                              "name": "Test User",
                              "pivot": {
                                "created_at": "2025-12-12T19:28:32.000000Z",
                                "project_id": "019b1409-4dab-71a4-b8b9-6ca95843e23f",
                                "role": "creator",
                                "updated_at": "2025-12-12T19:28:32.000000Z",
                                "user_id": "019aeaa3-2370-731c-9008-be759795f449"
                              }
                            }
                          ]
                        },
                        {
                          "budget": 0,
                          "code": "P-76",
                          "contact": null,
                          "contact_id": null,
                          "costs": null,
                          "created_at": "2025-12-12T19:23:29.000000Z",
                          "created_by": "019aeaa3-2370-731c-9008-be759795f449",
                          "customer": null,
                          "customer_id": null,
                          "deleted_at": null,
                          "description": "Criação rápida",
                          "executors": [],
                          "form": null,
                          "form_answers": [],
                          "frame": {
                            "id": "019aeaa3-2778-73ec-8f8d-59d06cc59dca",
                            "model_forms": null,
                            "name": "OlieDev Company ",
                            "subdomain": "devframe"
                          },
                          "frame_id": "019aeaa3-2778-73ec-8f8d-59d06cc59dca",
                          "funnel_steps": [],
                          "funnels": [],
                          "groups": [],
                          "id": "019b1404-ad0c-73ed-a279-990911f8c308",
                          "impact": 10,
                          "is_template": false,
                          "merged_id": null,
                          "name": "dawijdapwdjaiodjawdoijwdpoaiwjdaiowjdwopdijawpiodajwdoiawjdopawijdaowidjawopdijawdiajwdawijdapwdjaiodjawdoijwdpoaiwjdaiowjdwopdijawpiodajwdoiawjdopawijdaowidjawopdijawdiajwdawijdapwdjaiodjawd",
                          "old_id": null,
                          "parent_id": null,
                          "share_settings": null,
                          "share_token": null,
                          "status": 1,
                          "tags": [],
                          "tasks": [],
                          "updated_at": "2025-12-12T19:23:29.000000Z",
                          "users": [
                            {
                              "avatar_url": "https://via.placeholder.com/124x124.png/003388?text=facilis",
                              "id": "019aeaa3-2370-731c-9008-be759795f449",
                              "name": "Test User",
                              "pivot": {
                                "created_at": "2025-12-12T19:23:29.000000Z",
                                "project_id": "019b1404-ad0c-73ed-a279-990911f8c308",
                                "role": "creator",
                                "updated_at": "2025-12-12T19:23:29.000000Z",
                                "user_id": "019aeaa3-2370-731c-9008-be759795f449"
                              }
                            }
                          ]
                        },
                        {
                          "budget": 0,
                          "code": "P-75",
                          "contact": null,
                          "contact_id": null,
                          "costs": null,
                          "created_at": "2025-12-12T19:23:26.000000Z",
                          "created_by": "019aeaa3-2370-731c-9008-be759795f449",
                          "customer": null,
                          "customer_id": null,
                          "deleted_at": null,
                          "description": "Criação rápida",
                          "executors": [],
                          "form": null,
                          "form_answers": [],
                          "frame": {
                            "id": "019aeaa3-2778-73ec-8f8d-59d06cc59dca",
                            "model_forms": null,
                            "name": "OlieDev Company ",
                            "subdomain": "devframe"
                          },
                          "frame_id": "019aeaa3-2778-73ec-8f8d-59d06cc59dca",
                          "funnel_steps": [],
                          "funnels": [],
                          "groups": [],
                          "id": "019b1404-9ffe-719c-8a9d-08cbd2e94e59",
                          "impact": 10,
                          "is_template": false,
                          "merged_id": null,
                          "name": "dawijdapwdjaiodjawdoijwdpoaiwjdaiowjdwopdijawpiodajwdoiawjdopawijdaowidjawopdijawdiajwdawijdapwdjaiodjawdoijwdpoaiwjdaiowjdwopdijawpiodajwdoiawjdopawijdaowidjawopdijawdiajwdawijdapwdjaiodjawd",
                          "old_id": null,
                          "parent_id": null,
                          "share_settings": null,
                          "share_token": null,
                          "status": 1,
                          "tags": [],
                          "tasks": [],
                          "updated_at": "2025-12-12T19:23:26.000000Z",
                          "users": [
                            {
                              "avatar_url": "https://via.placeholder.com/124x124.png/003388?text=facilis",
                              "id": "019aeaa3-2370-731c-9008-be759795f449",
                              "name": "Test User",
[...]
